[2018-02-06 16:20] srv-twry commented on #631
Duplicate #628

[2018-02-06 20:44] #631 closed

[2018-02-07 10:09] Masquerade0097 commented on #627
@AkshayCHD Ya, please go on.

[2018-02-07 13:10] Masquerade0097 opened #633 "Add Event Statistics feature"
**Is it a ?**

- [x] Feature Request

- [ ] Bug Report

- [ ] Chore

**Parent issue**
#618

**Feature Description**

This is aimed at adding an option for the user to view the event statistics associated to an event.

**Would you like to work on the issue?**

Yes

[2018-02-09 15:28] MLPJ commented on #628
Hi @srv-twry ,
I would like to work on this issue. Is this stikk open?

[2018-02-09 16:20] srv-twry commented on #628
Yeah, it is still open. Please go ahead.

[2018-02-09 16:24] MLPJ commented on #628
ok, i'll contact you if there is any issue.

[2018-02-09 17:47] MLPJ commented on #628
@srv-twry ,
i have signed up through the android app. I got the verification email too. But the verifiaction email doesnot seem to be working.
![image](https://user-images.githubusercontent.com/26664908/36041645-3396091e-0def-11e8-8bff-290ca817a81f.png)
Can you please look into this. I can't work on as nothing is shown when i'm logged into the app. It shows that i'm not verified.

[2018-02-09 21:01] #610 closed

[2018-02-09 21:02] iamareebjamal commented on #628
There's no need to verify the email

[2018-02-09 21:05] MLPJ commented on #628
ok @iamareebjamal

[2018-02-10 02:25] Masquerade0097 opened #634 "Using Server's Regex for Validation"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

**Actual Behaviour**

The ValidationUtils are using a regex that is different from that used by server for validation. This regex filters out most of the invalid urls/emails but they are only a subset of all possible invalid inputs.

**Expected Behaviour**

These should be replaced by the regex used by server for validation.

**W

[2018-02-12 02:49] Masquerade0097 commented on #633
@iamareebjamal I'm getting `Co-organizer access is required` error response when I try to get event statistics of the event I created. This is weird, the organizer who created the event doesn't have Co-organizer access. Also who is the admin? Do i need to request role access from admin?

[2018-02-12 06:34] iamareebjamal commented on #633
I think @shubham-padia can better answer this question

[2018-02-12 07:17] shubham-padia commented on #633
@Masquerade0097 Can you paste the request payload and the response for me.

[2018-02-12 08:03] Masquerade0097 commented on #633
This is the GET request -
https://open-event-api.herokuapp.com/v1/events/699/general-statistics

Headers -
Accept : application/vnd.api+json
Authorization : JWT "token"

This is the response -
`{
    "jsonapi": {
        "version": "1.0"
    },
    "errors": [
        {
            "detail": "Co-organizer access is required.",
            "status": 403,
            "source": {
                "sou

[2018-02-12 08:36] Masquerade0097 commented on #633
Sorry, I think I was using token from another session maybe, I'm able to view the event stats now.

[2018-02-12 16:48] AkshayCHD commented on #600
@Masquerade0097 can i work on this

[2018-02-12 20:02] AkshayCHD commented on #318
@iamareebjamal i am unable to add attendees using postman,
the api endpoint i used is http://open-event-api.herokuapp.com/v1/tickets/332 and  and i am getting
` ` ` <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>405 Method Not Allowed</title>
<h1>Method Not Allowed</h1>
<p>The method is not allowed for the requested URL.</p> ` ` `

but when i use http://open-event-api.herokuapp.com

[2018-02-13 00:20] #601 closed

[2018-02-13 00:21] iamareebjamal commented on #318
Attendees are added via /attendees endpoint

[2018-02-13 15:38] knightcube opened #636 "App closes in the login screen"
**Is it a ?**

- [*] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**
In the signup screen, on tilting the device to landscape mode the app closes on its own.

**Expected Behaviour**
The app should not close.

**Steps to reproduce it**
1) Open the app
2) Click on the "sign up for event" Textview below in the Log in screen
3) Tilt the device in landscape mode
4)

[2018-02-13 15:48] iamareebjamal commented on #636
I cannot reproduce the issue, can you please share the log

[2018-02-13 15:55] #624 closed

[2018-02-13 16:04] knightcube commented on #636
It is not giving any kind of "fatal exception" that generally shows the real error in the logs . So the logs that i have.... i am not sure if it will be helpful or not

[2018-02-13 16:04] knightcube commented on #636
02-13 21:32:21.088 18518-18518/? I/libpersona: KNOX_SDCARD checking this for 10704
02-13 21:32:21.088 18518-18518/? I/libpersona: KNOX_SDCARD not a persona
02-13 21:32:21.090 18518-18518/? E/Zygote: accessInfo : 0
02-13 21:32:21.092 18518-18518/? W/SELinux: SELinux selinux_android_compute_policy_index : Policy Index[2],  Con:u:r:zygote:s0 RAM:SEPF_SECMOBILE_7.0_0010, [-1 -1 -1 -1 0 1]
02-13 21:32:

[2018-02-14 06:55] #627 closed

[2018-02-14 06:56] iamareebjamal commented on #636
OK, please go ahead if you know the solution

[2018-02-14 09:01] AkshayCHD commented on #522
@srv-twry how did you create attendee then, actually i am facing the same issue as you did,
` ` ` <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>405 Method Not Allowed</title>
<h1>Method Not Allowed</h1>
<p>The method is not allowed for the requested URL.</p>  ` ` `

[2018-02-14 09:57] nikit19 opened #638 "App crashes in create new ticket"
**Is it a ?**

- [X] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

In create new ticket if you change the date to an invalid format and then click on "INVALID DATE" or click on the fab to create the ticket,app crashes

**Expected Behaviour**

App should not crash

**Steps to reproduce it**

Create new ticket
Change the start date or end date to an invalid fo

[2018-02-14 11:30] nikit19 opened #640 "No empty check in quantity and price EditTexts"
**Is it a ?**

- [X] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

When we create a new ticket there is no empty check in price and quantity editTexts

**Expected Behaviour**

There should be an empty check just like it is being done in other editTexts

**Steps to reproduce it**

Open create new ticket, select paid.
Give a name and time, and leave the rest o

[2018-02-14 16:46] nikit19 commented on #640
The reason why I thought they shouldn't be empty is because
if quantity is empty it automatically gets a value of 100
![screenshot_20180214-221236](https://user-images.githubusercontent.com/20878145/36216330-7bdd99f6-11d4-11e8-9ea4-9edeb73330e2.png)
and IMO if an event is paid there should be a price

[2018-02-15 00:59] iamareebjamal commented on #640
If API does not restrict this, we cannot do anything. We are just implementors of app for the API, all logic is decided by the server guys, we cannot branch off from the default behaviour, you can discuss this in the gitter channel of opev server if you think this should be default behaviour. All in all, if they need to enforce that no free tickets can be made if event is paid, the API should reje

[2018-02-15 13:31] abhaymaniyar commented on #615
Hello @srv-twry! I would like to work on it. Please let me know if you are not working on it already.

[2018-02-15 14:07] AkshayCHD commented on #628
@MLPJ are you still working on this issue, if not can i take over.

[2018-02-15 14:08] nikit19 commented on #640
Okay,understood

[2018-02-15 14:08] #640 closed

[2018-02-15 14:26] MLPJ commented on #628
@AkshayCHD  yes i'm still working on the issue, but you can work on it too, I think it does not matter if the owner is ok

[2018-02-15 14:39] AkshayCHD commented on #628
@MLPJ  i have no problem with that, but the thing is if i or you make a pull request that fixes the issue then, work of the other person goes in vain. that is why i wanted to ask if i could work on it

[2018-02-15 14:43] MLPJ commented on #628
I'm still working on the issue @AkshayCHD . So I think you better go for another issue then.

[2018-02-16 08:19] #633 closed

[2018-02-16 08:47] Masquerade0097 opened #643 "Update Tests for Create Event Module"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [x] Chore

**Description**

The tests for Event Create Module does not cover the whole module. These should be updated.

**Would you like to work on the issue?**

Yes

[2018-02-17 07:43] AkshayCHD opened #644 "Display Event CodeOfConduct in AboutEventFragment"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

**Actual Behaviour**

The event code of conduct is  not displayed anywhere

**Expected Behaviour**

The event code of conduct should be visible

**Would you like to work on the issue?**

Yes

[2018-02-17 07:44] AkshayCHD commented on #644
@iamareebjamal where should i display this in AboutEventFragment

[2018-02-17 08:38] Masquerade0097 commented on #644
Duplicate #617

[2018-02-17 09:27] #644 closed

[2018-02-17 09:28] AkshayCHD commented on #617
@Masquerade0097 can i work on this??

[2018-02-17 14:35] srv-twry commented on #615
@abhaymaniyar Hi, I am working on it.

[2018-02-17 15:57] srv-twry opened #645 "feat: Add option to delete tickets"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

The API supports deletion of tickets. This should be implemented inside the application also.

**Would you like to work on the issue?**

Yes

@iamareebjamal Is this feature required and more importantly safe ? Since there may be cases when the ticket(Specially paid) have already been

[2018-02-17 16:18] srv-twry commented on #645
On closer inspection, the ```deleteTicket``` method has already been implemented inside the ```TicketsPresenter```.
Closing this one.

[2018-02-17 16:18] #645 closed

[2018-02-17 16:30] Masquerade0097 opened #646 "feat: Add Admin User Statistics"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

**Description**
There should be an option to view user admin statistics in the app.

**Parent**
#618

**Would you like to work on the issue?**
Yes

[2018-02-18 05:29] srv-twry commented on #616
@iamareebjamal While trying to fetch the admin notifications, i am getting a 403 error response. Admin access is required. How to get that ?
I thought the creator of the event is the admin i.e. me but i can't fetch it. Who is the admin then ?

[2018-02-18 05:44] iamareebjamal commented on #616
I think the admin notifications will be for the site-wide admin. @shubham-padia Can you please confirm?

[2018-02-18 05:45] #638 closed

[2018-02-18 06:45] AkshayCHD commented on #619
@srv-twry are you still working on this issue or can i work on this.

[2018-02-18 06:54] Masquerade0097 commented on #617
Sorry, I'll be working on that.

[2018-02-18 09:24] Masquerade0097 commented on #646
@iamareebjamal I'm thinking to making a overflow menu in dashboard toolbar from which user can select to view admin statistics. The reason behind not using the same UI as event statistics is that dashboard is showing details related to a particular event whereas admin stats contains details for the user and his/her collective events. So Admin Statistics fragment after completion will contain Admin

[2018-02-18 09:50] AkshayCHD opened #647 "Add Event speakers list"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

There is no provision for the admin to see the speakers for his event

**Expected Behaviour**

There should be an option in the Navigation drawer for that

**Would you like to work on the issue?**

Yes

[2018-02-18 10:02] Masquerade0097 commented on #646
@shubham-padia @iamareebjamal  Are the Admin Statistics for the server side admin or for this app?

[2018-02-18 10:29] Masquerade0097 opened #648 "Add Session in the app"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

**Description**

This is aimed at implementing all the functionalities related to session shown [here](https://open-event-api.herokuapp.com/#sessions-sessions-collection-post) in the API.

**Would you like to work on the issue?**

Yes

[2018-02-18 10:33] Masquerade0097 commented on #648
@iamareebjamal Is this feature in scope of the app? If yes, then please provide the necessary details.

[2018-02-18 11:12] AkshayCHD commented on #647
@iamareebjamal should i go on with this

[2018-02-18 13:17] srv-twry commented on #619
@AkshayCHD Yes, i intend to work on it.

[2018-02-18 13:19] srv-twry commented on #616
@iamareebjamal It's out of the scope of this app right ? I already implemented it :cry:

[2018-02-18 13:53] srv-twry commented on #619
@iamareebjamal Please suggest where to add the utility to create a copyright for the event and show it once it is created.
PS: The API endpoint of Copyright is separate, so it shouldn't be created at the time of creation of the event IMO.

[2018-02-18 13:54] srv-twry commented on #583
@Masquerade0097 If you aren't working on it, can i go ahead with this ?

[2018-02-19 02:41] iamareebjamal commented on #616
No problem @srv-twry You can request for the user roles and display the section if the user is site wide admin. It is a little off track from the road map, but definitely in the scope as our goal is to encapsulate entire management API in the app

[2018-02-19 02:42] iamareebjamal commented on #646
@Masquerade0097 It can be delayed but is on scope of the app, however not immediately required

[2018-02-19 02:44] iamareebjamal commented on #648
For sessions, tracks would also have to be implemented and more. This is in the original road map, and surely we will look forward to implementing it this summer, but for now let's focus on fixing current bugs and completing the missing functionality as this issue is a big undertaking

[2018-02-19 02:45] iamareebjamal commented on #647
See my response at #648

[2018-02-19 02:46] iamareebjamal commented on #619
Yes I agree. There should be an overflow menu for copyright where there should be an option to create or edit it

[2018-02-19 02:48] #617 closed

[2018-02-19 22:35] MLPJ commented on #628
@srv-twry  @iamareebjamal please review the PR

[2018-02-20 08:15] Masquerade0097 opened #652 "Add FAQ for Event"
**Is it a ?**

**Feature Request**

**Description**

The API suports FAQ for event. This issue is aimed at implementing all the features of an FAQ listed [here](https://open-event-api.herokuapp.com/#faq)

- [x] FAQ List #667
- [x] Create FAQ #677
- [x] Delete FAQ #728

**Would you like to work on the issue?**

Yes

[2018-02-20 08:28] Masquerade0097 commented on #646
@iamareebjamal Ok, so should I implement it now?

[2018-02-20 10:37] iamareebjamal commented on #646
Let's save this for later

[2018-02-20 10:38] #614 closed

[2018-02-21 06:09] leeyh20 commented on #613
Could I try this issue? Thanks!

[2018-02-21 06:13] srv-twry commented on #613
Yeah, please go ahead.

[2018-02-21 18:13] AkshayCHD opened #653 "Show minorder and maxorder details with other ticket details"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

When the ticket details are shown there is no mention of min order and max order values

**Expected Behaviour**

Minorder and Maxorder details should be there

**Would you like to work on the issue?**

Yes

[2018-02-22 15:08] AkshayCHD opened #655 "Add attributes for minorder and maxorder when creating a ticket"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

User has no option to specify minOrder and MaxOrder for the tickets

**Expected Behaviour**

User should have option to specify minOrder and maxOrder

**Would you like to work on the issue?**

Yes

[2018-02-22 18:52] AkshayCHD opened #656 "Show attendee's full information in attendee layout"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

Lot of information in attendee model is not displayed in the UI

**Expected Behaviour**

All model data should be displayed in the ui

**Would you like to work on the issue?**

Yes

[2018-02-22 19:11] simarsingh24 opened #657 "Refresh snackbar displayed up twice when refreshed"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

When refreshed the "Refresh Complete" message pops up twice

**Expected Behaviour**

It should be displayed only once

**GIF of the issue**

![videotogif_2018 02 23_00 35 56](https://user-images.githubusercontent.com/16715499/36558747-04ba40f4-1832-11e8-9ebd-b4c5cbc4c2f7.gif)

**Would you lik

[2018-02-22 20:02] Masquerade0097 commented on #522
@srv-twry Can i work on this, if you arn't? Or maybe we can divide the two tasks.

[2018-02-23 00:13] srv-twry commented on #522
@Masquerade0097 Yeah sure, I'm slightly busy with my midsems.
I can take the order detail and you can take the attendee detail.

[2018-02-23 04:36] #656 closed

[2018-02-23 17:47] Tilak-Shenoy commented on #589
Hi
I would like to look upon this issue

[2018-02-24 13:55] S2606 opened #659 "Add config.gradle file for maintaining package version"
**Is it a ?**

- [ ] Bug Report

- [X] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

![image](https://user-images.githubusercontent.com/18497513/36631112-2a51485a-1998-11e8-9866-56da11cc9663.png)
Currently this is the way for maintaining version of different android packages

**Expected Behaviour**

This might look a bit clumsy in the future so how about creating a new file w

[2018-02-24 13:55] S2606 commented on #659
@iamareebjamal Please do give your review on this.

[2018-02-24 14:43] Masquerade0097 commented on #589
@Tilak-Shenoy Please go ahead.

[2018-02-24 14:53] S2606 opened #660 "Handle UnknownHostExceptionError in Login Screen"
**Is it a ?**

- [X] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

Currently nothing happens on handling this exception

**Expected Behaviour**

Show a snackbar regarding network error and retry option

**Would you like to work on the issue?**

Yes

[2018-02-24 15:03] iamareebjamal commented on #659
Alright, please go ahead

[2018-02-24 15:04] iamareebjamal commented on #660
What is the way to reproduce this bug

[2018-02-25 08:58] #653 closed

[2018-02-26 03:18] Masquerade0097 opened #665 "Show Attendee Model Details in UI"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

**Parent Issue**
#522

**Description**

This is aimed at showing the details present in Attendee model. The API link is [this](https://open-event-api.herokuapp.com/#attendees-attendee-details)

**Would you like to work on the issue?**
Yes

[2018-02-26 07:19] Masquerade0097 opened #667 "Show FAQ List"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

**Parent Issue**
#652

**Description**

There should be a layout to show list of all FAQ related to an event. API reference - [this](https://open-event-api.herokuapp.com/#faq-event-faq-collection-get)

**Would you like to work on the issue?**

Yes

[2018-02-26 07:26] Masquerade0097 opened #668 "Execution Failed for task: transformClassesAndResourcesWithProguardForRelease"
##**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**
When the project is check for Findbugs violations in development branch. This error message appears due to which build fails.
`Execution failed for task 'app:transformClassesAndResourcesWithProguardForRelease'`

**Expected Behaviour**

Build should not fail.

**Steps to reproduce it**

Rum `

[2018-02-26 08:33] Masquerade0097 opened #670 "Update libs version"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [x] Chore

**Description**

There are new library versions available for okhttp, rxjava. These should be updated in the project.

**Would you like to work on the issue?**

Yes

[2018-02-26 11:06] #668 closed

[2018-02-26 12:04] #670 closed

[2018-02-26 13:20] AkshayCHD opened #672 "Add Event feedback option"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

No option to view user feedback for the event.

**Expected Behaviour**

The feedback for the event should be visible

**Would you like to work on the issue?**

Yes

[2018-02-27 03:24] Masquerade0097 commented on #600
Ya, please go on.

[2018-02-27 08:56] #665 closed

[2018-02-27 14:45] AkshayCHD commented on #318
@iamareebjamal i created attendees using the endpoint but still i see no chart or graph

[2018-02-28 12:52] iamareebjamal opened #673 "Update build tools version and dependencies"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [x] Chore

### Chore

**Description**

Update build tools version and dependencies

[2018-02-28 12:55] iamareebjamal opened #675 "Parse port from URL input"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

Port value in URL input while signup does not work

**Expected Behaviour**

Port should be parsed while taking URL input

**Steps to reproduce it**

Try to enter `http://localhost:5000` in URL input

[2018-02-28 13:08] #675 closed

[2018-02-28 13:40] srv-twry commented on #619
@iamareebjamal Where should i show the copyright details ? In the About Event Fragment ?

[2018-02-28 14:02] srv-twry commented on #616
@iamareebjamal
Thank you but any suggestion on how to test it ? I can't test whether the notifications are correctly shown or not.

PS: Apologies for the delayed reply. Was busy with mid-sems

[2018-02-28 15:01] iamareebjamal commented on #616
You can download open-event-server and set it up locally. Then you'll have admin access, but this can be done later if you want to work on higher priority bugs

[2018-02-28 15:01] iamareebjamal commented on #619
Yes

[2018-02-28 16:29] Masquerade0097 opened #677 "Add option to create FAQ for event"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

**Parent Issue**
#652

**Description**

Provide an option by which a user can enter question and answer and create FAQ in the app.

**Would you like to work on the issue?**

Yes

[2018-02-28 18:59] Masquerade0097 opened #678 "test: Create tests for FAQ list module"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [ ] Chore

**Description**

Create unit tests for FAQ module.

**Would you like to work on the issue?**

Yes

[2018-03-01 05:44] #667 closed

[2018-03-01 13:39] arundhati24 opened #679 "HTTP 500 Internal Server Error while signing up"
**Is it a ?**

  Bug Report

### Bug Report

**Actual Behaviour**

Currently, the app displays a HTTP 500 Internal Server Error whenever a new user tries to sign up.

**Expected Behaviour**

The app shouldn't display this error. The user should be able to sign up on the server.

**Steps to reproduce it**

* Open the app
* Click on the Sign up link
* Fill in your credentials
* Click on the Sign Up

[2018-03-01 13:51] iamareebjamal commented on #679
Not an issue of app, it's a server issue

[2018-03-01 13:51] #679 closed

[2018-03-01 13:53] iamareebjamal commented on #679
The dev server may have temporary issues and the production API (api.eventyay.com) is down for a long time

[2018-03-01 19:27] iamareebjamal opened #680 "Change default API URL to dev version"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [x] Chore

### Chore

**Description**

Change the default dev API link from https://open-event-api.herokuapp.com to https://open-event-api-dev.herokuapp.com

The development branch of open event server is now hosted on the second link and thus, all new features and bug fixes will be present there

[2018-03-01 19:37] iamareebjamal opened #681 "Toolbar goes behind the status bar on login screen"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

When typing in any field, the toolbar goes behind the status.

**Expected Behaviour**

It should stay stuck at the top

**Steps to reproduce it**

Type in any text field in login screen

**Screenshots of the issue**

![screenshot-1519932995513](https://user-images.githubusercontent.com/387406

[2018-03-01 19:39] MLPJ commented on #680
@iamareebjamal  do you want to just change the constant BASE_URL?

[2018-03-01 19:39] iamareebjamal opened #682 "Settings fragment should be in backstack"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

When clicking back in settings section, the app shows toast to exit if back is pressed twice

**Expected Behaviour**

The settings fragment should be killed and app should return to the main screen on back press

[2018-03-01 19:41] iamareebjamal opened #683 "Select local timezone by default while creating event"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

The local timezone should be fetched and displayed as default when creating an event

[2018-03-01 19:42] iamareebjamal commented on #680
Yes

[2018-03-01 19:42] MLPJ commented on #680
can I do it?

[2018-03-01 19:46] iamareebjamal commented on #680
Sure

[2018-03-01 19:47] iamareebjamal commented on #652
Solved by #554

[2018-03-01 19:48] iamareebjamal commented on #613
@leeyh20 What's the status of this issue?

[2018-03-01 19:51] iamareebjamal commented on #636
@knightcube What's the status of this issue?

[2018-03-01 19:51] iamareebjamal commented on #615
@abhaymaniyar What's the status of this issue?

[2018-03-01 21:09] MLPJ commented on #681
![image](https://user-images.githubusercontent.com/26664908/36869721-ba113b66-1dc2-11e8-8f5a-6cc73ea148e0.png)
@iamareebjamal  here I can't see the bug, is it android version specific?

[2018-03-01 21:40] MLPJ commented on #682
@iamareebjamal  Can I work on this issue?

[2018-03-01 22:09] iamareebjamal commented on #682
Yes, please go ahead

[2018-03-01 22:10] iamareebjamal commented on #681
Maybe depends on screen size

[2018-03-01 22:39] #680 closed

[2018-03-01 22:43] iamareebjamal opened #686 "Remove activity and fragment instantiation tests"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [x] Chore

### Chore

**Description**

The activity and fragment instantiation tests are flaky and reak with every upgrade of tools. They are used to test the dependency injection and are surely first line of defence to know if the app crashes without any user interaction and the wiring of the app is correct. They also provide a lot of cove

[2018-03-02 01:36] mishuvs commented on #683
Hello @iamareebjamal
Can you please have a look at my PR.

[2018-03-02 02:05] Masquerade0097 commented on #652
@iamareebjamal This issue is for implementing all the features of FAQ that the API supports ie Create, List, Update and Delete operations. Till now only List feature is implemented. So this issue is still unsolved.

[2018-03-02 03:14] knightcube commented on #636
i dont know what happened but now even i cant reproduce the error....so i think we can close this issue

[2018-03-02 07:22] #636 closed

[2018-03-02 11:16] leeyh20 commented on #613
@iamareebjamal Sorry for the late PR, was a bit stuck somewhere. I have created the PR!

[2018-03-02 12:56] iamareebjamal opened #689 "Sort currency list with priority"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

The currency list in event selection is huge and has no priority. It is hard to get the right currency selected.
Proposed enhancements:
- [x] Sort the list with priority (Common currencies on top)
- [x] Select the default Locale's currency as default
- [ ] Add option to search (Auto C

[2018-03-02 13:01] iamareebjamal opened #690 "Event List not updating automatically after creation"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

After an event is created, the list is not updated automatically

**Expected Behaviour**

- [ ] Once the event is created, it's response is the event itself and hence should be saved in the repository on receiving.
- [ ] Then, a change listener should be created in the event list presenter, s

[2018-03-02 13:17] Masquerade0097 commented on #690
@iamareebjamal Can i work on it?

[2018-03-02 13:19] srv-twry commented on #689
I propose the same for the Timezone of the event in the Event creation Fragment. Should i create a similar issue for it also ?

[2018-03-02 13:28] iamareebjamal commented on #690
Sure, please go ahead

[2018-03-02 13:31] iamareebjamal commented on #689
That is already created and being worked upon

[2018-03-02 14:12] srv-twry opened #691 "Add option to create copyright for an Event"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

The API supports Copyright of an Event. The application should provide this feature.

 **Would you like to work on the issue?**

Yes

Parent issue: #619

[2018-03-02 19:46] AkshayCHD commented on #689
@iamareebjamal can i work on it

[2018-03-03 03:06] #683 closed

[2018-03-03 03:10] iamareebjamal commented on #689
@AkshayCHD Please create a child issue for one of the 3 parts and work on that

[2018-03-03 06:44] #613 closed

[2018-03-03 06:58] AkshayCHD opened #694 "Select the default Locale's currency as default"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

Default currency is not being selected by default

**Expected Behaviour**

Default currency should be selected

Please let us know if you can work on it or the issue should be assigned to someone else.

Yes

Parent #689

[2018-03-03 08:17] Masquerade0097 opened #695 "Data Binding gives Null Pointer Exception Warning"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

**Actual Behaviour**

A Data Binding warning is generated while building in the `ticket_create_layout.xml`.

**Expected Behaviour**

Warning should not be produced.

**Steps to reproduce it**

Build the project.

**LogCat for the issue**

`Warning:ticket.maxOrder is a boxed field but needs to be un-boxed to execute String.valueOf

[2018-03-03 09:01] iamareebjamal opened #696 "Remove Observable types from databinding methods"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

A lot of warnings are generated that Observable types should not be present in the parameters of binding methods and the support will be removed in the future

**Expected Behaviour**

Remove the observable types and reimplement the binding methods

[2018-03-03 11:32] #691 closed

[2018-03-03 12:40] Masquerade0097 commented on #696
This issue is already present #603.

[2018-03-03 13:47] #696 closed

[2018-03-03 17:55] AkshayCHD opened #698 "Sort Currency list"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

Currency list is in no particular order

**Expected Behaviour**

Currency list should be sorted

**Would you like to work on the issue?**

Yes

Parent issue #689

[2018-03-03 17:56] AkshayCHD commented on #698
@iamareebjamal in my opinion sorting the list in alphabetical order is the best way

[2018-03-04 03:00] iamareebjamal commented on #698
It should be sorted alphabetically with the special case specified in the parent issue

[2018-03-04 03:01] #695 closed

[2018-03-04 09:43] YashishDua opened #700 "Showing 'null' in Navigation View, if First Name not provided."
**Is it a ?**
- [x] Chore

### Chore

**Description**

Removing 'null' from Navigation View if First Name not provided

**Would you like to work on the issue?**

I would like to work on this issue.

[2018-03-04 11:40] iamareebjamal commented on #700
The API does not enforce this restriction so we can't as well

[2018-03-04 16:15] YashishDua commented on #700
Keeping Null Null is fine?

[2018-03-04 16:27] iamareebjamal commented on #700
We can change the app behaviour where the name is not displayed if it null. Does that sound fine?

[2018-03-04 18:30] mishuvs commented on #565
Sir @iamareebjamal , @srv-twry I want to work on this issue. Can you please help me get started?

[2018-03-04 18:40] srv-twry commented on #565
@mishuvs I believe right now this is out of scope. It would be better to develop features rather than refactoring from MVP to MVVM. Let's wait for what @iamareebjamal has to say though.

[2018-03-04 19:38] iamareebjamal commented on #565
Yes, this can be tacked later

[2018-03-04 19:39] #678 closed

[2018-03-04 19:52] YashishDua commented on #700
Okay, seems valid!
Should I take this issue?

[2018-03-04 20:21] iamareebjamal commented on #700
Sure

[2018-03-04 20:38] mishuvs commented on #565
Alright, @srv-twry @iamareebjamal , I will focus on other issues for now.

[2018-03-04 21:33] srv-twry opened #702 "test: Write tests for copyright module"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

After the creation of the copyright module, we should write tests for it.

- [ ] Copyright Repository test
- [ ] CreateCopyrightPresenter test

**Would you like to work on the issue?**

Yes

Parent issue: #619

[2018-03-04 21:49] srv-twry opened #703 "Save the received copyright in the db when getCopyright is called"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

Currently the call to ```getCopyright``` inside the CopyrightRepository fetches the copyright from the network and returns it.

**Expected Behaviour**

It should also be saved in the database.

**Steps to reproduce it**

NA

**LogCat for the issue**

NA

**Screenshots of the issue**

NA

**An

[2018-03-04 22:06] mishuvs commented on #657
Hi @simarsingh24
I am not able to reproduce the issue. Is it still happening?

[2018-03-04 23:06] mishuvs commented on #553
Hi @TheAlgo
Please close this issue, as it is an issue with the server and not the app. Moreover, the API link in the app is now updated to use the 'dev' API.

[2018-03-05 00:39] mishuvs opened #705 "Remove any one of the two progress bars"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

When swiped down to refresh, two progress bars appear simultaneously (one from the SwipeRefreshLayout, and other from the "included" progressbar_layout.xml)

**Expected Behaviour**

Only one of the progress bars should be displayed as double progress bars make the UI look odd.

**Steps to rep

[2018-03-05 01:16] mishuvs opened #706 "Add Place Picker widget for the 'Create Event Form'"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

Manually copying and pasting, or typing can be a bit tedious. User experience can be improved here.
For the 'Create Event Form', options for Place Picker. Option for location detection using network service or GPS can also be added.

**Would you like to work on the issue?**

Yes

[2018-03-05 01:28] mishuvs opened #707 "Remove redundancy in case of date-time selection in the event creation form"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

Both DatePicker-TimePicker and EditText field is shown. This makes up as a redundant part in the UI, and makes the form look bigger and complex.

**Expected Behaviour**

Only the Pickers should be shown, as they are more user-friendly.

**Screenshots of the issue**

Where-ever possible attach

[2018-03-05 01:57] mishuvs opened #708 "Correct FAB size and position"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

In some screens, 'add' Floating Action Buttons seems to be oddly positioned, squashed to the corner.
As per the Material Design guidelines,"The floating action button should be placed 16dp minimum from the edge on mobile and 24dp minimum on tablet/desktop."

- [ ] In `event_create_layout.xml`

[2018-03-05 02:17] Masquerade0097 commented on #706
@mishuvs I think as it is done in frontend, we used instead use Google Maps API to pick location instead of GPS.

[2018-03-05 02:19] Masquerade0097 commented on #707
@mishuvs This is done because some users may find it time consuming to use the picker widget and search for the date. Insted they can just type in the appropiate date in EditText.

[2018-03-05 03:04] Masquerade0097 opened #709 "Using ViewTransformers instead Observable progress variables"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

Observable variables are being used to indicate progress in copyright_layout and ticket_create_layout.

**Expected Behaviour**
The progress should be shown using View Transformers.

**Would you like to work on the issue?**

Yes

[2018-03-05 05:30] #698 closed

[2018-03-05 05:32] #694 closed

[2018-03-05 05:35] iamareebjamal commented on #705
The problem is that a view only has one showProgress contract and we want a pull to refresh progress indicator, but it does not look good when loading items. What do you propose

[2018-03-05 05:35] iamareebjamal commented on #708
FAB size is normal here

[2018-03-05 05:53] simarsingh24 commented on #657
@mishuvs i am busy with my midsems, it may be possible that the issue has been resolved

[2018-03-05 07:21] Masquerade0097 opened #711 "Making empty strings null in create Copyright form"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

**Actual Behaviour**

The server gives `HTTP 422 UNPROCESSABLE ENTITY` error when any text input field in the create copyright form is empty.

**Expected Behaviour**

Empty strings should be converted to null before submitting the form.

**Steps to reproduce it**

Enter any url and then delete it completely before submitting.

**

[2018-03-05 07:30] Masquerade0097 opened #712 "Providing runtime validation for fields in create copyright form"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

**Actual Behaviour**

When any incorrect url is entered in the url field and the form is submitted the server gives `HTTP 422 UNPROCESSABLE ENTITY`.

**Expected Behaviour**

There should be runtime validation of text input fields so that user can get feedback for incorrect input before submitting the form.

**Steps to reproduce i

[2018-03-05 08:02] Masquerade0097 opened #713 "Update Ticket Create Presenter Test"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [ ] Chore

**Description**

Ticket Create Presenter tests should be updated to test progress bar.

**Would you like to work on the issue?**

Yes

[2018-03-05 09:30] mishuvs commented on #707
@Masquerade0097 @iamareebjamal Can we add a checkbox to show/hide the additional text field? This would make the form smaller and also keep the functionality at the same time.

[2018-03-05 10:09] mishuvs opened #715 "Prevent 'Draft' label from getting truncated"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

The 'Draft' label is not being displayed correctly on some devices. It is getting truncated and making the UI look bad.

**Expected Behaviour**

It should be on one line, without truncation.

**Screenshot of the issue**

![badui](https://user-images.githubusercontent.com/35009811/36969372-4d7

[2018-03-05 10:29] Masquerade0097 commented on #715
I'm not able to reproduce the issue. Can you please add the android version and phone model details?

[2018-03-05 10:40] mishuvs commented on #708
@iamareebjamal sir, thanks for correcting me. I confused with the `ticket_create_layout`'s `mini` size FAB.
I have modified the issue and the title.

[2018-03-05 10:48] mishuvs commented on #715
Oops! I added them now. I think it probably depends on screen size.

[2018-03-05 11:48] mishuvs commented on #705
@iamareebjamal Can we use any of these?
   1. Use `setRefreshing(false)` in the `OnRefeshListener`'s `onRefresh()` method. This one seems to be a concise and better solution.
   2. Change the drawable via reflection (not sure about this one).
   3. We can use a 3rd party library for swipeToRefresh.

[2018-03-05 11:58] mishuvs commented on #657
@simarsingh24 Oh! I just noticed that the issue is not yet resolved. Don't know why it worked fine yesterday.
Are you working on it?

[2018-03-05 13:32] #711 closed

[2018-03-05 13:41] iamareebjamal commented on #705
Still can't understand how any of these will solve both of these being triggered. Can you elaborate?

[2018-03-05 13:43] iamareebjamal commented on #715
Yes, I thought this would be the case. I think we can change the background color to light yellowish to show that the event is draft with a very small `save` icon on the right

[2018-03-05 13:43] iamareebjamal commented on #708
Can you please update the screenshot

[2018-03-05 13:45] iamareebjamal commented on #707
Yes, we can do that

[2018-03-05 14:17] AkshayCHD opened #718 "Remove multiple instances of same surrency from currency list"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

There are multiple instances of the same currency.

**Expected Behaviour**

The should be only one instance of each currency, except the ones which occur prior in the list.

**Would you like to work on the issue?**

Yes

[2018-03-05 15:56] #655 closed

[2018-03-05 16:09] mishuvs commented on #705
Yes. `SwipeRefreshLayout`'s `setRefreshing(false)` is used to tell the widget that the loading has finished i.e. to hide the ProgressBar. The SwipeRefreshLayout's progress bar will be hidden immediately after the refresh is triggered. But the other ProgressBar will keep behaving normally.

This means that as you pull down, the small ProgressBar will be visible and move to show that fragment suppor

[2018-03-05 17:05] mishuvs commented on #706
@Masquerade0097 The PlacesAPI provides a much shorter way of integrating Google's services. MapsAPI will require us to first create a map fragment, set its properties and manually add the markers corresponding to your required locations on this Map object, some methods of PlacesAPI simplify your tasks to a great extent.

Using Maps API, we’ll have to fire queries to GooglePlacesAPI web service, ge

[2018-03-05 17:46] mishuvs commented on #708
I have added the new screenshot. Should we make the ticket FAB bigger? Presently, it's size is 'mini'.

[2018-03-05 18:05] mishuvs commented on #715
Yes, that's a good idea!
Currently, I am occupied with other issues. I will work on this once my work on those is done.

[2018-03-05 18:46] iamareebjamal commented on #708
Yes, we can but I can't see the new screenshot

[2018-03-05 18:47] iamareebjamal commented on #706
Can you add the approximate extra size it'd require to add the library

[2018-03-05 18:48] iamareebjamal commented on #705
OK, sounds good. Looks good. What happens on a screen where there are no items?

[2018-03-06 02:15] mishuvs commented on #705
I found out that in the current state of the app if we swipe down in case of no items, the spinner doesn't appear to move. This is also a UI glitch as the user then won't know that fragment supports SwipeToRefresh feature (in case of no items), unless they accidently swipe down.

Otherwise, it works same as described above in case of no items as well.

[2018-03-06 03:52] mishuvs commented on #708
Oh! sorry, I probably didn't hit update. My bad!
But I have updated now. Please check it, sir.

[2018-03-06 05:13] mishuvs opened #721 "Provide form validation for Create Ticket Form"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

In the 'Minimum Order' field, if the user enters a value which is greater than the value entered in the 'Maximum Order' field, an `HTTP 422 UNPROCESSABLE ENTITY` error is encountered.

**Expected Behaviour**

In the snack bar, instead of the error, the cause of the error should be displayed i

[2018-03-06 07:09] iamareebjamal commented on #705
OK, please go ahead and implement this

[2018-03-06 07:10] iamareebjamal commented on #708
Umm, still same pic

[2018-03-06 07:10] #703 closed

[2018-03-06 07:11] #659 closed

[2018-03-06 07:12] #718 closed

[2018-03-06 07:14] #628 closed

[2018-03-06 07:17] iamareebjamal commented on #721
Please show the log

[2018-03-06 09:53] mishuvs commented on #705
Thanks! I'll send a PR right away.

[2018-03-06 10:03] mishuvs commented on #708
Don't know why this is happening (Is there a max. limit for screenshots?).
Nevertheless, updated again!

[2018-03-06 10:22] iamareebjamal commented on #708
Yup, got it now. And no need to call me sir :smile:

[2018-03-06 12:05] #713 closed

[2018-03-06 12:11] iamareebjamal commented on #634
Server uses marshmallow which uses a very complex regex. I can we can skip it. Also, I am currently working on open event core java library which will have inbuilt validation through `javax.validation` API

[2018-03-06 12:42] mishuvs commented on #705
@iamareebjamal Please review!

[2018-03-06 12:48] mishuvs commented on #708
you are senior :sweat_smile:

Do you approve of the required changes?

[2018-03-06 12:57] mishuvs commented on #721
Updated!

[2018-03-06 13:23] Masquerade0097 opened #725 "test: Unit tests for Create Faq Module"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [ ] Chore

**Description**

Create Unit tests for Create Faq Module

**Would you like to work on the issue?**

Yes

[2018-03-06 13:49] mishuvs commented on #706
Not sure, but from the apk analyzer: places api costs around 11KB (from one of my apps).
However, I think code complexity will still be less in Places API than in  Maps API.

[2018-03-06 14:16] mishuvs opened #726 "Event fragment should be in backstack"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

When any of the fragments corresponding to a particular event is clicked, the app shows toast "Press again to exit"

**Expected Behaviour**

Since the fragments: 'Attendees', 'Tickets', 'About', 'FAQ' correspond to an event, the Event fragment should be on the back stack as per the hierarchy.

[2018-03-06 15:07] YashishDua commented on #700
Okay, I am on it!

[2018-03-06 16:29] iamareebjamal commented on #726
When we don't know which event is selected, we can't show any property related to it

We want the user to always remain in the context of an event. If he wants to change the event context, he may. But the only time it should be outside of event context, it should be the time when it first logs in

[2018-03-06 16:34] iamareebjamal commented on #706
Then go ahead please

[2018-03-06 16:36] iamareebjamal commented on #708
Yes, please go ahead

[2018-03-06 18:49] #677 closed

[2018-03-06 19:14] Masquerade0097 opened #728 "Add option to delete FAQ"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

**Parent Issue**
#652

**Description**

There should be an option in FAQ List Layout to delete an FAQ.

**Would you like to work on the issue?**

Yes

[2018-03-06 21:06] mishuvs commented on #726
Got it! Closing issue.

[2018-03-06 21:06] #726 closed

[2018-03-07 01:42] Masquerade0097 opened #729 "Update FAQ List automatically on FAQ Creation"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

**Actual Behaviour**

On creation of FAQ the FaAQ List doesn't get updated automatically. The user has to refresh the List layout to see the updated list.

**Expected Behaviour**

The list should get updated automatically on creation of FAQ.

**Steps to reproduce it**

1. Create a FAQ.
2. Refresh to see updated FAQ List.

**Andro

[2018-03-07 02:13] mishuvs opened #730 "Implement Sponsors Endpoint"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

Add Sponsors to the project. The API supports it and hence it should be implemented in the app.

- [x] List all the Sponsors (#900)
- [x] Creation of new Sponsor (#930)
- [x] Updation of existing Sponsor (#934)
- [x] Deletion of a Sponsor (#939 )
- [x] Write tests for each feature (#953)

**Would you like to

[2018-03-07 02:50] Masquerade0097 opened #731 "Implement Speaker Call Module features"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

**Description**

The API supports Speakers Call create, list, update, delete operations. These should be implemented in the app followed by tests.

**Would you like to work on the issue?**

Yes

[2018-03-07 02:56] mishuvs opened #732 "Implement spinner for 'Payment Country', choose default, and auto-select 'Payment Currency' using it."
**Is it a ?**

- [x] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

Since we can automatically detect organizer's timezone and currency based on locale, we probably also can auto-fill payment country. Maybe we should make it a spinner, just like timezone and currency instead of a EditText field.

Also, in the present state, country name is not validat

[2018-03-07 04:54] iamareebjamal commented on #732
A spinner would be good. But constraining it to be same as with currency is not a good idea. What we can do is - The spinner for the country is at the top and currency is below and we set the currency when the country is picked but only once and not vice versa

[2018-03-07 12:06] mishuvs commented on #732
I agree! Issue title changed.

[2018-03-07 13:56] Masquerade0097 opened #733 "Migrate Database"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [x] Chore

**Description**

The app's database schema has changed a lot after version 8.0 therefore it should be migrated to a newer version with the latest schema.

**Would you like to work on the issue?**

Yes

[2018-03-07 18:23] AkshayCHD opened #736 "Display event id in the ui"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

No information regarding the event id which might be very useful when accessing api endpoints.

**Expected Behaviour**

Event id should be made visible to the user

**Would you like to work on the issue?**

Yes

[2018-03-07 18:24] AkshayCHD commented on #736
@iamareebjamal i think it is needed, what do you think.

[2018-03-07 18:25] srv-twry opened #737 "feat: Allow updating the copyright"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

Right now, the app supports Creating copyright for an Event. It should also support updating an existing Copyright for an Event.

**Would you like to work on the issue?**

Yes

**Parent issue**

#619

[2018-03-07 18:27] srv-twry opened #738 "feat: Allow deleting the copyright"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

Right now the application supports creating Copyright for an Event. It should also support deleting the copyright.

**Would you like to work on the issue?**

Yes

**Parent issue**

#619

To be done after #737

[2018-03-07 18:39] srv-twry opened #739 "test: Create tests for AboutEventPresenter"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

The unit tests for AboutEventPresenter should be added.

**Would you like to work on the issue?**

Yes

**Parent issue**

#745

[2018-03-07 18:41] AkshayCHD opened #740 "Ticket sale end date should be the event end date"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

The sale end date is set to be 10 days after the event

**Expected Behaviour**

The sale end date should be directly the end date of the event

**Would you like to work on the issue?**

yes

[2018-03-07 18:41] AkshayCHD commented on #740
@iamareebjamal should i work on this, is it needed

[2018-03-07 19:41] iamareebjamal commented on #740
It is set 10 days after the ticket sale start date. Please confirm. If not, please correct it in alignment to what the frontend does

[2018-03-07 19:48] iamareebjamal commented on #736
No, that is not something users need to concern themselves with

[2018-03-07 20:13] Masquerade0097 opened #741 "test: Crate tests for TicketDetailPresenter"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [ ] Chore

**Description**

Create unit tests for TicketDetailPresenter

**Would you like to work on the issue?**

Yes

[2018-03-07 20:14] Masquerade0097 opened #742 "test: Create tests for Organizer Detail module"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [ ] Chore

**Description**

Create unit tests for Organizer detail module.

**Would you like to work on the issue?**

Yes

[2018-03-07 20:18] Masquerade0097 opened #743 "test: Create tests for Validate Utils"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

**Description**

Create unit tests for ValidateUtils class.

**Would you like to work on the issue?**

Yes

[2018-03-07 20:19] Masquerade0097 opened #744 "test: Create tests for StringUtils"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

**Description**

Create unit tests for StringUtils class.

**Would you like to work on the issue?**

Yes

[2018-03-07 20:27] iamareebjamal commented on #744
@Masquerade0097 When not directly working on issues, please try to create a single parent issue with parts and when the implementation is done, branch that particular part with the issue

[2018-03-07 21:12] srv-twry opened #745 "test: Write tests for all the Presenters"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

There are a lot of presenters which don't have Unit tests.

- [x] AboutEventPresenter(#739)
- [x] TicketDetailPresenter(#741)
- [ ] ChartPresenter
- [x] OrganiserDetailPresenter(#742)

**Would you like to work on the issue?**

Yes

[2018-03-08 05:15] Masquerade0097 commented on #744
Ok, I'll take care of that from now onwards.

[2018-03-08 07:12] Masquerade0097 commented on #745
@srv-twry Since this is the parent issue therefore please add Organizer Detail Presenter (#742) in the list. Also, You have added TicketDetailPresenter twice. Please remove one of them.

[2018-03-08 12:11] #702 closed

[2018-03-08 13:53] #729 closed

[2018-03-08 15:56] YashishDua opened #747 "Profile Activity shows null null if First Name not provided"
- [x] Bug

### Bug

**Description**

Profile Activity action bar title contains 'null null' if the first name is not provided by the user.

**Would you like to work on the issue?**

Yes, I would like to work on this issue.

[2018-03-08 15:59] YashishDua opened #748 "FAB present in FAQ Activity not follows Google Design Margin guidelines"
- [x] Chore

### Chore

**Description**

FAB should be anchored with fab margins ( given by Google Design )

![screenshot_2018-03-08-22-37-58-1625209755](https://user-images.githubusercontent.com/20666950/37164882-6e9249be-2321-11e8-9368-93fb2da7eb5d.png)

**Would you like to work on the issue?**

Yes, I would like to fix this issue.

[2018-03-08 16:11] YashishDua opened #749 "Remove "LogIn" from Action Bar title"
- [x] Feature Request

### Feature Request

**Feature Description**

In the Login Activity, instead of showing 'Log In' in action bar title which is very obvious looking at the screen, we can remove the action bar and display a designed textview with "Open Event Orga App from Fossasia".

[2018-03-08 16:44] iamareebjamal commented on #749
The `Log In` provides context as do the other fragments like `Forgot Password` and `Sign Up`

[2018-03-08 16:44] iamareebjamal commented on #748
Which FAB, please provide more context with screenshots

[2018-03-08 16:45] iamareebjamal commented on #747
This is not chore, it's bug

[2018-03-08 16:46] #736 closed

[2018-03-08 17:00] YashishDua commented on #747
Corrected. Should I start working?

[2018-03-08 17:05] iamareebjamal commented on #747
Sure

[2018-03-08 17:07] YashishDua commented on #749
Landing page of application should atleast reveal it's an event management app.

[2018-03-08 17:09] YashishDua commented on #748
Added.
Same is in FAQ and Events Activity.

[2018-03-08 18:15] mishuvs opened #750 "Status bar overlaps profile pic"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

Status bar is overlapping profile picture in the navigation drawer.

**Expected Behaviour**

Should not overlap.

**Screenshot of the issue**

![overlap](https://user-images.githubusercontent.com/35009811/37168384-ba17e138-232a-11e8-8b47-7ffaf4b89484.png)

**Android version and Phone Model**

[2018-03-08 18:29] mishuvs opened #751 "Clicking about option intents to activity, should attach fragment"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

Use fragment when the 'About' option clicked instead of activity, just like is done for other event properties.

**Would you like to work on the issue?**

Yes

[2018-03-08 18:35] AkshayCHD opened #752 "Use link drawable for imageview instead of mail drawable"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

The url edit text in create copyright form have email drawable before them

**Expected Behaviour**

The link drawable should be used for the purpose.

**Would you like to work on the issue?**

Yes

[2018-03-08 20:27] #750 closed

[2018-03-09 09:17] #708 closed

[2018-03-09 16:41] Masquerade0097 opened #754 "bug: OrganizerDetail onResult() getting called twice"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

**Actual Behaviour**

In Organizer Detail Layout, `OnResult()` method is getting called twice on start of Organizer Detail Presenter and on every reload. Firstly it is being called in View Transformers Result method then it's getting called when the Organizer Detail Observable is subscribed in `loadOrganizer()` method.

**Expecte

[2018-03-10 02:42] mishuvs opened #756 "Create Event Form's date-time input label says 'Sale start time', instead of 'Event start time'."
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**
The API mentions `event` has property `starts-at`, which is the event start time. It is not the ticket sale start time `sales-start-time`, which is a ticket's sale start time.

**Expected Behaviour**
It should be either "Event starts at:", or simply "Starts at:".

**Would you like to work on t

[2018-03-10 07:27] #754 closed

[2018-03-10 08:11] mishuvs opened #760 "test: Create tests for ChartPresenter"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [ ] Chore

Create unit tests for ChartPresenter (Parent issue: #745 )

**Would you like to work on the issue?**

Yes

[2018-03-10 08:16] iamareebjamal commented on #760
ChartPresenter is not working correctly right now

[2018-03-10 08:16] #742 closed

[2018-03-10 15:28] mishuvs commented on #760
@iamareebjamal Can I write any other test?

[2018-03-10 15:28] #760 closed

[2018-03-10 17:33] iamareebjamal commented on #760
@mishuvs There are plenty of open issues for tests, contact the OP and ask if they are working on something, and if they are not, take it up

[2018-03-10 17:33] #744 closed

[2018-03-10 17:33] #752 closed

[2018-03-10 17:34] #700 closed

[2018-03-10 18:10] arundhati24 opened #761 "Remove confirmation before exit"
**Actual Behaviour**

Currently, the app displays a toast to prompt the user, in case the user hits the back button.

**Expected Behaviour**

The app should not display any toast or dialog to confirm exit, unless there is some task running in the background (say, download), as this breaks user experience. Moreover, none of the standard apps implement this.

**Would you like to work on the issue?**

[2018-03-10 19:31] iamareebjamal commented on #761
Confirmation before exit is pretty standard for apps which have muti-level navigation within the application and it is quite annoying to be led out of the app when just clicking back to get to the main screen. Sometimes people don't know they are on home screen and just click back couple of times

The apps which don't implement this feature are pretty optimized with initial loading in milliseconds

[2018-03-10 19:39] arundhati24 commented on #761
@iamareebjamal Please have a look at the recent conversation in fossasia/susi_android on Gitter where @mariobehling agreed upon removing this from all android apps. :)

[2018-03-11 06:23] iamareebjamal commented on #761
Alright, go ahead, but as mentioned in the issue, enforce the rule if something is going on in background

[2018-03-11 07:14] mishuvs commented on #760
Thanks! "the OP"?

[2018-03-11 09:50] iamareebjamal commented on #760
Original Poster

[2018-03-11 10:27] #725 closed

[2018-03-11 10:27] #741 closed

[2018-03-11 13:03] mishuvs commented on #751
@iamareebjamal Should I work on this?

[2018-03-11 15:41] iamareebjamal commented on #751
Yes

[2018-03-11 16:34] YashishDua commented on #748
Should I work on this issue?

[2018-03-11 16:37] YashishDua commented on #749
Should I work towards making landing page project it's an event management app?
@iamareebjamal

[2018-03-11 16:44] iamareebjamal commented on #748
Yes

[2018-03-11 16:44] iamareebjamal commented on #749
Yes

[2018-03-11 18:15] YashishDua opened #766 "SoftKeyBoard still open when login button pressed"
- [x] Bug Report

### Bug Report

**Actual Behaviour**

Even when login button is pressed and a progress bar is being shown, soft keyboard is still open!

**Expected Behaviour**

SoftKeyboard should close itself when login button pressed.

**Steps to reproduce it**

1. Fill in both edit text views.
2. Press Login button without pressing back button

**Screenshots of the issue**
![screenshot_2018-0

[2018-03-11 18:29] #747 closed

[2018-03-11 21:55] #739 closed

[2018-03-12 12:11] #634 closed

[2018-03-12 12:29] #743 closed

[2018-03-12 18:10] YashishDua commented on #748
@iamareebjamal Anything missing?

[2018-03-12 19:20] codedsun opened #773 "Adding Icons to Login UI"
**Is it a ?**

- [ ] Bug Report

- [ x ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

There are no icons to the left of the edit texts in the login screen

**Expected Behaviour**

There should be.

**Screenshots of the issue**

**Android version and Phone Model**

6.0, Asus -Zenfone Max3

### Feature Request

Adding Icons to the left of edit text

**Would you like to work on

[2018-03-13 01:42] mishuvs opened #776 "Event time's text size should be smaller than name's in nav-header"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

**Actual Behaviour**

Event name and time have the same size.

**Expected Behaviour**

Event time's text size should be smaller than name's text size.

**Screenshots of the issue**

![name-size](https://user-images.githubusercontent.com/35009811/37317953-c4784102-268d-11e8-9bb2-b73787e57c09.png)

**Would you like to work on the i

[2018-03-13 01:53] mishuvs opened #777 "Email in nav-header should be ellipsized at the end."
**Is it a ?**-head

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

Email text expands to occupy new lines.

**Expected Behaviour**

Should only occupy one line and be ellipsized, if longer.

**Screenshots of the issue**

![longemail](https://user-images.githubusercontent.com/35009811/37318223-5e69d5d6-268f-11e8-8a31-96e2e6c0d5af.png)

**Would you like t

[2018-03-13 02:04] mishuvs opened #778 "Event list doesn't update automatically after event creation"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

Event list doesn't update automatically after event creation.

**Expected Behaviour**

Should refresh immediately after event creation.

**Gif of the issue**

![eventrefresh](https://user-images.githubusercontent.com/35009811/37318493-d8e4c2de-2690-11e8-9cf4-e28c054277ac.gif)

**Would you lik

[2018-03-13 04:09] Masquerade0097 commented on #778
Duplicate #690.

[2018-03-13 04:21] #778 closed

[2018-03-13 04:21] mishuvs commented on #690
@Masquerade0097 Are you working on this?

[2018-03-13 05:31] Masquerade0097 commented on #690
Sorry, I'll work on it.

[2018-03-13 07:00] iamareebjamal commented on #686
@codesun @Masquerade0097 @mishuvs This is a very easy issue. Please someone take it because it is flaky and needs to be resolved first

Also, we have a lot of standing issues, please take up old ones before starting a new issue unless it is a critical bug.

[2018-03-13 07:05] iamareebjamal commented on #748
Your PR contains stale commits

[2018-03-13 07:07] mishuvs commented on #686
Alright, I'll work on this.

[2018-03-13 15:48] leeyh20 commented on #643
@Masquerade0097 Are you still working on this?

[2018-03-14 03:25] YashishDua commented on #748
What do you mean by stale commits?

[2018-03-14 04:05] iamareebjamal commented on #748
Commits irrelevant to PR which have already been merged

[2018-03-14 05:52] Masquerade0097 commented on #643
@leeyh20  No, I'm not. You can work on it, if you like.

[2018-03-14 06:02] leeyh20 commented on #643
@Masquerade0097 Okay I shall try working on this!

[2018-03-14 16:49] #776 closed

[2018-03-14 16:59] YashishDua commented on #748
How to remove that? I am not able to do it.

[2018-03-14 17:04] #707 closed

[2018-03-14 17:05] #773 closed

[2018-03-14 17:06] iamareebjamal commented on #748
Rebase from development branch and add the correct commit to an appropriate feature branch

[2018-03-14 17:46] YashishDua commented on #748
Let me know if they are removed or not.

[2018-03-14 17:47] iamareebjamal commented on #748
Still same, you can see that for yourself
https://github.com/fossasia/open-event-orga-app/pull/767/files 3 files
https://github.com/fossasia/open-event-orga-app/pull/767/commits 9 commits

[2018-03-14 17:54] YashishDua commented on #748
How to remove previous commits that are already pushed?

[2018-03-15 03:55] mishuvs commented on #615
I think this issue is resolved. @iamareebjamal Please close this.

[2018-03-15 04:14] #615 closed

[2018-03-15 07:15] S2606 opened #780 "Error 404 found on selecting About from nav bar"
**Is it a ?**

- [X] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

After creating event, on selecting about from nav drawer, 404 is being shown on the logs

![image](https://user-images.githubusercontent.com/18497513/37448935-684eeb66-284e-11e8-8695-78f4a1f0996e.png)

**Expected Behaviour**

No error

**Steps to reproduce it**

Create a event
Select about fr

[2018-03-15 07:20] S2606 commented on #780
@iamareebjamal Please review

[2018-03-15 07:27] iamareebjamal commented on #780
Not an issue. Copyright isn't present so 404 will be thrown obviously

[2018-03-15 07:27] #780 closed

[2018-03-15 09:23] #756 closed

[2018-03-16 17:00] AkshayCHD opened #781 "Allow user to separate Attendees on the basis of tickets"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

The user can only see attendees sorted by there names

**Expected Behaviour**

User should be allowed to see attendees sorted on the basis of ticket type

**Would you like to work on the issue?**

Yes

[2018-03-17 17:01] AkshayCHD opened #784 "Add sorting in Events List"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

User cannot see event list alphabetically.

**Expected Behaviour**

There should be a feature to sort attendees list alphabetically

**Would you like to work on the issue?**

Yes

[2018-03-19 07:58] sridharjajoo opened #789 "Toolbar title reduces on screen rotation"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**
On screen rotation the title of the toolbar reduces in size.

**Expected Behaviour**
It shouldn't reduce.

**Would you like to work on the issue?**
Yes!

[2018-03-19 08:01] sridharjajoo opened #790 "Adding shared element transition to profile"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**
I would like to add a shared element transition to the profile picture when it is selected.

**Would you like to work on the issue?**
Yes!

[2018-03-19 08:03] sridharjajoo opened #791 "Improve the UI of FAQ section"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**
Currently the UI of FAQ section is quite plain .I would like to add cardviews for each set of question and answers and make it more appealing.

**Would you like to work on the issue?**
Yes!

[2018-03-19 09:05] iamareebjamal commented on #789
This was already discussed in other apps and is a default behaviour of Support Lib

[2018-03-19 09:43] sridharjajoo commented on #789
@iamareebjamal Should I close this issue or can I submit a path for it?

[2018-03-19 11:13] #789 closed

[2018-03-19 12:31] AkshayCHD opened #792 "Implement sorting in tickets list"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

No custom sorting feature is avaliable in tickets activity

**Expected Behaviour**

Custom sorting feature should be there in tickets list

**Would you like to work on the issue?**

Yes

[2018-03-19 15:34] sridharjajoo opened #793 "Bug in Display of ticket"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**
After creation of a ticket , go to that particular ticket which has been created and select that.
The minimum and maximum order are always the same irrespective of what has been entered earlier.

**Screenshots of the issue**
![screenshot_2018-03-19-21-00-10-994_com miui gallery](https://user-i

[2018-03-19 15:42] Prashant-Chaurasia commented on #682
@iamareebjamal As the assigned person has not done any work and not sent any PR, therefore, I request you assign me this issue. Also, I would suggest that we should add backstack for every fragment call and pressing back button should lead to main screen, that is, dashboard. And from dashboard user can exit. I have already done the backstack part.

[2018-03-19 16:30] YashishDua opened #794 "Login Button Color"
**Is it a ?**

- [x] Feature Request

### Feature Request

**Feature Description**

Log In button color should be same a sign-up color i.e ( shade of green )

![screenshot_2018-03-19-21-47-27-1467687999](https://user-images.githubusercontent.com/20666950/37608566-e8d681fc-2bc0-11e8-9795-71329829568b.png)
![screenshot_2018-03-19-21-47-32-1152599258](https://user-images.githubusercontent.com/2066695

[2018-03-19 16:47] iamareebjamal commented on #682
Please go ahead but every fragment to backstack is not a good strategy, it can lead to complicated and nested navigation. Each fragment already leads to dashboard when clicking back button except Setting

[2018-03-19 16:48] iamareebjamal commented on #794
We have deliberately made it so

[2018-03-19 16:52] Prashant-Chaurasia commented on #682
No, clicking back button in any fragment asks "Press again to exit". And again clicking the button lets exits out of the app.

[2018-03-19 17:10] iamareebjamal commented on #682
OK, then implement it

[2018-03-19 18:18] YashishDua opened #795 "Ticket UI"
**Is it a ?**

- [x] Feature

### Feature

**Description**

Date and Time should be presented primarily. UI must be modified accordingly.

**Would you like to work on the issue?**

Yes, I would like to work on this issue.

[2018-03-19 19:01] sridharjajoo opened #797 "Adding Confirm Password in SignUp"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**
There should be a confirm password screen in the sign up section of the app

**Description**
Currently there is no confirm password section.After a password is entered , there should be a confirm password edit text as well to check whether both of them match.

**Would you like to work

[2018-03-19 19:02] sridharjajoo commented on #797
@iamareebjamal I want to work on this issue

[2018-03-20 01:50] iamareebjamal commented on #795
Can't understand the issue. Please explain the issues properly in description

[2018-03-20 01:53] #793 closed

[2018-03-20 01:53] iamareebjamal commented on #797
Please go ahead

[2018-03-20 05:32] sridharjajoo commented on #791
@iamareebjamal I want to work on this issue.

[2018-03-20 05:57] Prashant-Chaurasia commented on #682
@iamareebjamal Please review this PR.

[2018-03-20 06:38] sridharjajoo opened #800 "Not able to perform unit tests from command line"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**
If trying to perform unit tests from command line (./gradlew test , ./gradlew check etc.) an error get thrown up that

FAILURE: Build failed with an exception.
* What went wrong:
Could not determine java version from '9.0.1'.

**Steps to reproduce it**
perform the ./gradlew test from cmd.

@ia

[2018-03-20 06:43] Masquerade0097 commented on #800
Please run `./gradlew androidCheck` in terminal instead.

[2018-03-20 07:26] Prashant-Chaurasia opened #801 "UsePicker (date and time) checkbox in Create Ticket fragment."
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**
In the create ticket fragment there should be a usepicker checkbox which on clicking will enable date/time picker as is the case in the create event page. As of now create ticket displays both the picker as well as in the text format.

### Screenshots

**Create Event**
![screenshot_201

[2018-03-20 07:29] sridharjajoo commented on #800
@Masquerade0097 No , it doesn't work

[2018-03-20 07:51] iamareebjamal commented on #800
Are you using Java 9?

[2018-03-20 07:58] sridharjajoo commented on #800
@iamareebjamal Yes!

[2018-03-20 08:01] iamareebjamal commented on #682
The build is failing, please fix it first

[2018-03-20 08:08] iamareebjamal commented on #791
Please go ahead

[2018-03-20 08:11] SahanMonaara opened #802 "Blurry placeholder image in Profile"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

I would like to add a good placeholder for profile image in OrganizerDetailedActivity and the Organizer can change the image when they want.

**Screenshots of the issue**
![screenshot_2018-03-20-13-37-07](https://user-images.githubusercontent.com/23328262/37642746-56072e92-2c44-11e8-8

[2018-03-20 08:25] iamareebjamal commented on #802
Please elaborate the issue

Profile Image and placeholder already exist in Profile Section
![screenshot-1521534251333](https://user-images.githubusercontent.com/3874064/37643363-420f2fb4-2c46-11e8-8b8e-ff613daa8a84.jpg)

[2018-03-20 09:44] SahanMonaara commented on #802
For some phones the place holder is blured. and can't change the profile picture by the organizer.

[2018-03-20 09:56] iamareebjamal commented on #802
OK, please split the issue into 2

[2018-03-20 11:14] SahanMonaara commented on #802
- [ ] Changing The Profile Place Holder

- [ ] Enabling Change Profile Picture For The User

[2018-03-20 12:07] iamareebjamal commented on #802
Please create a new issue for second part is what I meant by splitting

[2018-03-20 12:34] SahanMonaara commented on #802
Okay

[2018-03-20 12:36] SahanMonaara opened #803 "Adding Place Holder for Profile Picture"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

Adding a good profile picture holder.

**Would you like to work on the issue?**

Yes

[2018-03-20 13:31] iamareebjamal commented on #748
@YashishDua Status?

[2018-03-21 07:07] KumarBusem opened #804 "Adding Splash Screen to the App"
**Is it a ?**

- [ ] Bug Report

-  [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

Currently Open-event-orga-app doesn't have Splash screen (Introduction). So, i want to add designed splash screen with logo

![splash_screen copy](https://user-images.githubusercontent.com/34413376/37697792-daa5b52c-2d04-11e8-8f6a-90d0b6006e91.png)

[2018-03-21 08:09] KumarBusem opened #805 "Improve GUI for Login & Sign Up page and Adding Contact Us button"
**Is it a ?**

- [ ] Bug Report

-  [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**
I will redesign the entire Login and Sign Up page with an image sporting our logo inspired by the already chosen color scheme. Adding Contact Us and Forgot Password directable to the Login page and Sign Up page.
![login_screen copy](https://user-images.githubusercontent.com/34413376/3

[2018-03-21 08:13] iamareebjamal commented on #805
The remember pass is a complicated option. How will you implement it. Also, a header image is a non standard UI. I'm not sure that's be great. Also, round buttons as well are non standard

[2018-03-21 08:31] KumarBusem commented on #805
remember password is complicated but I know how to implement that feature
example:

SharedPreferences.Editor editor;
editor=sharedPreference.edit();
ed.setText(sharedPreference.getString("username",""));
textInputLayout.getEditText().setText(sharedPreference.getString("password",""));

if(remember.isChecked())
{
    editor.putString("username",name);
    editor.putString("password",pass);
    edit

[2018-03-21 08:50] iamareebjamal commented on #805
This is barely scratching the surface of complexity. Remember password means that once the user is logged out after some time, you should log him in with the stored password. Also when the user explicitly logs out. What should be the behavior? Should we clear out the password? Or let it be there. Handling passwords is a risky business and should be implemented carefully

Anyone with ADB can view s

[2018-03-21 12:24] sridharjajoo commented on #805
@iamareebjamal How about using Android Keystore to save the passwords?They will be more secure in this way.

[2018-03-21 12:39] iamareebjamal commented on #805
Yes that's better solution

[2018-03-21 12:56] KumarBusem commented on #805
yes, that's the better way and i will work on it

On Wed, Mar 21, 2018 at 6:09 PM, Areeb Jamal <notifications@github.com>
wrote:

--

*Thanks and Regards.,*
*Kumar Busem*

[2018-03-21 14:52] sridharjajoo opened #806 "Multiple progress bar appearing on refreshing"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**
While refreshing the profile of the organizer multiple progress bars can be seen.

**Expected Behaviour**
Single progress bar (circle) should be shown.

**Screenshots of the issue**
![whatsapp image 2018-03-21 at 20 21 16](https://user-images.githubusercontent.com/20684618/37716845-792b3ee8-2d

[2018-03-21 14:52] sridharjajoo commented on #806
@iamareebjamal I would like to work on this issue.

[2018-03-21 15:07] iamareebjamal commented on #806
There was an issue similar to this. Please find that and mention me, I'll open it

[2018-03-21 15:07] #806 closed

[2018-03-21 15:13] sridharjajoo commented on #705
@iamareebjamal This issue is similar one but the multiple progress bar here are present in the dashboard.

[2018-03-21 17:12] Masquerade0097 commented on #712
@iamareebjamal I implemented the runtime verification for fields but due to variable size of Base Bottom Sheet Dialog, when there is an error in textInputFields while typing the size of textInputLyout increases to show the error message which causes the increase in size of baseBottomSheetDialog and creates bad UX. Can I make it a proper fragment?

[2018-03-21 17:18] iamareebjamal commented on #712
Yes, please make it a fragment

[2018-03-21 17:19] Masquerade0097 commented on #731
@iamareebjamal Where should I provide an option for that, in the drawer? I think sice it is an enhancement to Speakers therefore it should be in the overflow menu in Speakers list layout but Speakers isn't implemented yet so where should I implement it?

[2018-03-21 17:20] iamareebjamal commented on #731
Yes, that's why we should leave it till speakers are implemented

[2018-03-21 18:33] FladaDevs commented on #795
In Ticket User Interface, all sort of information is having some text properties. Time and date which are most important are not able to look primarily. We need to make changes in UI so that date and time could be seen easily.

[2018-03-21 18:35] iamareebjamal commented on #795
Not sure how time and date are the most important for ticket.

[2018-03-21 18:37] FladaDevs commented on #795
I guess an attendee will open the ticket only to see its time and date.

[2018-03-21 18:39] iamareebjamal commented on #795
Yeah that's what I am not sure of. This app is not for attendees and nevertheless you don't buy a ticke to look at the date

[2018-03-21 18:50] FladaDevs commented on #795
Sorry, I meant organizer will open the ticket to see some major details. Even if it's not date and time, at least we could separate and color code things to make them at least presentable.

[2018-03-21 19:05] YashishDua commented on #795
I used my another account to comment here, by mistake! ignore that,

[2018-03-22 02:33] iamareebjamal commented on #795
Please add a mock UI for what you are proposing

[2018-03-22 05:51] sridharjajoo commented on #690
@Masquerade0097 Are you working on it?

[2018-03-22 06:08] DhruvamSharma opened #807 "Sign up not possible."
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

Not able to sign up for the app in Moto G5 even with a good internet connection.

**Expected Behaviour**

When creating a new account, the app should allow the user to sign in to the app.

**Screenshots of the issue**

![screenshot_20180322-111727](https://user-images.githubusercontent.com/18

[2018-03-22 06:18] DhruvamSharma opened #808 "Able to edit all the fields while processing signup"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

When sign up process is taking place, I could easily type in where the cursor was and change that field. Any user would be confused if that happened.

**Expected Behaviour**

The activity should be frozen while signup and only a loader should be shown.

**Steps to reproduce it**

The screen s

[2018-03-22 06:23] iamareebjamal commented on #807
You are not using the version from development branch. The base URL of the project has changed. eventyay doesn't work anymore

[2018-03-22 06:23] #807 closed

[2018-03-22 06:26] iamareebjamal commented on #808
It's already disabled when signing in

[2018-03-22 06:26] #808 closed

[2018-03-22 06:26] DhruvamSharma commented on #808
Thank you :D

[2018-03-22 06:29] #800 closed

[2018-03-22 09:16] Masquerade0097 commented on #690
@sridharjajoo  No.

[2018-03-22 10:44] iamareebjamal opened #809 "New release checklist"
- [x] Update README with codacy badge link
- [x] Change package name to com.eventyay.organizer
- [x] Update app version
- [x] Check the app is working correctly
- [x] Merge changes to master branch

[2018-03-22 11:00] #749 closed

[2018-03-22 11:00] #766 closed

[2018-03-22 11:01] #715 closed

[2018-03-22 11:37] sridharjajoo opened #810 "Create CODE_OF_CONDUCT.md"
**Is it a ?**

- [x] Chore

### Chore

**Description**
There should be a CODE_OF_CONDUCT.md file for the given repository.

**Would you like to work on the issue?**
Yes!

[2018-03-22 12:04] sridharjajoo commented on #810
@iamareebjamal Done!

[2018-03-22 12:15] #810 closed

[2018-03-22 13:40] DhruvamSharma opened #811 "Too many colors on create event activity"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Bug Report

In the create form activity, the app has multiple colours thus disturbing the UX of the app.

Please state here what is currently happening.

The colour of start date and end date of an event should be preference_color rather than purple and red.

State here what the feature should enable the user to do.

Change c

[2018-03-22 13:50] sridharjajoo commented on #690
So I am taking up this issue :)

[2018-03-22 14:06] DhruvamSharma opened #814 "Too many errors in README.md"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

The readme.md contains a lot of errors like grammatical mistakes.

Please state here what is currently happening.

The readme should be error-free.

**Would you like to work on the issue?**

Yes, I would like to work on the issue.

[2018-03-22 14:11] DhruvamSharma opened #815 "Removing errors in CODE_OF_CONDUCT.md"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

A simple and small error in CODE_OF_CONDUCT.md

Please state here what is currently happening.

The file should be error-free.

**Would you like to work on the issue?**

Yes, I would like to work on the issue.

[2018-03-22 14:16] DhruvamSharma opened #817 "removing errors in android-dev-setup.md"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

Too many grammatical mistakes in android-dev-setup.md

Please state here what is currently happening.

It should be error-free.

**Would you like to work on the issue?**

Yes, I would like to work on the issue.

[2018-03-22 14:22] DhruvamSharma opened #819 "Removing errors in PULL_REQUEST_TEMPLATE"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

The template currently has 1 grammatical error.

**Expected Behaviour**

The file should be error-free.

**Would you like to work on the issue?**

Yes, I would like to work on the issue.

[2018-03-22 14:29] #815 closed

[2018-03-22 14:29] #817 closed

[2018-03-22 14:29] #819 closed

[2018-03-22 14:31] iamareebjamal commented on #811
This is by design to show color and time in different colors, and is not only present in event create form. Also I'll recommend you wait for approval before implementing issues and sending PRs

You can propose better UI definitely, but after discussions and approval you may implement them

[2018-03-22 14:31] #811 closed

[2018-03-22 14:34] iamareebjamal commented on #803
Please change this with proper description and I'll open it. Thanks

[2018-03-22 14:34] #803 closed

[2018-03-22 14:35] iamareebjamal commented on #805
Please update the issue description accordingly

[2018-03-22 14:35] iamareebjamal commented on #737
@srv-twry Status. Please comment so I may open it

[2018-03-22 14:36] iamareebjamal commented on #738
Please comment when ready

[2018-03-22 14:37] iamareebjamal commented on #619
@srv-twry Please tell us the status

[2018-03-22 14:40] iamareebjamal commented on #745
Since ChartsPresenter is not yet in use, we'll skip this

[2018-03-22 14:40] #745 closed

[2018-03-22 14:58] iamareebjamal commented on #652
@Masquerade0097 Status?

[2018-03-22 15:00] #748 closed

[2018-03-22 15:02] iamareebjamal commented on #790
Please ping when implemented and sent a PR, I'll open the issue. Also, I have seen that you too have claimed a lot of issues, please only pick issues which you can solve within 3-4 days. This keeps issue tracker clean. You can maintain a list of issues locally or discuss on gitter about a potential issue

[2018-03-22 15:02] #790 closed

[2018-03-22 15:05] #660 closed

[2018-03-22 15:06] iamareebjamal commented on #657
@mishuvs @simarsingh24 Status?

[2018-03-22 15:06] #657 closed

[2018-03-22 15:07] sridharjajoo commented on #790
@iamareebjamal Sure .I'll follow it from now onwards

[2018-03-22 15:08] sridharjajoo commented on #791
@iamareebjamal I'll submit a P.R for this till tomorrow.

[2018-03-22 15:10] #646 closed

[2018-03-22 15:13] iamareebjamal commented on #686
No one took this issue even when it is mentioned this is easy? Come on guys, this is handing cake in your hands. Please consider existing issues before creating new ones

@srv-twry @Masquerade0097 @mishuvs @DhruvamSharma @KumarBusem @SahanMonaara @sridharjajoo  @Prashant-Chaurasia @YashishDua

[2018-03-22 15:14] #794 closed

[2018-03-22 15:14] #761 closed

[2018-03-22 15:15] #777 closed

[2018-03-22 15:16] #740 closed

[2018-03-22 15:17] iamareebjamal commented on #643
@leeyh20 Status?

[2018-03-22 15:18] #629 closed

[2018-03-22 15:19] #611 closed

[2018-03-22 15:20] #616 closed

[2018-03-22 15:23] #602 closed

[2018-03-22 15:24] iamareebjamal commented on #686
Don't close, just take this up. We need to reduce the issues and fasten the issue create-pr sent cycle

[2018-03-22 15:24] iamareebjamal commented on #603
@srv-twry @Masquerade0097 @mishuvs @DhruvamSharma @KumarBusem @SahanMonaara @sridharjajoo @Prashant-Chaurasia @YashishDua

Check for the core and high-priority issues first. The older the better

[2018-03-22 15:25] iamareebjamal commented on #593
@srv-twry @Masquerade0097 @mishuvs @DhruvamSharma @KumarBusem @SahanMonaara @sridharjajoo @Prashant-Chaurasia @YashishDua

This needs to be done asap

[2018-03-22 15:26] iamareebjamal commented on #600
@AkshayCHD Status?

[2018-03-22 15:26] #600 closed

[2018-03-22 15:26] iamareebjamal commented on #791
No need to close this

[2018-03-22 15:28] Prashant-Chaurasia commented on #603
I'll do this.

[2018-03-22 15:31] iamareebjamal commented on #603
OK. But please follow rapid cycles of iterations and pass on the issue if not able to implement. I should warn you though that this issue is not beginner friendly and high priority

[2018-03-22 15:32] #571 closed

[2018-03-22 15:32] #567 closed

[2018-03-22 15:32] #566 closed

[2018-03-22 15:32] #565 closed

[2018-03-22 15:32] #564 closed

[2018-03-22 15:33] #563 closed

[2018-03-22 15:34] Prashant-Chaurasia commented on #603
Ya, I'll try to implement this and if I can't then will say this to you.

[2018-03-22 15:34] #583 closed

[2018-03-22 15:35] iamareebjamal commented on #689
@AkshayCHD Status?

[2018-03-22 15:37] iamareebjamal commented on #522
@srv-twry @Masquerade0097 Status? Only order details remain to be shown

[2018-03-22 15:38] #242 closed

[2018-03-22 15:38] #318 closed

[2018-03-22 15:39] #330 closed

[2018-03-22 15:39] #175 closed

[2018-03-22 15:39] #362 closed

[2018-03-22 15:51] iamareebjamal opened #821 "Add separate issue templates"
Current issue template has checkboxes which overshadow github's checklist feature

Github now supports separate issue templates for various occasions. Split the current issue template into 3 parts - bug, feature, and chore

Add 3 corresponding buttons to README in create an issue section where a user can be redirected to new issue template respectively

[2018-03-22 15:56] iamareebjamal opened #822 "Add documentation about contribution and finding issues"
Add documentation on how to contribute by finding issues

The first step should be to check `core` tags, and `high-priority` ones

Then `unimplemented` issues should be checked which got closed due to lack of attention but still need to be implemented.

Then `deferred` issues may be valid now to take up

If no such criteria meets, only then move on to create new issues during an issue hunt. Of cou

[2018-03-22 15:57] #185 closed

[2018-03-22 15:58] #178 closed

[2018-03-22 16:07] #784 closed

[2018-03-22 16:14] #797 closed

[2018-03-22 16:56] sridharjajoo commented on #822
@iamareebjamal We could move the **Contributions Best practices**  from the Readme.md to Contributions.md .I have written the **Issue process** as you have said above and "Pull request process" as well. We can add these 2 sections to the Contributing.md as well.

[2018-03-22 16:57] iamareebjamal commented on #822
OK. Send the PR after you've completed the previously assigned ones

[2018-03-22 17:59] YashishDua commented on #593
I'll take up this issue!

[2018-03-22 18:05] YashishDua commented on #795
Okay, I'll add some mockups in few hours.

[2018-03-22 18:06] iamareebjamal commented on #593
I'll have to warn that this is an extremely complex issue. You'll have to create custom exceptiond and exception mappers and deal with rxjava to convert generic retrofit exception to a specific one

[2018-03-22 18:11] YashishDua commented on #593
Yeah, I'll take care of everything.

[2018-03-22 18:17] KumarBusem commented on #805
ok sir

On Thu, Mar 22, 2018 at 8:05 PM, Areeb Jamal <notifications@github.com>
wrote:

--

*Thanks and Regards.,*
*Kumar Busem*

[2018-03-22 18:27] AkshayCHD opened #824 "Add event Feedback"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

No option to view feedbacks for the event

**Expected Behaviour**

Event feedbacks should be made visible to the user

**Would you like to work on the issue?**

Yes

[2018-03-22 18:37] iamareebjamal commented on #824
Wasn't this issue already created?

[2018-03-22 18:37] #824 closed

[2018-03-22 18:48] AkshayCHD commented on #824
@iamareebjamal Ithought that the issue was closed because there was no response for some time, i have a PR Ready for this and have worked alot on it so i was hoping i could make a new issue and make a pr on that

[2018-03-22 18:52] iamareebjamal commented on #824
Closed issues can be reopened, you know

[2018-03-22 18:53] iamareebjamal commented on #824
Send the PR and I'll open that. Link to the previous issue and not the new one

[2018-03-22 19:09] iamareebjamal commented on #603
Please describe your approach first here that how will you solve it after a bit if researching whever you see fit within about 2 days. Thanks

[2018-03-22 19:16] leeyh20 commented on #643
@iamareebjamal Really sorry for the delay! I'll finalize the PR by tomorrow.

[2018-03-23 02:14] Masquerade0097 commented on #593
@iamareebjamal Sorry for delaying this issue. Please give me a day or two I have a PR almost ready for this.

[2018-03-23 02:16] Masquerade0097 commented on #522
@iamareebjamal I was working on Attendee details and it's completed. @srv-twry can let you know the status for Order Details.

[2018-03-23 02:19] srv-twry commented on #522
Apologies, I have been busy with the exams and then the proposals. I will send the PR in a few days.
In the meantime, if anyone wants to take it, they definitely can.

[2018-03-23 04:13] srv-twry commented on #619
@iamareebjamal Apologies, I have been busy lately with the exams and the proposals.
I will be sending PRs for Updating the copyright followed by deleting the copyright.

[2018-03-23 05:27] ahsan44411 opened #827 "Orga app should allow the organizer to update his/her info from the app."
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

The Application does not allow the organizer to update his profile his/her information.

![screenshot_2018-03-22-19-10-15](https://user-images.githubusercontent.com/30962013/37815487-48ec7912-2e2c-11e8-9a85-2c6219085bb2.png)

Do you want to work on this issue?
Yes

[2018-03-23 05:47] AkshayCHD commented on #689
@iamareebjamal In the third part do i have to remove the spinner and add auto complete textview instead

[2018-03-23 05:50] iamareebjamal commented on #827
Profile picture issue is already open. Please change the description to profile info

[2018-03-23 06:43] iamareebjamal commented on #689
Let's not focus on the 3rd option right now.

[2018-03-23 06:59] ahsan44411 commented on #827
Done Sir!. Actually I might need your help on this, like how should I proceed. I was thinking of adding the menu option under the change password.

![screenshot_2018-03-23-11-57-16](https://user-images.githubusercontent.com/30962013/37815686-17b8a090-2e2d-11e8-911c-5eee5da7dc1e.png)

[2018-03-23 07:00] srv-twry commented on #737
@iamareebjamal Please open it now, I'm ready to send the PR.

[2018-03-23 07:08] sridharjajoo commented on #791
@iamareebjamal Should I implement this type of UI ?
![preview](https://user-images.githubusercontent.com/20684618/37815946-0a8c69fa-2e97-11e8-9aee-be56458eb8bb.gif)

[2018-03-23 07:18] iamareebjamal commented on #827
Add a toolbar option

[2018-03-23 10:20] ahsan44411 commented on #827
Create a new activity which displays the basic info, upon editable text field and an icon on the toolbar to fire that activity? @iamareebjamal

[2018-03-23 18:53] #737 closed

[2018-03-23 18:54] #705 closed

[2018-03-23 20:54] #686 closed

[2018-03-23 21:45] #673 closed

[2018-03-24 07:32] ahsan44411 commented on #827
I won't be working on this. I will add this in my GSOC 18 proposal.

[2018-03-24 07:48] iamareebjamal commented on #827
Hi, working on created issues is very important. You should add the things on our roadmap to your proposal. In fact, we factor contributions in consideration for selection. The more you have contributed, the more chances you have of getting selected. Also, an issue is something we want to be immediately worked upon. You can claim an issue and work on it but you can't halt anyone else to work on it

[2018-03-24 09:42] ahsan44411 commented on #827
Ok I'll start working on it again, sorry. If I have any problem or if I need guidance I'll ask you straight away. Thanks :)

[2018-03-24 10:32] #751 closed

[2018-03-24 13:26] sridharjajoo commented on #690
@iamareebjamal I have implemeted the change listener so that any change in database can be reflected in the list but still the events are not getting shown up.The created event is already getting saved in the repository right?

[2018-03-24 13:41] iamareebjamal commented on #690
Yes

[2018-03-24 17:09] mishuvs opened #831 "bug: App Crashing on start"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

App crashes on start

**LogCat for the issue**
[code]

[2018-03-24 17:58] srv-twry commented on #831
Please attach error log.

[2018-03-24 18:58] Pancham97 opened #832 "Cannot sign up and the issue with Android code."
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

1. When I sign up in the app, it shows "500 internal server error".
2. The Android Source Code shows "NullPointerException" on execution in AVD / device.

**Expected Behaviour**

1. Fix the server side issue and notify the user if he/she is successfully signed up.
2. The expected output of th

[2018-03-24 20:12] iamareebjamal commented on #832
The issue with NPE is already open @Pancham97 at #831

[2018-03-24 21:53] iamareebjamal commented on #832
And about sign up, you are using old API URL

[2018-03-24 21:53] #832 closed

[2018-03-24 22:07] Pancham97 commented on #832
I am using the link that is provided in the `open-event-orga-app` homepage. If that is using an old API, whose fault is it?

[2018-03-24 22:36] #831 closed

[2018-03-24 22:37] iamareebjamal commented on #832
You are not using the development branch version of the app

[2018-03-25 06:35] #721 closed

[2018-03-25 06:38] dr0pdb opened #836 "Bug: StrictMode VmPolicy voilation with POLICY_DEATH"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

On app startup, rotating the screen leads to a crash

**Expected Behaviour**

It shouldn't crash.

**Steps to reproduce it**

1. Open the app
2. Rotate the screen
3. The app crashes.
If it doesn't crash try rotating a couple of times more.

**LogCat for the issue**

[code]

**Screenshots of t

[2018-03-25 06:51] srv-twry opened #837 "Bug: HTTP 422 UNPROCESSABLE ENTITY in Creating Events"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

HTTP 422 UNPROCESSABLE ENTITY when creating Events

**Expected Behaviour**

The Event should be created successfully

**Steps to reproduce it**

Try creating a new event.

**LogCat for the issue**

[code]

**Screenshots of the issue**

![videotogif_2018 03 25_12 20 18](https://user-images.git

[2018-03-25 07:16] iamareebjamal commented on #836
Change `penaltyDeath` to `penaltyLog` in OrgaApplication to get the log of error

I'm trying to fix this as well. This is related to memory leaks

[2018-03-25 07:25] iamareebjamal commented on #836
I think it is related to dependency upgrades. Can you checkout a previous version and confirm?

[2018-03-25 07:31] Prashant-Chaurasia commented on #603
Sir, I am having my exams till 27th, so, I am not able to give proper time to this issue. Give me 3-4 days and I will resolve this one.Also if you could guide me a bit that will be of much help.
Also I searched a bit and found that we may need to change the adapter - `Ticket.java`  and `DateBindings.java`.Maybe we can change the `ObservableField` variable to `String`.
References:
[https://stackove

[2018-03-25 07:33] srv-twry commented on #836
Yes, i think so. I checked out ```HEAD~6``` and it works fine.

[2018-03-25 08:16] iamareebjamal commented on #836
No, it's due to #834, I removed detaching presenters by mistake. Fixing

[2018-03-25 08:25] iamareebjamal commented on #603
That is obvious. But how will you deal with 2 way binding

[2018-03-25 11:31] srv-twry commented on #738
@iamareebjamal Please open this. Ready to send the PR

[2018-03-25 13:05] iamareebjamal commented on #603
That is obvious. But how will you deal with 2 way binding?

[2018-03-25 13:06] #643 closed

[2018-03-25 13:36] iamareebjamal opened #841 "Dynamically color overflow icon in About Event"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

Color is statically black

**Expected Behaviour**

Color should depend on the collapse status

[2018-03-25 14:47] #841 closed

[2018-03-25 14:53] mishuvs commented on #657
I will comment when a PR is ready.

[2018-03-25 18:11] sridharjajoo commented on #822
@iamareebjamal Can I submit a P.R for this as I haven't been able to test the app for event changes (because of 422 error)?

[2018-03-25 18:50] iamareebjamal commented on #822
Yes

[2018-03-25 19:47] #706 closed

[2018-03-26 11:32] sridharjajoo commented on #791
@iamareebjamal I need just a small suggestion. Suppose any question is open (as shown in the above gif) and at the same time we open other question should the previous question be closed or should it remain open?

[2018-03-26 13:01] iamareebjamal commented on #791
Remain open

[2018-03-26 14:11] ahsan44411 commented on #802
You still working on this @SahanMonaara ?

[2018-03-26 14:43] ahsan44411 opened #844 "Unexpected behavior of Application."
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

When the app goes in to landscape mode and comes back to portrait the application closes.

**Expected Behaviour**

When the app goes in to landscape mode and comes back the application should display portrait mode.

**LogCat for the issue**

03-26 19:33:21.964 12934-12934/org.fossasia.eventya

[2018-03-26 20:14] sridharjajoo commented on #791
@iamareebjamal Is this fine? Kindly suggest any changes.

![open_event](https://user-images.githubusercontent.com/20684618/37930388-416e0714-3160-11e8-8694-877c8df6321f.gif)

[2018-03-27 08:19] iamareebjamal opened #845 "Flatten packages"
There is some extra nesting in packages of the app making it difficult to navigate.

- [x] Flatten packages
- [x] Move core packages from common
- [x] Remove presenter interfaces

[2018-03-27 08:58] #845 closed

[2018-03-27 16:39] #791 closed

[2018-03-29 06:16] srv-twry commented on #738
@iamareebjamal Please remove the ```unimplemented``` and ```waiting-for-status``` tags.

[2018-03-29 06:29] srv-twry opened #848 "test: Update tests for Copyright module"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

**Description**

After the addition of new features like Copyright update and delete, the tests also need to be updated.
Following tests need to be updated

- [x] AboutEventPresenterTest
- [x] CopyrightRepositoryTest

**Would you like to work on the issue?**

Yes

**Parent issue**

#619

[2018-03-29 06:33] #738 closed

[2018-03-29 08:17] iamareebjamal opened #849 "Add dagger android support"
Add support for dagger android for automatic injection in activities and fragments

[2018-03-29 08:44] srv-twry opened #852 "fix: Remove static copyright field from the Update Copyright Fragment"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [x] Chore

### Chore

**Description**

There is a static copyright field inside the Update Copyright Fragment. It needs to be removed.
Moreover the following lines are unnecessary
[code]

**Would you like to work on the issue?**

Yes

[2018-03-29 08:55] srv-twry commented on #852
@iamareebjamal How would you suggest resolving the problem ?
I need to pass the copyright variable to the new instance of the ```UpdateCopyrightFragment```. I think it can be passed as a bundle but that would need me to implement ```Parceable``` or ```Serializable``` interface on the Copyright class.
Should i implement Parceable or Serializable or any other approach ?

[2018-03-29 09:01] iamareebjamal commented on #852
Just pass the id and have the presenter load it from the db

[2018-03-29 09:01] #848 closed

[2018-03-29 09:06] #849 closed

[2018-03-29 11:02] iamareebjamal opened #853 "Prepare for MVVM migration"
- [ ] Add ViewModel injection
- [ ] Add ViewModel custom factory

[2018-03-29 12:10] #853 closed

[2018-03-29 13:19] iamareebjamal opened #855 "Fix APK upload on build"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

APKs are not uploaded on build every time

**Expected Behaviour**

Output folder structure of android build process has changed. Accomodate for it

[2018-03-29 13:43] #855 closed

[2018-03-29 14:15] #733 closed

[2018-03-29 16:33] srv-twry commented on #844
@ahsan44411 This should have been resolved now. Can you check and confirm that it has been solved ?
If yes, then close it.

[2018-03-29 16:54] iamareebjamal opened #858 "Change TicketDetailPresenterTest package name"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [x] Chore

### Chore

**Description**

Change `openticket` to `openevent`

**Would you like to work on the issue?**

No

[2018-03-29 19:55] AkshayCHD commented on #522
@srv-twry can I take this issue please?

[2018-03-29 20:25] #781 closed

[2018-03-30 00:35] ahsan44411 commented on #844
I'll check

[2018-03-30 08:38] sridharjajoo commented on #712
@Masquerade0097 Are you working in this ?

[2018-03-30 08:45] sridharjajoo commented on #858
Can I send a P.R?

[2018-03-30 09:29] #852 closed

[2018-03-30 09:29] iamareebjamal commented on #858
yes

[2018-03-30 13:27] nikit19 commented on #821
I would like to work on this issue

[2018-03-30 14:20] iamareebjamal commented on #821
Please go ahead

[2018-03-30 16:46] Masquerade0097 commented on #652
@iamareebjamal Sorry to reply late, didn't see it earlier. Please specify UI details regarding the option to edit or delete.

[2018-03-30 16:52] iamareebjamal commented on #652
What do you have in mind?

[2018-03-30 17:06] sridharjajoo opened #861 "App crashing on Creating new events"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**
When a new event is being created, the app is crashing.

**Steps to reproduce it**
Go to Events and select the FAB to create new events

**LogCat for the issue**
``
 Caused by: java.lang.IllegalArgumentException: No injector was found for org.fossasia.openevent.app.core.event.create.CreateEven

[2018-03-30 17:07] sridharjajoo commented on #861
@iamareebjamal Can I work on this?

[2018-03-30 17:48] Prashant-Chaurasia commented on #603
@iamareebjamal Can you give me some insights as to how should I proceed in this. I researched a bit here and there but didn't found anything which could be helpful to make a two way binding without observablefield.

[2018-03-30 17:58] iamareebjamal commented on #861
Yes

[2018-03-30 17:59] iamareebjamal commented on #861
Add a contributes CreateEventFragment in di modules

[2018-03-30 18:02] iamareebjamal commented on #603
There are a lot of articles on 2 way binding with Data Binding. There's no definitive way. It may be impossible to generalize in some cases, we may move to traditional means of binding in those cases

https://www.bignerdranch.com/blog/two-way-data-binding-on-android-observing-your-view-with-xml/
https://medium.com/@fabioCollini/android-data-binding-f9f9d3afc761
https://medium.com/@douglas.iacovell

[2018-03-30 18:03] #858 closed

[2018-03-30 19:15] sridharjajoo commented on #861
@iamareebjamal The contributeCreateEventFragment is already present in the ActivityBuildersModule

[2018-03-30 19:22] iamareebjamal commented on #861
Does CreateEventActivity implements HasSupportFragmentInjector? If not, add that

[2018-03-30 20:10] AkshayCHD commented on #522
@iamareebjamal i am unable to create an order object,
i am trying to post object
` ` ` {
  "data": {
    "attributes": {
      "payment-mode": "paypal",
      "country": "India",
      "status": "pending",
      "amount": "1"
    },
    "type": "order",
    "relationships": {
      "attendees": {
        "data": [
          {
            "id": "2",
            "type": "attendee"
          }

[2018-03-30 20:56] #821 closed

[2018-03-30 21:17] #861 closed

[2018-03-31 09:35] #712 closed

[2018-03-31 12:45] AkshayCHD commented on #275
@iamareebjamal does this issue include implementing fast adapter for events list, as currently the events list is populated through a simple recycler view adapter

[2018-03-31 13:06] iamareebjamal commented on #275
Right now we don't need any of fast adapter features in event list

[2018-03-31 13:15] AkshayCHD commented on #275
@iamareebjamal so this issue is implemented i think, is there some part left?

[2018-03-31 13:17] #275 closed

[2018-03-31 17:34] Masquerade0097 commented on #652
I think there should be a longClickListener for each item in the list such that on long pressing the item, it get selected and the toolbar shows the option to edit or delete it.
Or Toolbar shows the delete button on clicking which delete button for each item get visible.

[2018-03-31 20:18] mishuvs commented on #732
@iamareebjamal Please open this issue as I want to send a PR.

[2018-04-01 11:43] mishuvs commented on #844
@srv-twry I just checked. Although it doesn't always crashes the first time you perform this action, it does crash if performed repetitively (more than 2-3 times).
Thus, the issue persists.

[2018-04-01 11:44] mishuvs commented on #728
@Masquerade0097 Can I please take this issue?

[2018-04-01 11:50] mishuvs commented on #682
Is work being done on this issue? Can I work?

[2018-04-01 11:53] iamareebjamal commented on #682
Please go ahead @mishuvs

[2018-04-01 11:53] iamareebjamal commented on #728
@mishuvs This is being worked on currently

[2018-04-01 11:54] iamareebjamal commented on #844
This won't work in release apk. This is related to some memory leaks false alarms and issues. Hopefully they'll be fixed when we move to MVVM

[2018-04-01 11:54] #844 closed

[2018-04-01 11:56] #822 closed

[2018-04-01 13:58] sridharjajoo commented on #837
@iamareebjamal I would like to work on this issue. How should I start with it?

[2018-04-01 14:34] iamareebjamal commented on #837
Look at the logs, server is rejecting the generated JSON. Check why and mitigate those issues

[2018-04-01 20:26] #593 closed

[2018-04-02 20:29] srv-twry commented on #690
@sridharjajoo Are you stil working on this ? If no, then i will take it. If yes and still facing the problem, then IMO you should open a WIP PR so that others can point out the mistake if any.

[2018-04-03 00:07] #814 closed

[2018-04-03 00:07] #795 closed

[2018-04-03 00:08] #805 closed

[2018-04-03 00:08] #804 closed

[2018-04-03 00:09] #802 closed

[2018-04-03 01:26] #837 closed

[2018-04-03 09:26] iamareebjamal opened #868 "Decompose navigation from MainActivity"
Remove navigation component from main activity and break into components

[2018-04-03 09:54] sridharjajoo commented on #690
@srv-twry I was actually on this issue but for the past few days the event creation wasn't taking place and hence I was not able to go any further. But since the latest commit event creation is taking place and I will be again working on it. If I encounter any problem I'll surely ask.

[2018-04-03 09:56] #682 closed

[2018-04-03 10:26] iamareebjamal commented on #690
Nevertheless create a WIP PR. The reason list is not updated is because once createventactivity is opened, the database listener(even when it is added), stops listening and one the event is created and the activity is closed, the database loading takes place and for some reason returns the old event list and not the new one

[2018-04-03 10:50] sridharjajoo commented on #690
@iamareebjamal If it's not an issue can I make a WIP PR by day after tomorrow? Actually I don't have my laptop currently.

[2018-04-03 11:00] #868 closed

[2018-04-03 20:30] AkshayCHD commented on #827
@ahsan44411 are you still working on this issue or can i take it up.

[2018-04-03 21:32] iamareebjamal commented on #827
@AkshayCHD Please go ahead

[2018-04-04 03:13] ahsan44411 commented on #827
No I am, I was busy with my mid term exams during the past two weeks.

[2018-04-04 15:40] iamareebjamal commented on #619
Implemented Completely

[2018-04-04 15:40] #619 closed

[2018-04-04 16:16] srv-twry opened #870 "feat: Add Tracks to the project"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

Add Tracks to the project. The API supports it and hence it should be implemented in the app.

**Would you like to work on the issue?**

Yes.

[2018-04-04 16:31] iamareebjamal commented on #870
@srv-twry I encourage to use the new issue creating buttons in README from next time. They save us from using checklist which can be solely used to track progress in issues

[2018-04-04 16:36] srv-twry opened #871 "Allow creation of Tracks in the app"
### Feature Request

**Feature Description**

The app should support creation of Tracks. I propose to implement it in a similar way to the Creation of an Event.

**Would you like to work on the issue?**

Yes

**Parent issue**
#870

To be done after #872

**Update**

[code]

[2018-04-04 20:08] srv-twry opened #872 "Show Tracks under an Event"
### Feature Request

**Feature Description**

Add a TracksFragment listing all the Tracks associated with the Event.

**Would you like to work on the issue?**

Yes

**Parent issue**

#870

[2018-04-05 05:50] ahsan44411 commented on #827
@AkshayCHD you can take the issue, sorry for wasting your time.

[2018-04-05 15:04] AkshayCHD commented on #827
@ahsan44411 no problem :sweat_smile:

[2018-04-06 23:28] iamareebjamal opened #876 "Complete package by feature refactor"
### Chore

**Description**

- Refactor data completely into package by feature
- Break API services into separate components
- Change repository implementations into composition
- Break UtilModel into separate models
- Add/Fix tests for changed components
- Change interface naming style

[2018-04-07 00:13] #876 closed

[2018-04-08 06:08] #672 closed

[2018-04-08 06:10] iamareebjamal opened #879 "FIx PMD and Checkstyle violations"
- [ ] Remove obsolete classes from Jacoco
- [ ] Remove DataBinding warnings
- [ ] Some PMD and checkstyle violations are reported in #825

[2018-04-08 07:52] #728 closed

[2018-04-08 09:58] #879 closed

[2018-04-08 18:18] srv-twry opened #881 "HTTP 401 UNAUTHORIZED while loading Event Statistics"
### Bug Report

**Actual Behaviour**

HTTP 401 UNAUTHORIZED while loading Event Statistics

**Expected Behaviour**

The server shouldn't send this response since i am able to fetch the other data sets. Not sure if the problem is in the app or in the rapidly changing server which may need some time to stablise.

**Steps to reproduce it**

Open Home screen and check logcat

**LogCat for the issue**

[2018-04-08 21:57] #872 closed

[2018-04-09 03:16] Masquerade0097 commented on #731
This was supposed to be implemented after Speakers module right?

[2018-04-09 03:38] Masquerade0097 commented on #730
@mishuvs Are you working on it?

[2018-04-09 05:05] iamareebjamal commented on #731
I will analyse the API and let you know

[2018-04-10 11:17] #827 closed

[2018-04-10 12:21] iamareebjamal opened #883 "No translucent status bar in About Event Activity"
### Bug Report

**Actual Behaviour**

The translucent status bar from About Event Activity is gone

**Expected Behaviour**

About Event Activity should have translucent status bar as it was in previous versions

**Would you like to work on the issue?**

No

[2018-04-10 12:24] iamareebjamal opened #884 "Pressing back on create/edit copyright exits activity"
### Bug Report

**Actual Behaviour**

When pressing back either via soft or hard button, the about event activity is finished.

**Expected Behaviour**

The fragment should be popped from backstack instead.

**Would you like to work on the issue?**

No

[2018-04-10 12:25] iamareebjamal opened #885 "Pressing back on edit organizer details exits activity"
### Bug Report

**Actual Behaviour**

When pressing back either via soft or hard button, the about event organizer is finished.

**Expected Behaviour**

The fragment should be popped from backstack instead.

**Would you like to work on the issue?**

No

[2018-04-10 12:27] iamareebjamal opened #886 "FAQ cards have transparent backgrounds"
### Bug Report

**Actual Behaviour**

FAQ cards have transparent background by default

**Expected Behaviour**

Background of the cards should be white

**Would you like to work on the issue?**

No

[2018-04-10 12:29] iamareebjamal opened #887 "Copyright edit/create items are in about event menu"
### Bug Report

Copyright edit/create items should be on the copyright card instead

**Would you like to work on the issue?**

No

[2018-04-10 12:29] #881 closed

[2018-04-10 13:49] AkshayCHD commented on #887
@iamareebjamal can I work on it

[2018-04-10 13:51] gautamjajoo commented on #885
@iamareebjamal I would like to take it

[2018-04-10 13:52] sridharjajoo commented on #885
@iamareebjamal I would like to take it

[2018-04-10 14:26] Prashant-Chaurasia commented on #886
I would work on this issue.

[2018-04-10 14:54] iamareebjamal commented on #887
Just add icon of edit/delete/add on the card

[2018-04-10 14:57] iamareebjamal commented on #886
Go on

[2018-04-10 14:57] iamareebjamal commented on #885
Go on

[2018-04-11 10:47] mishuvs commented on #884
@iamareebjamal Can I take this up?

[2018-04-11 10:50] iamareebjamal commented on #884
Go ahead

[2018-04-11 10:54] #732 closed

[2018-04-11 10:57] iamareebjamal opened #888 "Refactor Main Presenter into separate components"
### Chore

There are many functionalities in Main Presenter which can be encapsulated in separate modules and hence reduce the responsibilities of it by distributing them

[2018-04-11 11:11] iamareebjamal commented on #652
Should this be closed?

[2018-04-11 11:12] iamareebjamal commented on #603
@Prashant-Chaurasia Status?

[2018-04-11 11:12] mishuvs commented on #730
@Masquerade0097 Yes, I have started.

[2018-04-11 11:37] Masquerade0097 commented on #652
Ya, I'm closing it.

[2018-04-11 11:37] #652 closed

[2018-04-11 11:59] Masquerade0097 commented on #731
The API only has dependence on `event-id` for this module so I guess it can be implemented. What UI should be followed ?

[2018-04-11 12:33] iamareebjamal commented on #731
Just like others

[2018-04-11 13:09] Prashant-Chaurasia commented on #603
@iamareebjamal The warning is no more visible in the current build.

[2018-04-11 13:39] iamareebjamal commented on #603
It is still there nevertheless

[2018-04-11 17:42] #884 closed

[2018-04-13 04:37] #885 closed

[2018-04-13 14:44] srv-twry opened #894 "Dashboard overrides Fragments on screen rotation"
### Bug Report

**Actual Behaviour**

Almost all the Fragments are overridden by the dashboard on Screen rotation. They include

- [ ] Attendees
- [ ] Tickets
- [ ] Feedbacks
- [ ] FAQ
- [ ] Tracks

**Expected Behaviour**

They shouldn't close.

**Steps to reproduce it**

Open any one of the mentioned fragments and rotate the screen

**LogCat for the issue**

N/A

**Screenshots of the issue**

![v

[2018-04-13 14:55] srv-twry commented on #894
@sridharjajoo @mishuvs @AkshayCHD @Prashant-Chaurasia
Feel free to take this one up if you want :smile:

[2018-04-13 17:38] srv-twry commented on #871
@iamareebjamal The form for the Creation of Track needs to have entries for ```color``` and ```font-color``` which would need a color picker.
Which one of the two would you recommend using ?
1. [First](https://github.com/QuadFlask/colorpicker)
2. [Second](https://github.com/eltos/SimpleDialogFragments)
or any other.

[2018-04-13 19:04] iamareebjamal commented on #871
We want this to happen. Each time the create ticket fragment is opened, a new color is generated randomly but it should be bright or dark enough. With the corresponding contrasting color present as text color.

The ability to change or randomly generate other color should be there. If the color is clicked, we will show a dialog to pick color from https://github.com/Pes8/android-material-color-pick

[2018-04-13 21:10] #887 closed

[2018-04-14 09:58] AkshayCHD opened #897 "truncate feedback list to two lines"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

For very long comments the entire screen would be occupied by the same event.

**Expected Behaviour**

All the comments should be truncated to two lines.

**Would you like to work on the issue?**

Yes

[2018-04-14 10:14] AkshayCHD opened #899 "Add option to delete feedback"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

Currently the user cannot delete inappropriate feedbacks

**Expected Behaviour**

User should be allowed to delete feedbacks

**Would you like to work on the issue?**

Yes

**Parent Issue**

#672

[2018-04-14 11:02] iamareebjamal commented on #899
Link parent issue

[2018-04-14 11:09] #871 closed

[2018-04-14 11:55] AkshayCHD commented on #899
@iamareebjamal I am unable to delete feedbacks through the endpoint http://open-event-api-dev.herokuapp.com/v1/feedbacks/4 , I think this is also because the api is undergoing some changes, i would start working on the issue as soon as the problem is solved.

[2018-04-14 12:26] #897 closed

[2018-04-15 14:27] mishuvs opened #900 "List Sponsors for an Event"
### Feature Request

**Feature Description**

List all sponsors for an event using a dedicated SponsorsFragment.

**Would you like to work on the issue?**
Yes

**Parent Issue**
#730

[2018-04-15 16:50] Masquerade0097 opened #902 "feat: List of Sessions for Event"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

**Parent Issue**
#648

**Feature Description**

The user can view list of sessions.

**Would you like to work on the issue?**

Yes

[2018-04-17 08:35] iamareebjamal commented on #689
Let's focus on other issues, they are more important

[2018-04-17 08:35] #689 closed

[2018-04-17 09:07] srv-twry commented on #870
Since my focus is more towards getting familiar with the server codebase, this issue can be taken by someone else, otherwise i would finish this up after i am comfortable with the server.

[2018-04-19 04:45] Masquerade0097 commented on #731
I am busy with Open-Event-Server project for now and will continue working after a week or so. Till then it is open to all.

[2018-04-19 11:07] AkshayCHD commented on #899
@iamareebjamal the issue regarding this has been solved in open-event-server but as per the current functionality of the server, the user who created the feedback, only he can delete it. Not the event organizer, should i look upon how to solve this problem or should it be this way only.

[2018-04-19 11:14] iamareebjamal commented on #899
I think @shubham-padia @SaptakS will be better able to answer this question

[2018-04-19 11:30] AkshayCHD commented on #883
@iamareebjamal shall I take this up or is this issue made for new contributors.

[2018-04-19 11:34] iamareebjamal commented on #883
Please go ahead

[2018-04-19 16:47] #883 closed

[2018-04-19 17:26] AkshayCHD commented on #801
@Prashant-Chaurasia are you still working on it or shall i take it up.

[2018-04-19 17:35] iamareebjamal commented on #801
@AkshayCHD Please go ahead

[2018-04-19 17:50] Prashant-Chaurasia commented on #801
@iamareebjamal I was waiting for your confirmation, that's why I didn't work on this.

[2018-04-19 18:27] AkshayCHD commented on #801
@Prashant-Chaurasia No worries, if you want to implement it please go ahead.

[2018-04-26 14:01] srv-twry opened #905 "Allow updating Tracks"
### Feature Request

**Feature Description**

Allow Updating Tracks in the application

**Would you like to work on the issue?**

Yes

**Parent issue**

#870

[2018-04-26 15:56] yatri1609 commented on #888
Hey, I am new to this so @iamareebjamal  can you please guide me a bit through this? Also, can you suggest some first-timer issues which I can do? Thanks.

[2018-04-26 16:51] yatri1609 opened #906 "Add maps to show location"
**Is it a ?**

- [ ] Bugs

- [x] Feature Request

- [ ] Chores

### Feature Request

**Feature Description**

Add maps to show the location of the event in event details.

**Would you like to work on it?**
Yes, but I will need some guidance from the mentors.

**How would you like to go about?**
I would like to implement a button named as "Show In Maps" in the about_event_detail which will lead to

[2018-04-26 18:39] iamareebjamal commented on #888
@yatri1609 Look at #681 #894 #801 #603 #589

[2018-04-26 20:09] yatri1609 commented on #801
@iamareebjamal  I would like to work on this, but will be able to do it after 30th April reason being I have my end-semester presentations. I hope it is fine. Thanks

[2018-04-27 12:56] brijeshshah13 commented on #681
@iamareebjamal Can you please specify the Android device and version you were using when you faced the bug?

[2018-04-27 13:57] iamareebjamal commented on #681
Marshamallow. Device doesn't matter, anything above lollipop should have same behaviour

[2018-04-28 05:41] brijeshshah13 commented on #681
@iamareebjamal I checked it on Motorola E3 power running 6.0 and Xiomi Redmi Note 4 running 7.0 and it worked fine on both.

[2018-04-28 05:51] iamareebjamal commented on #681
Try to scroll the UI, or directly click on Base URL. The keyboard will push the UI under status bar

[2018-04-28 06:01] sridharjajoo commented on #681
@iamareebjamal Can we set the fitSystemWindows to true in the root layout? This would solve the issue.

[2018-04-28 06:13] brijeshshah13 commented on #681
@sridharjajoo Yes, I'm sending PR for the same.

[2018-04-28 14:39] sridharjajoo commented on #690
@iamareebjamal Should I create a bottomsheetfragment for the creation of new event rather than opening a new activity? I think then the event list will get updated automatically.

[2018-04-28 17:50] sridharjajoo commented on #894
@iamareebjamal I tried using setRetainInstance(true) in the fragments but still the dashboard overrides the fragments on screen rotation.

[2018-04-28 18:53] sridharjajoo opened #909 "Implement Tests for Tracks"
### Chore

**Description**
Currently no tests have been added for the recently implemented CreateTrackPresenter, TracksPresenter and FeedbackListPresenter.

**Would you like to work on the issue?**
Yes!

@iamareebjamal I would like to work on this!

**Parent Issue**
#870

[2018-04-28 19:16] srv-twry commented on #909
@sridharjajoo I am implementing the Tracks module and would be writing the tests for those presenters after i am done with implementing the features first.
Similary i think you can also leave FeedbackListPresenter as well or atleast ask it from the issue creator.

[2018-04-28 19:17] srv-twry commented on #909
Moreover, please use the direct issue templates from the README file instead of the common issue template

[2018-04-28 21:52] iamareebjamal commented on #894
We don't want to use `setRetainInstance(true)`

Look at my comment above regarding why is this happening. Has nothing to do with retaining fragments, activity gets recreated nevertheless

[2018-04-28 21:53] iamareebjamal commented on #909
Please split in 2 issues

[2018-04-28 21:53] iamareebjamal commented on #690
No, the form is too big for BottomSheetView, you can use standard fragment though

[2018-04-29 05:54] sridharjajoo opened #910 "Implement Tests for Feedback"
### Chore

**Description**
Currently no tests have been added for the recently implemented FeedbackListPresenter.

**Would you like to work on the issue?**
Yes!

[2018-04-29 06:07] srv-twry commented on #910
Please link the parent issue also.

[2018-04-29 06:07] srv-twry commented on #909
Please link the parent issue as well.

[2018-04-29 17:34] srv-twry opened #911 "Allow deleting a Track"
### Feature Request

**Feature Description**

Allow deleting a Track

**Would you like to work on the issue?**

Yes

**Parent issue**

#870

[2018-04-29 18:06] sridharjajoo commented on #909
@srv-twry I have created a test shouldShowSuccessOnCreated() and inside it is

    public void shouldShowSuccessOnCreated() {

        Track track = createTrackPresenter.getTrack();
        when(trackRepository.createTrack(track)).thenReturn(Observable.just(track));

        createTrackPresenter.createTrack();

        InOrder inorder = Mockito.inOrder(createTrackView);

        inorder.verify(cre

[2018-04-29 18:15] srv-twry commented on #909
It's hard to say from here.
I guess it could be because of this line in the ```createTrack``` method ->
[code]

[2018-04-29 18:25] iamareebjamal commented on #909
Go ahead

[2018-04-30 04:46] #909 closed

[2018-04-30 20:03] #902 closed

[2018-05-01 09:14] srv-twry opened #914 "Add confirm to delete for Copyright"
### Bug Report

**Actual Behaviour**

The Copyright is deleted as soon as the user clicks on the delete button.

**Expected Behaviour**

There should a confirmation dialog before deleting the copyright.

**Steps to reproduce it**

Create a Copyright(if not present)
Click on the delete button.

**Would you like to work on the issue?**

Yes

**Parent issue**

#619

[2018-05-01 09:16] srv-twry commented on #914
There is also a minor UI issue which can also be tackled in this issue itself. The buttons aren't alligned properly with the title of Copyright
![screenshot_2018-05-01-14-41-15-75](https://user-images.githubusercontent.com/21277837/39467952-4a9974c2-4d4e-11e8-8de6-7ba47a2d25ab.png)

[2018-05-01 09:24] iamareebjamal commented on #914
Also make (C) grey

[2018-05-01 10:35] #911 closed

[2018-05-01 14:27] iamareebjamal commented on #648
Yes that's most important

[2018-05-01 16:19] Masquerade0097 opened #915 "Create Session for a Track"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [ ] Chore

**Feature Description**

Add Option to create a session associated with a track.

**Parent Issue**
#648

**Would you like to work on the issue?**

Yes

[2018-05-01 16:32] yatri1609 commented on #801
@Prashant-Chaurasia , you can work on this if you want as I won't be able to do it till mid of this month.

[2018-05-02 11:01] srv-twry opened #918 "Write tests for TracksRepository"
### Feature Request

**Feature Description**

Now that the Tracks module has been implemented, we should write tests for ```TracksRepository```

**Would you like to work on the issue?**

Yes

**Parent issue**
#870

[2018-05-03 19:16] #914 closed

[2018-05-04 02:44] brijeshshah13 opened #920 "Update Gradle version"
**Is it a ?**

- [x] Chore

### Chore

**Description**

Update Gradle version.

**Would you like to work on the issue?**

Yes.

[2018-05-04 06:31] #920 closed

[2018-05-04 16:43] sridharjajoo opened #921 "Selecting multiple FAQ's at once"
### Feature Request

**Feature Description**
Currently in the FAQ list mode there is an option to delete the faq's but only 1 faq can be selected and deleted at a time. I would like to add a feature where multiple FAQ's can be selected and deleted at once.

**Would you like to work on the issue?**
Yes!

@iamareebjamal Can I work on this issue?

[2018-05-05 13:09] codedsun opened #923 "SignIn Error"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

Currently when I uncheck the URL on the login screen and enter any invalid url in the base URL, the login is still happening

**Expected Behaviour**

It shouldn't happen

**Steps to reproduce it**

Go to the main screen of app.
1. Uncheck the URL box
2. Enter anything in BASE URL
3. Click on

[2018-05-05 13:10] codedsun commented on #923
@srv-twry Confirm it!

[2018-05-05 19:01] iamareebjamal commented on #921
Let's deal with this later as more features need attention than this

[2018-05-05 19:14] iamareebjamal commented on #923
Not reproducible for me.

[2018-05-05 19:25] srv-twry commented on #603
@iamareebjamal Can i take it ? I guess it's not being worked upon by anyone and has high priority.

[2018-05-05 19:26] sridharjajoo commented on #731
@Masquerade0097 Are you working on it? If not I'll like to take this up.

[2018-05-05 20:16] iamareebjamal commented on #603
Yup, it's important to fix as it will cause many issues, please take it up

[2018-05-06 20:00] codedsun commented on #923
@iamareebjamal It's working on my phone, please recheck! Even when no value is set in baseURL it's logs into my account on clicking signin

[2018-05-07 17:51] srv-twry opened #925 "Implement Speakers module"
### Feature Request

**Feature Description**

Implement Speakers module since the Sessions module been implemented.

- [x] List Speakers(#647)
- [x] Tests for the module.
- [x] Speaker details
- [x] Tests for Speaker details

**Would you like to work on the issue?**

Yes

[2018-05-07 17:52] srv-twry commented on #647
**Parent issue**
#925

[2018-05-07 18:17] AkshayCHD commented on #647
@srv-twry sorry didn't see your message initially, i am stuck in my semester exams as of now, so you can take this issue. I'll resume my work as soon as i get free.

[2018-05-07 20:08] srv-twry commented on #603
@iamareebjamal I am struggling to understand how to implement two way data binding here.
The problem is we are setting the date variable on a button and we are modifying the date using a different view, a date picker.
All the examples that i found about 2-way data binding use the same view to change the variable.
For eg. In [this](https://medium.com/@douglas.iacovelli/custom-two-way-databinding-ma

[2018-05-07 20:40] iamareebjamal commented on #603
Can we do this if we create a custom view?

[2018-05-07 22:07] srv-twry commented on #603
Yes, i think so. I'll try it once.

[2018-05-09 02:59] Masquerade0097 opened #927 "View Detailed Speakers Call for an Event"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

**Feature Description**

The user should be able to view the speaker call for an event.

**Parent Issue**
#731

**Would you like to work on the issue?**

Yes

[2018-05-09 03:01] Masquerade0097 commented on #731
@sridharjajoo Sorry, I am working on it.

[2018-05-09 14:47] Masquerade0097 opened #928 "Create Tests for Create Sessions Module"
**Chore**

**Description**

Create Unit tests for Create Session Module.

**Would you like to work on the issue?**

Yes

[2018-05-09 16:06] sridharjajoo commented on #646
@iamareebjamal Can I take up this issue and start working on it?

[2018-05-09 19:42] srv-twry commented on #928
@Masquerade0097 Please use the dedicated issue templates from the readme for each type of issue. We won't need the task list for classifying the issue in that case. :smile:

[2018-05-10 04:19] mishuvs opened #930 "Allow creation of Sponsors in the app"
### Feature Request

**Feature Description**

The app should support the creation of Sponsors.

**Would you like to work on the issue?**
Yes

**Parent Issue**
#730

To be done after #901

[2018-05-10 05:13] iamareebjamal commented on #646
No, this is still not important. There are other issues which need attention

[2018-05-10 05:25] #801 closed

[2018-05-11 03:40] #900 closed

[2018-05-11 05:34] #647 closed

[2018-05-12 13:29] #930 closed

[2018-05-12 13:35] mishuvs opened #934 "Allow updates to sponsor details"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Bug Report

**Feature Description**

The API supports update operation and the app needs to allow the organizer to update Sponsor details.

**Parent issue**
#730

**Would you like to work on the issue?**

Yes

[2018-05-12 14:56] Masquerade0097 opened #935 "Option to delete Session"
### Feature Request

**Feature Description**

User can long click a Session to delete it.

**Parent Issue**
#648

**Would you like to work on the issue?**
Yes

[2018-05-12 15:34] sridharjajoo opened #936 "Add an option to edit an event"
### Feature Request

**Feature Description**
There should be an option to edit an already created event.

**Would you like to work on the issue?**
Yes

[2018-05-12 21:43] srv-twry opened #937 "Allow creation of Speaker"
### Feature Request

**Feature Description**

Allow creation of Speaker in the app.

**Would you like to work on the issue?**

Yes

**Parent issue**

#925

[2018-05-13 12:04] mishuvs opened #939 "Allow deletion of a sponsor"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Bug Report

**Feature Description**

The API supports the delete operation and the app needs to allow the organizer to delete a Sponsor item.

**Parent issue**
#730

**Would you like to work on the issue?**

Yes

[2018-05-15 11:05] srv-twry opened #942 "Infinite recursion when setting Event on Faq in CreateFaqPresenter"
### Bug Report

**Actual Behaviour**

There is an infinite recursion when setting Event on Faq.
check LogCat

**Expected Behaviour**

It should be fixed.

**Steps to reproduce it**

Not sure how to reproduce it.

**LogCat for the issue**
It's massive hence added only a portion.
[code]

**Would you like to work on the issue?**

Yes.

[2018-05-15 11:32] srv-twry opened #944 "Faq list doesn't get updated after the app gets minimized once."
### Bug Report

**Actual Behaviour**

When we create or delete a faq, the list automatically gets updated. Now if we minimize the app and then again create or delete a faq, this time the list doesn't get updated.

**Expected Behaviour**

It should still get updated.

**Steps to reproduce it**

1. Create a faq.
2. Minimize the app
3. open again
4. Create another faq.

**LogCat for the issue**

N/A

[2018-05-15 11:44] sridharjajoo commented on #944
I would like to take it

[2018-05-15 20:03] sridharjajoo commented on #944
@iamareebjamal The issue is prevalent in case of creation of Tickets as well. What I have observed is that once the fragment gets detached and the listener stops listening, then it never listens in future even if startListening()  is called again (that is when the app again comes in foreground and onStart is called). I think it might be some issue with how the DBFlowListener is implemented.

[2018-05-15 20:26] iamareebjamal commented on #944
It's about the start and stopping of listener. I'd recommend starting to move to AAC to avoid such bugs by using official components to manage lifecycle

[2018-05-16 07:44] Masquerade0097 opened #945 "Migrate from Andorid Support Lib to Android X"
### Chore

**Description**

Refactor from Andorid Support Lib to new Android X

**Would you like to work on the issue?**

Yes

[2018-05-16 08:45] #603 closed

[2018-05-16 08:51] srv-twry opened #946 "Polish the custom DatePicker and TimePicker"
### Feature Request

**Feature Description**

The Custom views implemented in #932 need to be polished. There is a lot of common code between them too.

**Would you like to work on the issue?**

Yes.

@iamareebjamal Please provide more information if any.

[2018-05-16 11:32] #934 closed

[2018-05-16 16:18] sridharjajoo opened #948 "Adding option to Update and Delete Tickets"
### Feature Request

**Feature Description**
There should be an option to update and delete tickets as well.

**Would you like to work on the issue?**
Yes

@iamareebjamal I would like to work on this.

[2018-05-16 16:35] iamareebjamal commented on #948
No, deleting tickets is involved in refunding orders and backend is not equipped with checks on pending or existing orders. So we already implemented this but it is hidden by default

[2018-05-16 16:35] #948 closed

[2018-05-16 16:36] iamareebjamal commented on #948
Yeah, but you can update the ticket but still not sure how well it'd translate on the actual real world scenario. So let's skip this for the moment

[2018-05-16 17:05] mishuvs opened #949 "Back pressing in SessionsFragment shows exit toast"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

Pressing back button in Sessions Fragment shows exit toast: "Press again to exit"

**Expected Behaviour**

It should get back to TracksFragment without asking to exit.

**Steps to reproduce it**

Press back button when SessionsFragment is active

**Gif**

![videotogif_2018 05 16_22 38 18](htt

[2018-05-16 17:11] sridharjajoo opened #950 "Bug while entering URL in Create Sponsors Fragment"
### Bug Report

**Actual Behaviour**
While a sponsor is being created and the URL Is being entered then there should be a check simultaneously that whether the URL is being entered is correct or not in correct format or not.

 **Expected Behaviour**
There should be validation while a URL is being entered.

@iamareebjamal I would like to work on it

[2018-05-16 18:18] #939 closed

[2018-05-17 04:00] mishuvs opened #953 "Write tests for each feature in Sponsor module"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [x] Chore

### Chore

**Description**

Create Unit tests for Create sponsor Module.

**Parent issue**
#730

**Would you like to work on the issue?**

Yes

[2018-05-17 05:24] Masquerade0097 opened #956 "Form Validation while Creating Session"
### Feature Request

**Description**

1. Runtime validation for fields like `slides-url, audio-url, signup-url, video-url`.
2. Check for end date to be after start date.

**Would you like to work on the issue?**

Yes

[2018-05-17 06:26] #946 closed

[2018-05-17 09:08] #928 closed

[2018-05-17 11:07] #950 closed

[2018-05-17 13:38] mishuvs opened #957 "Move edit and delete options to toolbar for SponsorsFragment"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

Edit and delete options from every item in the list should be moved to the toolbar, allowing the user to long press an item to edit or delete it while also supporting multiple deletions.
Edit option should not be present in case of multiple selections.

**Would you like to work on the

[2018-05-18 02:10] #956 closed

[2018-05-18 03:30] sridharjajoo opened #960 "Remove duplicate code from Update Modules"
### Chore

**Description**
A separate module has been made for handling Updation of Tracks and Sponsors which is leading to code redundancy. The Create module of both can handle the Update operations as well.

**Would you like to work on the issue?**
Yes!

[2018-05-19 09:38] #957 closed

[2018-05-19 09:58] #936 closed

[2018-05-19 18:04] sridharjajoo opened #962 "Create View Model for LoginFragment"
### Feature Request

**Feature Description**
Instead of the LoginPresenter , we should now move our code to LoginViewModel.

**Would you like to work on the issue?**
Yes!

[2018-05-19 18:29] mishuvs opened #963 "Move edit and delete operations to toolbar for TracksFragment"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

Edit and delete options from every item in the list should be moved to the toolbar, allowing the user to long press an item to edit or delete it while also supporting multiple deletions.
Edit option should not be present in case of multiple selections.

**Would you like to work on the

[2018-05-21 03:00] Masquerade0097 opened #966 "Integration of Navigation Architecture Component"
### Feature Request

**Feature Description**
This is aimed at integrating Navigation Component in the app in order to simplify the navigation process and make it less buggy.
https://developer.android.com/topic/libraries/architecture/navigation/

**Would you like to work on the issue?**

Yes

[2018-05-21 18:06] #935 closed

[2018-05-21 19:20] srv-twry commented on #937
@iamareebjamal A speaker is supposed to have a relationship with a User object. Should I attach the logged in user as the User instance for the speaker ?

[2018-05-21 19:50] iamareebjamal commented on #937
No, speaker user is the speaker itself.

[2018-05-22 05:30] Masquerade0097 opened #967 "Refactor from Android Job to WorkManager"
### Chore

**Description**

Work Manager as introduced in Google IO 18 offers additional features than Evernote Android Job (which is currently being used in the project).

1. Being able to chain work
2. The ability to be opportunistic on work with constraints.

This is aimed at replacing Evernote-Android-Job by Work Manager.

**Would you like to work on the issue?**

  Yes

[2018-05-22 13:19] #967 closed

[2018-05-22 19:40] #963 closed

[2018-05-22 19:54] #681 closed

[2018-05-23 08:48] Masquerade0097 opened #969 "Common Developer Account"
### Chore

**Description**

There should be a common developer account for the project so that any developer working on the project can access it for testing the functionalities of the app and remain on common ground. The login info for the user should be updated in docs.

**Would you like to work on the issue?**

Yes

[2018-05-23 18:17] sridharjajoo opened #970 "Adding check-in and ticket sales chart"
### Feature Request

**Feature Description**

As discussed in the meeting today, I would like to implement a feature similar to Event Brite's app where a check-in chart and ticket sales chart has been implemented on the dashboard.
I would like to use the library [MPAndroidChart](https://github.com/PhilJay/MPAndroidChart) for the same.
- [ ] Check In time chart
- [ ] Ticket Sales chart

**Would you

[2018-05-23 18:29] iamareebjamal commented on #970
This is already implemented, you just need to fix it according to new API.

[2018-05-23 18:46] sridharjajoo commented on #970
@iamareebjamal I think the API for the checkin times is there in the docs but there is no API for the  ticket sales?

[2018-05-23 20:08] iamareebjamal commented on #970
The attendees are the ticket sales

[2018-05-23 22:25] mishuvs opened #971 "Improve login flow"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

The login flow differs in Eventbrite in 3 ways:
- [ ] The first screen only has the email field. On clicking next, it detects if the email is registered.
    if yes -> it makes the password  field visible
    if no -> redirects to Signup screen

![videotogif_2018 05 24_04 39 23](https

[2018-05-23 22:33] mishuvs opened #972 "Convert event list to tab layout"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

- [ ] Similar to the Eventbrite app, we need to have a tab layout for the event list
- [ ] The event list item should also show general info like date, the percentage of tickets sold, number of attendees Checked In, and revenue generated (#994)

![device-2018-05-24-045801](https://use

[2018-05-23 22:51] mishuvs opened #973 "Add check-in restrictions to settings"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

The Eventbrite app has an option for Check-In restriction in Settings. This option restricts check-ins for any particular ticket type. A similar option is needed in our app as well. (Requires changes to the server)

![device-2018-05-24-042030](https://user-images.githubusercontent.com

[2018-05-23 22:58] mishuvs opened #974 "Add Auto Check In option to settings"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

The Eventbrite app has an option to automatically Check In certain ticket holders. This option may probably be needed in our app as well. (requires changes to the server)

![device-2018-05-24-042739](https://user-images.githubusercontent.com/35009811/40455501-bf82dd9c-5edc-11e8-8bbf-9

[2018-05-24 03:04] Masquerade0097 commented on #522
@iamareebjamal I tried getting list of Orders from the Server but I am getting 403 Access Forbidden, Admin Access required. I think that should not be the case. The Organizer should be able to view all the Orders for an Event a in EventBrite app. What do you think?

[2018-05-24 03:22] Masquerade0097 opened #975 "Option to Share Event in AboutEventFragment"
### Feature Request

**Feature Description**

There should be an option in toolbar in About Event Fragment to share the corresponding event as there is in EventBrite app. Clicking on the option will share the necessary details regarding Event on various social media and emailing apps.

**Would you like to work on the issue?**

Yes

[2018-05-24 10:41] iamareebjamal commented on #522
Yes it was available before. Please create an issue in server

[2018-05-25 02:39] sridharjajoo commented on #522
@iamareebjamal Is order creation within the scope of the app?

[2018-05-25 04:00] iamareebjamal commented on #522
Yes, all API capabilities are in the scope of the app

[2018-05-25 05:31] #945 closed

[2018-05-25 05:58] #969 closed

[2018-05-25 07:41] srv-twry commented on #937
@iamareebjamal I don't think it's in the scope of the app to create speakers. We can create forms for collecting speaker details. but speaker details have to be associated with a user account. Hence organizer cannot create it on his/her own.

[2018-05-25 07:50] iamareebjamal commented on #937
Yeah, alright! @mariobehling @niranjan94 Please confirm

[2018-05-25 18:02] sridharjajoo opened #978 "Creating a Stepped approach for Event Creation"
### Feature Request

**Feature Description**
Currently the Create Event is done only in a single screen in a Fragment. It would be more helpful for the user if it is done in a stepped manner. Thereby I propose the implementation of a horizontal stepper for creating an event.

**Screenshots**
![tabs](https://user-images.githubusercontent.com/20684618/40559286-cf3547b4-6073-11e8-80d7-139c6bb68545.gi

[2018-05-25 18:24] mishuvs opened #979 "Email retype required in AuthActivity fragments, back presses don't work as expected"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

Users have to retype the email in the Forgot Password Screen, Sign up Screen, and when brought back to Login Screen.
Back button presses in Forgot Password screen, Sign up Screen and Reset Password screen prompt exit toast, should take back to Login screen.
They should all bring back

[2018-05-25 19:48] srv-twry commented on #937
Closing this. Please reopen if I was wrong :)

[2018-05-25 19:48] #937 closed

[2018-05-25 19:50] srv-twry opened #981 "Write tests for Speaker module"
### Chore

**Description**

Write tests for the Speaker module i.e. the Presenter and the Repository.

**Would you like to work on the issue?**

Yes

**Parent issue**

#925

[2018-05-26 13:57] sridharjajoo opened #983 "Create tests for the LoginViewModel class"
### Chore

**Description**
Write tests for the LoginViewModel class.

**Would you like to work on the issue?**
Yes

[2018-05-26 15:41] codedsun opened #984 "Error Prone Integration"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

This will help in catching the errors in the compile time itself.
https://github.com/tbroyer/gradle-errorprone-plugin

**Would you like to work on the issue?**

Yes! @iamareebjamal

[2018-05-26 17:08] #981 closed

[2018-05-26 17:09] srv-twry commented on #925
Fully implemented.

[2018-05-26 17:13] iamareebjamal commented on #925
Speaker details are not shown along with the sessions they are speaking in

[2018-05-27 03:44] mishuvs opened #986 "FaqListFragment should allow updation and multiple deletion"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

FaqListFragment currently only allows deleting single FAQ item. Edit option is also not supported.
Functionality for both should be added to toolbar.

**Would you like to work on the issue?**

Yes

[2018-05-27 04:18] sridharjajoo commented on #986
@mishuvs It is the same as [#921](https://github.com/fossasia/open-event-orga-app/issues/921)

[2018-05-27 04:40] #986 closed

[2018-05-27 07:16] brijeshshah13 commented on #984
@iamareebjamal @codedsun I've found the method to integrate it. Can I send the PR for the same if there is no issue?

[2018-05-27 07:55] #979 closed

[2018-05-27 08:23] iamareebjamal opened #988 "Fix PMD and Checkstyle Issues"
https://584-65606855-gh.circle-artifacts.com/0/outputs/pmd/pmd.html
https://584-65606855-gh.circle-artifacts.com/0/outputs/checkstyle/checkstyle.html

@mishuvs @srv-twry @Masquerade0097 @sridharjajoo Please take a look

[2018-05-27 13:19] mishuvs commented on #972
@iamareebjamal this is from #152

In the last meeting we were directed to convert events list into tab layouts.
Since the lists in the 3 tabs are identical, can we not reuse the same presenter, adapter and view by passing parameters to select different list each time?

[2018-05-27 14:02] sridharjajoo commented on #978
@iamareebjamal I have divided the event creation into 4 fragments. All of these implement the same CreateEventView but it would lead to a lot of unimplemented methods in each of the fragments as the functionality is getting divided. So should I create a new view for each fragment that has been implemented with all fragments sharing a single presenter?

[2018-05-27 14:05] codedsun commented on #984
@brijeshshah13 I am working on it, will submit a PR by today. Feel free to take over other issues!

[2018-05-27 14:20] mishuvs commented on #988
@sridharjajoo Are you working on this?

[2018-05-27 15:26] sridharjajoo commented on #988
@mishuvs You can take this up

[2018-05-27 15:38] sridharjajoo commented on #983
@iamareebjamal For the following test:

   public void shouldNotLoginAutomatically( )  {

     Mockito.when(authModel.isLoggedIn()).thenReturn(false);

     loginViewModel.getLoginStatus().observeForever(observer);

     verify(observer).onChanged(false);

 }

I am getting an error:

Wanted but not invoked:
observer.onChanged(false);
-> at org.fossasia.openevent.app.core.presenter.LoginViewModelTe

[2018-05-27 16:14] iamareebjamal commented on #978
Only last fragment will have current event create view, all three fragments will have separate views and a shared ViewModel

[2018-05-27 16:19] iamareebjamal commented on #983
https://pbochenski.pl/blog/07-12-2017-testing_livedata.html

[2018-05-27 18:54] #953 closed

[2018-05-28 04:09] #730 closed

[2018-05-28 05:18] codedsun commented on #949
@mishuvs Can I work on the issue?

[2018-05-28 06:34] iamareebjamal commented on #949
This is related to buggy backpress handler. Remove the double tap to exit feature completely

Simply keep popping back stack until empty

[2018-05-28 08:12] brijeshshah13 commented on #971
@iamareebjamal @mishuvs Is this issue up for grabs?

[2018-05-28 10:22] codedsun commented on #923
@mishuvs @sridharjajoo Please confirm, I can reproduce this error till now!

[2018-05-28 12:10] sridharjajoo commented on #983
On invoking login method of the LoginViewmodel class from test class, there is a null pointer exception pointing to the following code:
 public void login() {

        compositeDisposable.add(loginModel.login(login)
            .compose(disposeCompletable(compositeDisposable))
            .doOnSubscribe(disposable -> progress.setValue(true))
            .doFinally(() -> progress.setValue(false))

[2018-05-28 12:19] iamareebjamal commented on #983
Check what's null, paste the stack trace

[2018-05-28 12:26] sridharjajoo commented on #983
java.lang.NullPointerException
	at org.fossasia.openevent.app.core.auth.login.LoginViewModel.login(LoginViewModel.java:47)
at
org.fossasia.openevent.app.core.viewmodel.LoginViewModelTest.shouldShowLoginError(LoginViewModelTest.java:82)

	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.D

[2018-05-28 12:27] iamareebjamal commented on #983
What's at line 47

[2018-05-28 12:29] sridharjajoo commented on #983
The 47th line as mentioned in above stack trace points to the .compose(disposableCompletable(compositeDisposable).

[2018-05-28 12:31] iamareebjamal commented on #983
Add a break point and run in debug mode, it'll tell you which object is null

[2018-05-28 12:38] sridharjajoo commented on #983
Yeah did it. Failing after this
![screenshot from 2018-05-28 18-06-36](https://user-images.githubusercontent.com/20684618/40614841-06db2834-62a2-11e8-8347-d94d5a5617a1.png)

[2018-05-28 12:58] iamareebjamal commented on #983
You don't need dispose completable in viewmodel

Remove this line

[2018-05-28 13:03] sridharjajoo commented on #983
still getting the NPE and now on the next line

[2018-05-28 13:16] iamareebjamal commented on #983
That means it was not on that line. Step into the code until you find what's null

[2018-05-28 13:17] iamareebjamal commented on #983
From the looks of it, it's simply because you haven't initialized progress

[2018-05-28 16:26] brijeshshah13 commented on #923
@iamareebjamal I confirm it. BASE URL works for any text value or even when empty.

[2018-05-28 17:42] codedsun commented on #923
@iamareebjamal Will send a pr by tommorow!

[2018-05-28 17:50] #975 closed

[2018-05-29 00:45] mishuvs commented on #971
@brijeshshah13  I intend to work on this. But I haven't been able to, since the API probably doesn't yet allow to check if an email is registered or not.

[2018-05-29 02:36] mishuvs commented on #949
@iamareebjamal IMO the backpress handler isn't buggy as it's only responsible for displaying toast and exiting. I think the issue can be dealt with without removing the double tap to exit feature. Please have a look at the PR.

[2018-05-29 03:28] mishuvs opened #994 "Event list items should have more details"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

The event list item should show general info like date, the percentage of tickets sold, number of attendees Checked In, and revenue generated

**Parent Issue**

#972

**Would you like to work on the issue?**

Yes

[2018-05-29 04:28] iamareebjamal commented on #971
Even if so, I don't think it is that crucial to the flow of the app to be exactly same as Eventbrite

[2018-05-29 04:35] mishuvs commented on #994
Thanks for your caution. I guess I'll close this one by only adding date and then head to the tabs.

[2018-05-29 20:09] srv-twry opened #996 "Show speakers details in the app along with his/her sessions"
### Feature Request

**Feature Description**

The app should show the Speaker details in the application along with his/her sessions.

**Would you like to work on the issue?**

Yes

**Parent issue**

#925

[2018-05-29 20:28] Masquerade0097 opened #997 "Copy URL and Share Event Details Options"
**Feature Description**

Share option in Dashboard which will open a fragement containing options to -
1. Copy Event URL.
2. Share Event Details via Email.
3. Share Event Detail via Other apps.

EventBrite offer these functionalities.
![screenshot_20180530-015204](https://user-images.githubusercontent.com/23634977/40683462-5076077e-63ac-11e8-90af-1a2c1b625c96.png)

**Would you like to work on the

[2018-05-29 21:14] iamareebjamal commented on #997
I think this is trivial. Sharing right now is probably fine. Take this up later

[2018-05-30 15:37] brijeshshah13 opened #1003 "Build fails due to issue with Android Plugin for Gradle 3.1.2"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

Building the latest development branch fails due to Known Issues with Android Plugin for Gradle 3.1.2.

**Expected Behaviour**

To prevent build from failing, we should downgrade to Android Plugin for Gradle 3.1.1 until a new version fixes it.

**Steps to reproduce it**

Pull the latest chang

[2018-05-30 15:43] iamareebjamal commented on #1003
https://stackoverflow.com/questions/49990933/configuration-on-demand-is-not-supported-by-the-current-version-of-the-android-g

[2018-05-30 15:46] brijeshshah13 commented on #1003
@iamareebjamal Disabling `Configure on demand` will have to performed by everyone, instead we could just wait out till the newer version comes out. After all, we are not downgrading all the way back to 3.1.0.

[2018-05-30 16:02] iamareebjamal commented on #1003
Is this a bug or standard behaviour. Gradle build is working on travis. Now it depends on if this change is permanent or not

[2018-05-30 16:12] brijeshshah13 commented on #1003
It is a bug. Here, it has been mentioned in the Known issues as well: https://developer.android.com/studio/known-issues

[2018-05-30 16:26] #1003 closed

[2018-05-31 03:58] #983 closed

[2018-06-01 01:17] #994 closed

[2018-06-01 03:21] sridharjajoo opened #1005 "Adding option to add description in tickets"
### Feature Request

**Feature Description**
Currently there is no option to enter description of the ticket during its creation. I would like to add a field where the user can enter a short description about it.

**Would you like to work on the issue?**
Yes

@iamareebjamal I would like to work on this

[2018-06-01 03:47] sridharjajoo commented on #1005
Sure. This field is required so that the end user can get to know more information about the ticket for eg.
 If the tickets get SOLD OUT, is there any other way to buy them or is there option to buy ticket from the event site itself.

[2018-06-01 03:49] iamareebjamal commented on #1005
This is server requirement. Not orga app's responsibility

[2018-06-01 03:49] #1005 closed

[2018-06-01 03:52] sridharjajoo commented on #1005
Can you tell about what other data is missing from the ticket?I thought the description is missing and hence added it

[2018-06-01 04:02] iamareebjamal commented on #1005
No data is missing from ticket. You can confirm from API docs

[2018-06-01 08:08] sridharjajoo opened #1006 "Add option to print tickets"
### Feature Request

**Feature Description**
There should be an option to print the tickets similar to the eventbrite app.

**Would you like to work on the issue?**
Yes

[2018-06-01 09:03] #988 closed

[2018-06-01 19:50] srv-twry commented on #996
@iamareebjamal I have facing a small issue. I am trying to implement this using MVVM instead of MVP.
I am having problems in converting Observable to LiveData in the ViewModel.
[code]

This doesn't work. An Observable isn't a Publisher and hence I don't think there is direct support for Observable to LiveData conversion.
Possible options:
1. Convert the Observable to Flowable and handle backpressu

[2018-06-01 20:11] iamareebjamal commented on #996
The data layer will always be in RxJava, only View layer will deal with LiveData

[2018-06-01 20:12] iamareebjamal commented on #996
Use second option, see the new Open Event Android General for more info

[2018-06-02 15:06] brijeshshah13 opened #1008 "Set a placeholder image for Sponsor"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

Currently, no placeholder image is set to be displayed if the Logo URL is kept empty while creating a Sponsor, leaving the UI mysterious and incomplete. We can use the existing `cirlce_placeholder.xml` drawable as the placeholder.

Before:

![screenshot_20180602-202432](https://user-i

[2018-06-03 07:50] brijeshshah13 commented on #1008
@iamareebjamal Please share your view for the same.

[2018-06-03 10:40] iamareebjamal commented on #1008
Go ahead, but use a different placeholder. The one we are using for events and such

[2018-06-03 10:45] brijeshshah13 commented on #1008
@iamareebjamal Alright. Will send a PR right away with the placeholder used for events.

[2018-06-03 14:27] #1008 closed

[2018-06-04 09:36] mishuvs commented on #970
@sridharjajoo  can I work on one of them?

[2018-06-04 09:38] sridharjajoo commented on #970
Sure you can work  the ticket sales chart

[2018-06-04 21:17] sridharjajoo commented on #970
@iamareebjamal For the check-in times chart I wrote the following method:
[code]
Now setData is given as follows:
[code]
I wanted to know that is my approach right because here
String date = DateUtils.formatDateWithDefault(DateUtils.FORMAT_DAY_COMPLETE,entry.getKey());
It gives an invalid date's format and also no graph is output.

[2018-06-04 22:47] iamareebjamal commented on #970
First of all, you don't want LiveData during building the graph and all. This is a number crunching process, you simply need to load the numbers in background and update the entry values

Also, whatever you are doing in doAfterSucess and doAfterComplete should be done in subscribe of that completable. These methods are side effects, so they should not contain logic that is the direct result of exe

[2018-06-04 22:49] iamareebjamal commented on #970
Also debugging like this is like flailing arms in the dark. Always push your PR and then ask questions

[2018-06-04 23:08] #949 closed

[2018-06-05 02:05] mishuvs opened #1011 "Fix Navigation issues throughout the app"
### Bug Report

Parent issue for all the current navigation glitches in the app.

[2018-06-05 02:31] mishuvs commented on #971
Then, should it be closed for now?

[2018-06-05 04:57] mishuvs commented on #973
@iamareebjamal @Masquerade0097 @sridharjajoo I think only the Orga app can check in attendess, so we can restrict check-in locally without needing changes to the server, right?

[2018-06-05 06:28] #972 closed

[2018-06-05 06:28] #971 closed

[2018-06-05 07:47] #1006 closed

[2018-06-05 08:40] Masquerade0097 opened #1012 "Implement Orders Endpoint"
### Feature Request

The following features should be implemented regarding Orders endpoint, the features are consistent with eventbrite.

- [x]  List Orders Under Event

- [x]  Order Details

- [ ]  Create Order

**Child Issue**
#522

**Would you like to work on the issue?**

Yes

[2018-06-05 08:43] Masquerade0097 opened #1013 "Rename Navigation Drawer items"
### Chore

**Chore Description**

Few menu items in the Drawer layout should be renamed so that the Drawer layout of Orga App looks similar to EventBrite app. This will help users to make the transition smooth for users who choose to migrate to Orga app from EventBrite app.

1. Attendees -> Check In
2. Change the Date format displayed in Drawer to `DAY, MONTH-DATE, TIME`
3. Change Attendee Drawabl

[2018-06-05 08:51] mishuvs opened #1014 "Redraw attendee detail layout"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [x] Chore

### Chore

**Description**

The attendee detail layout should be redrawn to make it look similar to EventBrite app. This will help users to make the transition smooth for users who choose to migrate to Orga app from EventBrite app.

**Would you like to work on the issue?**

Yes

[2018-06-05 08:54] Masquerade0097 opened #1015 "Option to toggle Gross and Net Sales"
### Feature Request

**Feature Description**

Currently the user can only see Gross Sales in Dashboard. There should be an option in Settings Fragment which allow user to toggle between Gross sales and Net Sales to be shown in Dashboard.  The flow is in accordance with EventBrite app. Below is a gif of EventBrite for the same.

![20180605123203-7c011ad592 gif-2-mp4 com](https://user-images.githubu

[2018-06-05 08:56] sridharjajoo opened #1016 "Adding printing support for Orders"
### Feature Request

**Feature Description**
There should be an option to print the orders.

**Would you like to work on the issue?**
Yes

[2018-06-05 09:07] mishuvs opened #1017 "Change common developer email address to a real email address"
**Is it a ?**

- [x] Chore

### Chore

**Description**

The common developer email should be a real verified email address so that forgot password feature could be tested and the admin rights can be obtained.

**Would you like to work on the issue?**

Yes

[2018-06-05 09:35] Masquerade0097 commented on #1017
@mishuvs While you are at it. Provide co-organizer access to current Orga App developers to avoid server endpoints access issues.

[2018-06-05 11:57] mishuvs opened #1018 "Make the events list navigation look exactly like EventBrite"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

The Navigation in Events list should look exactly like EventBrite app. This means that:
1. -> Navigation should be at the top (possibly with tabs and viewpager)
2. -> Sections should be: | Live | Past | Draft |
3. -> No need for sticky header

**Would you like to work on the issue?**

[2018-06-05 12:12] mishuvs commented on #1018
@iamareebjamal I was told in the meeting today to make the above changes.
I think we can either simply align the BottomNavView at the top, or use tabs without view pager. Or we can implement tabs with view pager.
Which one should I go with?

[2018-06-05 12:14] iamareebjamal commented on #1018
Use tabs without ViewPager

[2018-06-05 12:17] mishuvs commented on #1017
@Masquerade0097 I am not aware about how to provide co-organizer access. Please provide a reference doc or tell me how.
And would it be okay if I use disposable email like mailinator? Would be openly accessible.

[2018-06-05 18:39] sridharjajoo opened #1019 "App crashing on toggling the attendee checkin"
### Bug Report

**Actual Behaviour**
Currently suppose we toggle the attendee checked-in or checked-out and subsequently try to do the same for other attendees as well, the app crashes mid way.

**Steps to reproduce it**
Check in a few attendees, the app will crash mid way.

**LogCat for the issue**
[code]
**Android version and Phone Model**
Lollipop (5.1.1) and Redmi Note 3

**Would you like to w

[2018-06-05 22:51] srv-twry commented on #1012
@Masquerade0097 Unfortunately the Order's API is buggy and isn't working properly as far as i know. Please make sure you test it before working on this one.
Order's API has a few prerequisites before it can work properly:
1. Stripe - (PR opened in server)
2. Paypal - (working)
3. Tax - (PR open in the server)

Once they are done, me or anyone else would have to fix(if it's buggy) the order's API.

[2018-06-06 02:55] Masquerade0097 commented on #1017
@mishuvs Use the API to assign Roles and send Role Invites to other developers from this account.

[2018-06-06 05:56] iamareebjamal commented on #1012
We juat need to show orders and their details

[2018-06-06 06:03] sridharjajoo commented on #1019
@iamareebjamal I think it is because of this ```Didn't find WorkSpec for id 5c999bd4-0703-409d-a778-396a7e169abc```

[2018-06-06 06:05] iamareebjamal commented on #1019
I think it is due to this Unable to load resource 0x00000000 from pkg=com.android.systemui
    android.content.res.Resources$NotFoundException: Resource ID #0x0

[2018-06-06 06:17] sridharjajoo commented on #1019
The logs above were there when the app was tested on a xiaomi redmi note 3 device.
The ``unable to load resource`` was not present when the app was tested on a SAMSUNG device but the logs still had ```Didn't find WorkSpec for id 5c999bd4-0703-409d-a778-396a7e169abc```

[2018-06-06 06:50] iamareebjamal commented on #1019
OK

[2018-06-06 09:46] Masquerade0097 opened #1022 "Bug in WorkManager version 1.0.0-alpha01"
### Bug Report

**Actual Behaviour**
When checking attendees in and out of the app, the following error is produced.

**Expected Behaviour**
Runtime error shouldn't be there.

**Steps to reproduce it**
Check Attendees in and out repeatedly.

**LogCat for the issue**
`E/AndroidRuntime: FATAL EXCEPTION: pool-1-thread-1
    Process: org.fossasia.eventyay, PID: 23129
    java.lang.NullPointerException

[2018-06-06 09:51] Masquerade0097 commented on #1019
I tried checking attendees in and out repeatedly on Moto G4 Plus and got two different errors -

1. `Didn't find WorkSpec for id a02d3266-9003-4ecb-8e59-540ff811a882` (Same as you mentioned in this issue)
2. `java.lang.NullPointerException: Attempt to invoke virtual method 'boolean androidx.work.State.isFinished()' on a null object reference`

On researching, I found out that error no 2 is present

[2018-06-06 09:59] Masquerade0097 commented on #1012
@srv-twry @iamareebjamal I have tested Listing and Details of Orders endpoint and it is working fine.

[2018-06-06 10:02] sridharjajoo commented on #1013
@Masquerade0097 Can I take this issue up?

[2018-06-06 10:06] sridharjajoo commented on #1019
@Masquerade0097 Actually I had also got the second error and I was going to update the WorkManager version in the P.R

[2018-06-06 10:30] Masquerade0097 commented on #1019
@sridharjajoo Since you didn't mentioned it in the issue details or logcat therefore I thought you didn't get that error. So I created a new Issue for that and sent PR. Should I close the PR and issue ?

[2018-06-06 11:37] Masquerade0097 commented on #1013
@sridharjajoo Sorry, I intend to work on it.

[2018-06-06 15:08] #1022 closed

[2018-06-06 17:08] sridharjajoo commented on #1019
@Masquerade0097 Do you know why the WorkSpec error is being caused?

[2018-06-06 18:55] Masquerade0097 opened #1026 "List of All Orders"
### Feature Request

**Feature Description**

List all the Orders Related to an Event. There should be an Option in the Drawer to view List of all Orders for an Event.

**Parent Issue**

**Would you like to work on the issue?**

Yes

[2018-06-06 18:56] Masquerade0097 commented on #1026
@iamareebjamal Should I proceed with this ?

[2018-06-06 19:19] Masquerade0097 commented on #1026
There is no endpoint available for fetching the list of Orders for an Event. The avilable endpoint is only for listing all the Orders.

Which endpoint do you think will be more useful for the app, fetching all orders for an Event or all orders for a particular Attendee?

@srv-twry has created a issue in Server regarding implementing Orders endpoint. Maybe I can help in implementing the particular

[2018-06-06 19:39] srv-twry commented on #1026
@Masquerade0097 Yes, please create a child issue for it and then implement it :)

[2018-06-06 22:08] iamareebjamal commented on #1026
Both are important

[2018-06-07 13:48] Masquerade0097 commented on #1015
@iamareebjamal For calculating net sales, we need total expenses of seller which I guess we don't have. So how should I proceed ?

[2018-06-07 14:29] iamareebjamal commented on #1015
Hence we can't move forward with this. IMO all these calculations and stats should be available from server and not calculated on device

[2018-06-07 14:48] Masquerade0097 commented on #1019
@sridharjajoo As of now, I don't know the reason. Will look into it.

[2018-06-08 03:41] Masquerade0097 opened #1029 "Create Speakers Call"
### Feature Request

**Feature Description**

Functionality to create Speakers Call.

**Parent Issue**
#731

**Would you like to work on the issue?**

Yes

[2018-06-08 03:44] Masquerade0097 opened #1030 "Update Session"
### Feature Request

**Feature Description**

Organizer will be able to update the details for an existing Session.

**Parent Issue**
#648

**Would you like to work on the issue?**

Yes

[2018-06-08 03:46] Masquerade0097 opened #1031 "Functionality to Update FAQ"
### Feature Request

**Feature Description**

User will be able to update the details of FAQ.

**Would you like to work on the issue?**

Yes

[2018-06-08 03:48] Masquerade0097 commented on #899
@AkshayCHD Can i take this up ?

[2018-06-08 04:20] sridharjajoo opened #1033 "Adding more functionality to Navigation Drawer"
### Feature Request

**Feature Description**
- Currently the Navigation Drawer doesn't have the functionality to edit event which has been implemented in the Event Brite app. I would like to add this to the Orga App.
- **Logout** present in the Orga App can be refactored to **Logged in as** as given in the Event Brite app.
- Events can be changed to  **My Events**

**Screenshots**
![ezgif com-resi

[2018-06-08 06:37] Masquerade0097 opened #1036 "Correct delete behaviour of Faq List"
### Feature Request

**Feature Description**

The delete behaviour of faq list is not consistent. Improvements needed -

1. The user should long press an item to delete it.
2. Delete mutiple faqs at once.
3. Clicking the last selected item again should unselect it.
4. Re-Clicking the only selected item should reset the toolbar.

**Would you like to work on the issue?**

Yes

[2018-06-08 06:42] #1036 closed

[2018-06-08 06:42] Masquerade0097 commented on #1036
Duplicate #921

[2018-06-08 11:56] #996 closed

[2018-06-08 14:08] Masquerade0097 opened #1038 "Incorrect error message in creating Session/Ticket"
**Is it a ?**

- [x] Bug Report

- [ ] Feature Request

- [ ] Chore

### Bug Report

**Actual Behaviour**

When sessions, tickets are created for an event for which they are disabled. The error message produced is `You are not authorized to make this request`.

**Expected Behaviour**

The produced error message should be `Sessions are disabled for this event`,`Ticketing is disabled for this event`

[2018-06-08 17:45] sridharjajoo opened #1041 "Infinite loop in Sponsors Fragment"
### Bug Report

**Actual Behaviour**
When the Sponsors fragment is chosen from the Navigation drawer, the screen flickers i.e there is an infinte loop when the sponsors list is empty.

**Expected Behaviour**
It should not flicker.

**Steps to reproduce it**
Select the sponsors fragment from navigation drawer.

**LogCat for the issue**
[code]
**Android version and Phone Model**
Lollipop 5.1.1 and R

[2018-06-08 18:00] #1013 closed

[2018-06-08 18:29] Masquerade0097 commented on #1038
@iamareebjamal I'm thinking of extracting the string under the tags`title` and `detail`and then concatenate them to show in the error message for HTTP 403. Is it fine ?

[2018-06-08 18:50] Masquerade0097 opened #1042 "Using Contextual Action Bar mode for selection toolbar"
### Feature Request

**Feature Description**

Updating and deletion functionalities for multiple items are not implemented in standard way. Contextual Action Bar mode should be used for selection toolbar.

**Would you like to work on the issue?**

Yes

[2018-06-08 19:16] #927 closed

[2018-06-08 19:17] iamareebjamal commented on #1038
Yes, this is how it should have been implemented in the first place

[2018-06-08 19:34] #1033 closed

[2018-06-08 21:01] srv-twry opened #1043 "Add tests for the Speaker details module"
### Chore

**Description**

Add tests for the speaker details module:

- [ ] Update the speaker repository tests
- [x] Tests for the SpeakerDetailsViewModel

**Would you like to work on the issue?**

Yes

**Parent issue**

#925

[2018-06-09 02:38] Masquerade0097 commented on #997
@iamareebjamal Can I send a PR for this now ?

[2018-06-09 03:12] iamareebjamal commented on #997
Sure

[2018-06-09 08:19] AkshayCHD commented on #899
@Masquerade0097 I am a somewhat occupied in my internship currently, so please fell free to take this up.

[2018-06-09 12:29] Masquerade0097 opened #1046 "Functionality to update Speakers Call"
### Feature Request

**Feature Description**

Organizer should be able to update Speakers Call if it already exists for an event.

**Parent Issue**
#731

**Would you like to work on the issue?**

Yes

[2018-06-09 12:48] sridharjajoo commented on #1031
@iamareebjamal @Masquerade0097 Can I take up this issue?

[2018-06-09 13:02] Masquerade0097 opened #1047 "Rename BASE URL to OTHER URL"
### Chore

**Description**

The term BASE URL is not common user friendly therefore it should be replaced by OTHER URL in the login fragment, signup fragment, request token fragment, submit token fragment.
The bug was pointed out by Mario in the meeting.

**Would you like to work on the issue?**

Yes

[2018-06-09 13:16] sridharjajoo opened #1048 "Add the sharing functionality in Update Event toolbar"
### Feature Request

**Feature Description**
Eventbrite has a sharing functionality at the toolbar and it should be implemented in the orga app as well.

**Would you like to work on the issue?**
Yes!

**Screenshot**
![ezgif com-resize 2](https://user-images.githubusercontent.com/20684618/41191996-6cf03138-6c15-11e8-9801-c1e4166d8f8d.jpg)

[2018-06-09 13:24] mishuvs opened #1049 "Provide ability to set global payments preference"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

EventBrite app has option for global payments preference. Our users have to fill in this detail for each event. Since a user's preference is unlikely to change, we can provide an option to use global option, and hence make the event create form shorter.
This also makes the app more si

[2018-06-09 13:31] sridharjajoo opened #1050 "Ability to set the default country and currency"
### Feature Request

**Feature Description**
Just like the event brite app, there can be a preference set by the user to set the default country and currency.
Initially a new fragment can be created with the name Event Settings and subsequently other features which are in the process of implementation (check-in restrictions, auto check in) can be added to it.

**Would you like to work on the issue

[2018-06-09 17:08] #1014 closed

[2018-06-09 19:12] #1029 closed

[2018-06-10 06:11] #970 closed

[2018-06-10 06:37] #1030 closed

[2018-06-11 12:31] mishuvs opened #1056 "Convert Event List to View Model"
**Is it a ?**

- [ ] Bug Report

- [ ] Feature Request

- [x] Chore

### Chore

**Description**

Event list module should be converted to MVVM so View Pager can be implemented without any messy logic on the presenter side.

**Would you like to work on the issue?**

Yes

[2018-06-11 16:46] mishuvs opened #1059 "Long pressing Event List Items should show tickets sold summary"
**Is it a ?**

- [ ] Bug Report

- [x] Feature Request

- [ ] Chore

### Feature Request

**Feature Description**

In the EventBrite app, Long Pressing Event List items shows ticket sales summary. Similar feature should be present in the Organizer App.
The 'tickets sold' layout in Dashboard is also vertical in EventsBrite app, but is horizontal in Open Event App.
Using vertical layout at both plac

[2018-06-11 18:54] #1048 closed

[2018-06-12 01:30] srv-twry opened #1060 "Use single network call with ?include in Speaker details module"
### Bug Report

**Actual Behaviour**

Right now we make two network calls. First to fetch the speaker details and the second to fetch the sessions under the speaker.

**Expected Behaviour**

We can use ?include to get the sessions under a speaker in the same network call.

**Would you like to work on the issue?**

Yes

**Parent issue**

#925

[2018-06-12 10:10] sridharjajoo opened #1061 "Implementing color picker in Create Tracks Fragment"
### Feature Request

**Feature Description**
While creating tracks the user needs to enter the color code. It will be better if there is color picker inplace of it.

**Would you like to work on the issue?**
Yes

[2018-06-12 10:13] sridharjajoo opened #1062 "Implementing Contextual Action Bar for Tracks Fragment"
### Feature Request

**Feature Description**
Implementing CAB for selecting multiple tracks in Tracks Fragment.

**Would you like to work on the issue?**
Yes

 **Parent Issue**
#1042

[2018-06-12 13:40] Masquerade0097 commented on #648
The issue is completed. Closing this.

[2018-06-12 13:40] #648 closed

[2018-06-12 16:10] #997 closed

[2018-06-12 17:55] Masquerade0097 opened #1065 "Show Attendee Checkin History"
### Feature Request

**Feature Description**

There should be an option to view Attendee Check In history. EventBrite offers this feature and our API supports this too.

**Would you like to work on the issue?**

Yes

[2018-06-12 18:39] sridharjajoo opened #1066 "Incorrect toolbar title in Share Fragment"
### Bug Report

**Actual Behaviour**
The toolbar title of the Share fragment shows **Speaker Details**

**Expected Behaviour**
The toolbar title should be **Share**.

**Would you like to work on the issue?**
Yes

[2018-06-13 03:18] #1066 closed

[2018-06-13 07:20] Masquerade0097 opened #1069 "Bug in Events List"
### Bug Report

**Actual Behaviour**

When Event List is opened then a blank screen is displayed and on refreshing the following log is generated but the screen remains blank.

**Expected Behaviour**

State here what the feature should enable the user to do.

**Steps to reproduce it**

**LogCat for the issue**

`E/Logger: An exception occurred : Comparison method violates its general contract!

[2018-06-13 08:20] srv-twry commented on #1060
@iamareebjamal I am facing an issue here:
The Speaker list is fetched using this API call - `events/{id}/speakers?include=event&fields[event]=id&page[size]=0` i.e it doesn't contain the speaker's sessions. Now when someone clicks on a speaker, the cached speaker is shown to the user which doesn't contain the sessions.
I have to refresh the speaker details to get his/her sessions.
Possible solution

[2018-06-13 08:31] srv-twry opened #1071 "Speaker and Sponsor icons are the same"
### Bug Report

**Actual Behaviour**

Speaker and Sponsors icons are the same.

**Expected Behaviour**

They should be different

**Steps to reproduce it**

Check navigation drawer.

**Would you like to work on the issue?**

Yes

[2018-06-13 11:20] #1017 closed

[2018-06-13 11:32] #1071 closed

[2018-06-13 11:34] #921 closed

[2018-06-13 12:48] sridharjajoo commented on #871
@iamareebjamal What I could infer from above is that when the user enters the CreateTracks fragment then there should be a hex code already present in the color's edit text and it shoudn't be blank as it is currently?

[2018-06-13 14:51] iamareebjamal commented on #871
Yes, both for track color and track text color

[2018-06-13 15:46] #1046 closed

[2018-06-13 15:52] iamareebjamal commented on #1060
Then I guess current implementation is optimal?

[2018-06-13 15:55] srv-twry commented on #1060
Yes, it does seem to be the case. Closing this. Will reopen in case I can figure out a way to reduce it to a single call.

[2018-06-13 15:55] #1060 closed

[2018-06-13 18:26] mishuvs opened #1074 "Allow adding device name to track check-ins and sales"
**Is it a ?**

- [x] Feature Request

### Feature Request

**Feature Description**

The EventBrite app has an option to add device name in Device Settings. The device name is used to track check-ins and sales. The Organizer App also needs to support the same.

<img src="https://user-images.githubusercontent.com/35009811/41453654-2d4e2584-7094-11e8-90d6-2798c0584079.png" width="300"/>

**Would you

[2018-06-14 03:17] sridharjajoo opened #1075 "Bug in Share Fragment image placeholder"
### Bug Report

**Actual Behaviour**
The image placeholder used in the Share Fragment doesn't show the image that has been setup for the event during event creation.

**Expected Behaviour**
The placeholder should show the image of the event.

**Steps to reproduce it**
Enter image url during event creation and then navigate to Share Fragment'

**Android version and Phone Model**
Lollipop 5.1.1 and

[2018-06-14 03:44] #1059 closed

[2018-06-14 03:44] iamareebjamal commented on #1074
First this needs to be supported by server

[2018-06-14 09:08] Masquerade0097 commented on #1065
@iamareebjamal To build a view similar to this,
![41191090-d4dadb6c-6c07-11e8-829f-670fd1987074](https://user-images.githubusercontent.com/23634977/41402705-a13de0b0-6fe0-11e8-91d5-3bcbda0f44ed.gif)

I'm planning to use https://github.com/vipulasri/Timeline-View. Is it fine ?

[2018-06-14 09:55] #1075 closed

[2018-06-14 15:03] srv-twry commented on #1043
@Masquerade0097 @sridharjajoo @mishuvs You guys can claim this if you want. I am having to work on the server as a priority and hence won't be able to work on it in atleast a week. This is the only issue left in implementing the speakers module. Thanks

[2018-06-14 15:12] sridharjajoo commented on #1043
Sure I'll work on them

[2018-06-14 18:44] Masquerade0097 commented on #1062
@sridharjajoo I was planning to send a single PR for #1042 as it's not big enough. Can I send include this in the PR too ?

[2018-06-15 04:37] sridharjajoo commented on #1062
I would like to send  a P.R for this.

[2018-06-15 10:34] Masquerade0097 opened #1077 "CreateSessionFragment should close on Session creation"
### Bug Report

**Actual Behaviour**

CreateSessionFragment do not close on session creation. The user has to explicitly press back button.

**Expected Behaviour**

CreateSessionFragment should close on successful session creation.

**Steps to reproduce it**

Create Session in App.

**Android version and Phone Model**

Jelly Bean and Moto G4 Plus

**Would you like to work on the issue?**

Yes

[2018-06-15 10:40] Masquerade0097 opened #1078 "Nullify empty fields in Create Sponsor Fragment"
### Bug Report

**Actual Behaviour**

When a user type in some text in URL fields of Create Sponsor form, then delete the text and click on submit. The server sends HTTP 422 Unprocessable entity.

**Expected Behaviour**

The text input fields should get nullified on their own.

**Steps to reproduce it**

Type invalid text in Url fields of CreateSponsorFragment -> Delete it -> Exit the form.

**Log

[2018-06-15 10:47] Masquerade0097 opened #1079 "DataBaseChangeListener not working as expected"
### Bug Report

**Actual Behaviour**

DataBaseChangeListener is not working as expected. The UI is not getting updated for following changes.
1. When a Track is updated.
2. When a Session is updated.
3. When a Faq is created.
4. When Sponsor is updated.

**Expected Behaviour**

The UI should be updated automatically with changes. The user should not have to refresh explicitly.

**Android version a

[2018-06-15 11:13] mishuvs commented on #1077
@Masquerade0097 Adding a GIF would be helpful.

[2018-06-15 11:22] #1077 closed

[2018-06-15 13:38] Masquerade0097 opened #1083 "Refactor SponsorsListPresenterTest.java"
### Chore

**Description**

Refactor SponsorsPresenterTest from `org.fossasia.openevent.app.core.sponsor.list` to `org.fossasia.openevent.app.core.presenter`.

**Would you like to work on the issue?**

Yes

[2018-06-15 13:58] iamareebjamal commented on #1083
No actually, tests should remain in same package as class being tested

[2018-06-15 14:06] mishuvs commented on #1074
@iamareebjamal Right now we may only create the device name preference. This shared preference can then be used when attendee check-in and sales code could to be changed, i.e when it's implemented on the server.
I have created an issue on the server, and have requested suggestions to move forth.

[2018-06-15 14:06] Masquerade0097 commented on #1083
Yes, you're right. I saw it later that the presenter contains protected methods which can be tested in the same package so it must remain in same package. Closing this.

[2018-06-15 14:06] #1083 closed

[2018-06-15 14:33] iamareebjamal commented on #1074
OK

[2018-06-15 14:43] #1061 closed

[2018-06-15 18:46] sridharjajoo opened #1085 "Bug while Creating Sessions"
### Bug Report

**Actual Behaviour**
While sessions are being created and an alphabet is being entered in **Level**, the app is crashing.

More over in the **State** edit text there should be a spinner which should consist of all the possible states as it is difficult to comprehend for the organizer the exact keyword which needs to be entered here:
So the possible states that would be included in

[2018-06-16 02:16] Masquerade0097 opened #1086 "Input URL Validation in Update Sponsors Fragment"
### Feature Request

**Description**

The `Url` and `LogoUrl` fields in sponsors update form should be verified at rumtime, as the user types it in.

**Would you like to work on the issue?**

Yes

[2018-06-16 03:27] Masquerade0097 opened #1087 "Bad UX of BaseBottomSheet Fragment"
### Feature Request

**Feature Description**

Whenever a user enters a field in the creation form, most of the BaseBottomSheetFragment gets covered by keyboard. So, the user can only see the current input field and the keyboard at a time. All other fields gets hidden.
After that the user has to press button to put the keyboard down then scroll to other field and then again use the keyboard.

**GIF

[2018-06-16 03:47] Masquerade0097 commented on #1087
@sridharjajoo @mishuvs @iamareebjamal Please provide your suggestions regarding this. Maybe, we can set the enter key to shift focus from one field to the next one on clicking.

[2018-06-16 04:16] sridharjajoo commented on #1087
Yes that will be a good option.

[2018-06-16 05:01] mishuvs opened #1089 "Add Scan Settings and implementation"
**Is it a ?**

- [x] Feature Request

### Feature Request

**Feature Description**

Event Brite app has 'Scan Settings' in its Event Settings. This decides whether scanning will check in, check out attendee, or validate a ticket. A similar setting is needed in Orga App.

<img src="https://user-images.githubusercontent.com/35009811/41495925-b36021ba-7150-11e8-8190-3a87e1c6d91a.png" width="250"/>

*

[2018-06-16 05:30] mishuvs opened #1090 "Fix PMD and CheckStyle issues"
**Is it a ?**

- [x] Chore

### Chore

**Description**

Current PMD violations have amounted to 50 and 9 checkstyle issues, and need to fixed.

**Would you like to work on the issue?**

Yes

[2018-06-16 05:43] mishuvs opened #1091 "Add checklist to PULL_REQUEST_TEMPLATE"
**Is it a ?**

- [x] Chore

### Chore

**Description**

Adding checklist for

1. having read Contribution & Best practices Guide,
2. having checked for PMD and check-style issues, and
3. the branch being up-to-date with the Upstream development branch

could help existing and new developers send better pull requests.

**Would you like to work on the issue?**

@iamareebjamal should this be added? (

[2018-06-16 05:47] sridharjajoo opened #1092 "Add search bar to events list fragment"
### Feature Request

**Feature Description**
The Event brite app has a search bar at the top to search for events. This can be implemented in Orga App as well.

**Would you like to work on the issue?**
Yes

[2018-06-16 08:13] Masquerade0097 opened #1093 "Upload images in App"
### Feature Request

**Feature Description**

User should be able to upload images from local storage to the app. This will be used for  -

1. Uploading profile picture.
2. Uploading image in event creation.

**Would you like to work on the issue?**

Yes

[2018-06-16 10:12] #1074 closed

[2018-06-16 10:13] iamareebjamal commented on #1091
Yes

[2018-06-16 10:14] iamareebjamal commented on #1087
I would say ditch BottomSheet for a Fragment

[2018-06-16 11:47] Masquerade0097 commented on #1087
Let's shift to Fragment then.

[2018-06-16 11:48] #1042 closed

[2018-06-16 12:31] mishuvs commented on #1087
I tried adding appropriate padding at the bottom. It works fine.
Doesn't look absurd since only some part of the BottomSheet is open at first and when the user enters the first field, and the space if occupied by keyboard when user comes to the last field.

Switching to fragment is also good.

[2018-06-16 13:19] #1062 closed

[2018-06-16 13:42] #1091 closed

[2018-06-16 18:36] sridharjajoo opened #1095 "Improving the Login Functionality"
### Feature Request

**Feature Description**
When the user logs out of the orga app, he is redirected to the login screen and the login credentials are empty. IMO the login credentials should be autofilled by the user name and the password of the last logged out user.
Eventbrite uses a similar functionality as seen below.
![ezgif com-resize 15](https://user-images.githubusercontent.com/20684618/41

[2018-06-16 18:48] iamareebjamal commented on #1095
How will you store the password?

[2018-06-16 18:52] sridharjajoo commented on #1095
I am thinking of storing it in the Android Keystore and then retrieving it in the Login Fragment.

[2018-06-17 14:09] srv-twry commented on #1011
@mishuvs Can I work on it in case you aren't  ?

[2018-06-17 14:12] iamareebjamal commented on #1011
@srv-twry @mishuvs Also try to solve other navigation related bugs in the same PR. There are a lot of similar issues. Make this s parent issue and solve these

[2018-06-17 14:12] #1049 closed

[2018-06-17 20:38] sridharjajoo opened #1097 "Bug while updating spinners in edit events"
### Bug Report

**Actual Behaviour**
When any of the spinners such as timezone, payment country or payment currency spinner is updated to a new value, it doesn't show up on the spinner.

**Expected Behaviour**
The spinner should hold the updated value.

**Steps to reproduce it**
1) Go to Edit Event.
2) Select a time zone for eg. Asia/Colombo.
3) Update the changes and then again visit Edit Event.

[2018-06-18 10:27] #1078 closed

[2018-06-18 10:28] srv-twry commented on #1095
Yeah, it does seem to be safe: https://medium.com/@josiassena/using-the-android-keystore-system-to-store-sensitive-information-3a56175a454b
I haven't gone through the whole blog though.

[2018-06-18 18:09] mishuvs opened #1100 "Directly send token when clicked on Forgot Password"
**Is it a ?**

- [x] Chore

**Chore Description**

Clicking Forgot Password opens another screen which requires clicking 'Request Token'.
It should directly send the token.

**Would you like to work on the issue?**

Yes

[2018-06-19 01:53] Masquerade0097 opened #1101 "Show Orders Detail"
### Feature Request

**Feature Description**

The organizer should be able to view Orders Detail for every item in Orders List. The UI should be kept similar to EventBrite as shown below.

![orders_detail](https://user-images.githubusercontent.com/23634977/41571619-a051eaa2-7391-11e8-88e0-9f5eba9eb594.png)

**Would you like to work on the issue?**

Yes

[2018-06-19 02:25] sridharjajoo opened #1102 "Enhancements to the Login Screen"
### Feature Request

**Feature Description**
Various changes should be made to the login screen to make it more similar to event brite:
1) Increase the login button size.
2) Add device settings to the top right corner.
3) Change Forgot Password -> I forgot my password.

**Would you like to work on the issue?**
Yes

[2018-06-19 04:19] #1085 closed

[2018-06-19 09:13] srv-twry opened #1103 "Hide unknown information fields from AboutEventDetails"
### Bug Report

**Actual Behaviour**

Right now an event field is shown for unknown information fields in the About Event Details.

**Expected Behaviour**

It should be hidden.

**Screenshots of the issue**

![screenshot_2018-06-19-14-40-45-57](https://user-images.githubusercontent.com/21277837/41588352-1d659d30-73cf-11e8-989c-d10930b65803.png)

**Android version and Phone Model**

Oppo f1 Android

[2018-06-19 09:42] #1103 closed

[2018-06-19 09:50] srv-twry commented on #1011
@mishuvs Can you change the title to "Fix Navigation issues in the app" or something like that ?

[2018-06-19 10:05] srv-twry opened #1105 "Fix build warnings in the app"
### Bug Report

**Actual Behaviour**

A few warnings are shown when building the app.
For e.g. In the Speaker model, we have `@ToString(exclude = {"event", "sessions", "user"})` but the `sessions` field doesn't exist in the model.

**Expected Behaviour**

The source of warnings should be fixed as much as possible.

**Would you like to work on the issue?**

No, can be taken by others.