[2019-10-06 17:48] liveHarshit commented on #1955
For reference https://github.com/fossasia/open-event-attendee-android/pull/1918

[2019-10-06 17:49] Khali851999 commented on #1860
Would the same thing work for the name feature too?

[2019-10-06 17:52] Khali851999 commented on #1955
@liveHarshit
So can I start working on the same?

[2019-10-06 17:57] liveHarshit commented on #1955
Yes please. Go ahead.

[2019-10-06 19:15] Khali851999 commented on #1955
@liveHarshit
Can you guide me as to how it can be done?
Should I call the `getOrganiser()` in `onResume()` ?

[2019-10-06 19:21] liveHarshit commented on #1955
I'm not familiar with this project's codebase. @ShridharGoel Can help you out. Or you can solve it by yourself. Mentors will review your PR.

[2019-10-07 10:49] Khali851999 commented on #1955
@ShridharGoel can you guide mr through the process?

[2019-10-08 12:05] dipu989 commented on #1951
@iamareebjamal Sorry for this late!
Saw strict mode class in android, are you asking to set the boolean value in StrictMode.java file to false?
[code]
Or anything other?

[2019-10-08 13:45] iamareebjamal commented on #1951
Yes

[2019-10-08 16:31] tusharr-98 commented on #1939
@iamareebjamal it has been more than 18 days since the issue was last assigned...can you reassign it to me so that I can start working on it

[2019-10-08 17:24] iamareebjamal commented on #1939
You can work on it

[2019-10-10 04:30] #1939 closed

[2019-10-10 20:25] dheerajkotwani opened #1961 "Profile pic disappear on refreshing account section"
**Describe the bug**
Profile pic disappear on refreshing account section and no profile pic is displayed there.

**To Reproduce**
1. Go to Account
2. Refresh the page
3. You will see the issue

**Expected behavior**
Profile pic should be displayed there if available even after refreshing the page.

**Smartphone Info:**
|Redmi Note 4|
|Nogut 7.0|

**Would you like to work on the issue?**

- [x] Yes

[2019-10-11 20:08] dipu989 commented on #1951
Still the same problem.
I have set LOG_V variable false in StrictMode.java file
``` private static final boolean LOG_V = false;```

LogCat comes out to be same -
[code]

[2019-10-11 20:15] iamareebjamal commented on #1951
https://github.com/fossasia/open-event-organizer-android/blob/c9b8a8f29a53bacbfbaa79ef71ae86092cf32217/app/src/main/java/com/eventyay/organizer/OrgaApplication.java#L75-L93

[2019-10-11 20:35] dipu989 commented on #1951
@iamareebjamal  Got rid of  Strict mode! Thanks.
Now Share feature is working fine. No idea, why it was crashing before.
![ezgif com-optimize](https://user-images.githubusercontent.com/31280303/66683203-8314bc80-ec94-11e9-8f77-51f4937de039.gif)

[2019-10-11 20:35] #1951 closed

[2019-10-13 08:16] dipu989 commented on #1734
@ShridharGoel  I can't find any file named AttendeesViewModel. There is one interface AttendeesView and one model AttendeeCheckInView. Attendees fragments are there, but not the AttendeesViewModel file that is mentioned in this issue. Will you please help?

[2019-10-13 16:56] ShridharGoel commented on #1734
https://github.com/fossasia/open-event-organizer-android/blob/development/app/src/main/java/com/eventyay/organizer/core/attendee/list/AttendeesViewModel.java

[2019-10-14 08:33] dipu989 commented on #1734
@ShridharGoel  This file appears nowhere in my cloned repo. I have followed development setup guide of the project.
Why is that happening?
![Screenshot from 2019-10-14 14-00-05](https://user-images.githubusercontent.com/31280303/66738098-524aa800-ee8b-11e9-8c0f-35d936079ce7.png)

[2019-10-14 08:37] dipu989 commented on #1734
@iamareebjamal @ShridharGoel This file appers nowhere in my cloned repo. I have followed development setup guide of the project. Can't figure out where I did wrong!
![Screenshot from 2019-10-14 14-00-05](https://user-images.githubusercontent.com/31280303/66738362-e9affb00-ee8b-11e9-90ba-e2b644b6ba80.png)

[2019-10-14 10:34] iamareebjamal commented on #1734
Paste the output of `git log`

[2019-10-14 10:52] ShridharGoel commented on #1734
Do this: `git pull upstream development`.

[2019-10-14 11:27] dipu989 commented on #1734
@iamareebjamal @ShridharGoel
Pulling changes from upstream worked! Thanks. Will keep this in mind from the next time!

[2019-10-18 16:20] njnaman commented on #1955
Can i take this?

[2019-10-19 06:07] njnaman commented on #1955
@liveHarshit can i take this?

[2019-10-19 06:55] liveHarshit commented on #1955
@Khali851999 Any updated?

[2019-10-19 09:46] iamareebjamal commented on #1955
@njnaman Go ahead if there is no update since 7 days of last reply, here it's been 12 days

[2019-10-19 18:35] Khali851999 commented on #1955
I've tried a lot of ways to do this but none worked. I am waiting for some reply from @ShridharGoel or anyone having some expertise.

[2019-10-19 18:40] iamareebjamal commented on #1955
If we knew the steps of solving the bug, don't you think we would have done it ourselves? It's the contributor's responsibility to search and debug to find the bug. If you have any problem, ask us.

[2019-10-20 13:46] ShridharGoel commented on #1955
@Khali851999 Try fetching the updated profile name in `onResume()`.

[2019-10-20 15:10] njnaman commented on #1955
In latest development branch , this issue is already solved.

[2019-10-20 16:17] #1955 closed

[2019-10-21 09:53] njnaman opened #1965 "When sigining up, last name is optional and when left null , name is shown as "FIRSTNAME null" instead of "FIRSTNAME""
**Describe the bug**
When sigining up, last name is optional and when left null , name is shown as "FIRSTNAME null" instead of "FIRSTNAME"

**To Reproduce**
Steps to reproduce the behavior:
1. Sign up and leave the last name null.
2. Go to navigation drawer.
3. Click on 'accounts'.
4. Check the name on the top of accounts screen.

**Expected behavior**
Name should appear as "FIRSNAME" but it appea

[2019-10-21 19:49] njnaman commented on #1965
I would like to work on this issue.

[2019-10-25 03:51] batriRahul commented on #1965
@iamareebjamal can i take this issue?

[2019-10-31 12:19] liveHarshit opened #1969 "Replace google places API with Mapbox API"
**Describe the feature you'd like**
Documentation: https://docs.mapbox.com/android/plugins/overview/places/

**Would you like to work on the issue?**

Open for all

[2019-11-05 03:51] njnaman commented on #1965
@liveHarshit can i take this?

[2019-11-05 06:19] liveHarshit commented on #1965
Go ahead

[2019-11-05 08:10] liveHarshit commented on #1969
@rob729 @naman653

[2019-11-05 08:13] naman653 commented on #1969
I will work on this issue.

[2019-11-05 08:14] liveHarshit commented on #1969
Please go ahead if you can solve it asap.

[2019-11-05 12:26] harshshinde07 opened #1971 "The app crashes while signing up when you try to change the password and confirm password fields"
**Describe the bug**

While signing in to the app, if you try to change the password and confirm password fields to a new one, the app crashes.

**To Reproduce**

1. Open the app
2. Click on 'Get started'
3. Enter the password and confirm password, then try changing it

**Expected behavior**

It should allow to change the password and confirm password fields without causing the application to cras

[2019-11-06 13:04] #1971 closed

[2019-11-06 15:16] Rajchowdhury420 opened #1973 "UI conflict in Ticket Section in The App ! it's crossing the layout awwfully doesn't look good"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Logs**

**Screenshots**

**Smartphone Info:**

|               | |
|---------------|-|
|Device         ||
|Android Version|    |

**Additional context**

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other:

[2019-11-09 21:10] codedsun commented on #1969
I am taking this up

[2019-11-10 06:20] liveHarshit commented on #1969
Please ask @naman653, We do not assign same issue to multiple contributors.

[2019-11-10 06:30] codedsun commented on #1969
@naman653 Can i take this up?

[2019-11-10 07:19] #1965 closed

[2019-11-10 22:57] naman653 commented on #1969
@codedsun I am working on this.

[2019-11-10 23:45] naman653 commented on #1969
@ShridharGoel @liveHarshit I found that mapbox is implemented in #1813. So what am I supposed to do to solve the issue.

[2019-11-11 08:48] liveHarshit commented on #1969
@naman653 Then why it is here:
https://github.com/fossasia/open-event-organizer-android/blob/357085835720ff3d524255c4598853938dd588f6/app/build.gradle#L10

[2019-11-11 20:06] naman653 commented on #1969
I removed the google places API dependency from gradle and the app was working just fine.
https://github.com/fossasia/open-event-organizer-android/blob/357085835720ff3d524255c4598853938dd588f6/app/build.gradle#L162
So maybe it is just an unwanted code. Also, why is [EventeDetailsStepOne.java](https://github.com/fossasia/open-event-organizer-android/blob/357085835720ff3d524255c4598853938dd588f6/app

[2019-11-11 20:08] iamareebjamal commented on #1969
https://developer.android.com/studio/build/build-variants

[2019-11-11 20:14] liveHarshit commented on #1969
Then remove it.

[2019-11-11 21:01] naman653 commented on #1969
@liveHarshit play store release of the app is using google places API. That's why that code is there. The PR is failing the tests due to this. But I am not seeing play store version in my setup. What should I do?

[2019-11-12 09:53] liveHarshit commented on #1969
Change build variant from FDroid to PlayStore.

[2019-11-18 14:07] jay24rajput commented on #1961
If no one is working on the issue can I take it up??

[2019-11-18 18:49] TarunPal3551 opened #1977 "Profile image deleted not working fine and navigation header data is not updated after changes."
**Describe the bug**
The profile image is not deleted and Profile image view is not updated at Navigation Header

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Navigation Menu '
2. Click on 'Profile ImageView'
3. Upload a new image by clicking on ImageView and after uploading image''
4. Go back see the navigation header imageView, you see the bug
5. Now to go to the profile section b

[2019-11-25 18:47] njnaman commented on #1977
can i take this?

[2019-11-26 09:06] rishabh-997 opened #1981 "Error and Success toast message are shown multiple times while creating an event"
**Describe the bug**

The onStart function has error and success livedata being observed because of which the toast messages are displayed every time the screen is made active.

**To Reproduce**

1. Go to create event activity
2. Click on next without typing or setting any date
3. A toast message will be displayed
4. Now lock the phone and unlock it, the same toast message will be displayed again.

[2019-11-26 09:06] rishabh-997 commented on #1981
I would like to work on this issue.

[2019-11-28 09:23] njnaman commented on #1977
@liveHarshit can i take this?

[2019-11-28 09:27] liveHarshit commented on #1977
Go ahead

[2019-11-29 19:19] #1981 closed

[2019-11-29 23:18] rishabh-997 opened #1984 "Automatic change of date/time to current time/date on changing either of the value while creating an event."
**Describe the bug**

While creating an event, when you select a date and then change the time, the date is changed to current date. Similarly, when you set time of an event and then change the date, the time sets to the current time.

**To Reproduce**

1. Go to create event activity
2. Click on start date and select tomorrow's date
3. Now change the time
4. The date is reset to the original value

[2019-12-01 19:25] #1969 closed

[2019-12-03 09:32] rishabh-997 commented on #1977
@liveHarshit sir, I checked the log messages, the problem is on the server-side, the profile URL is not getting updated as the same URL is being received as before. It is not set to null...

[2019-12-03 09:35] ShridharGoel commented on #1977
Duplicate of #1859 and #1860

Server side issue: https://github.com/fossasia/open-event-server/issues/6303

[2019-12-03 09:35] #1977 closed

[2019-12-03 09:52] rishabh-997 commented on #1961
Can you share a gif , there is no such issue in my device...

[2019-12-05 17:48] rishabh-997 opened #1988 "Redirect to Dashboard fragment instead of EventList Fragment on pressing back."
**Describe the feature you'd like**
When the user selects an event from the event list, he is taken to the dashboard fragment. Now if the user selects faq from navigation drawer and presses back after seeing faq, he is taken to event list fragment rather than Dashboard fragment. He again has to select the event from the list. Usually for the user, after selecting an event, he will think he is redi

[2019-12-05 17:49] rishabh-997 commented on #1988
@ShridharGoel @iamareebjamal  do you think this feature should be implemented or not ???
Will work on it accordingly...

[2019-12-05 17:49] iamareebjamal commented on #1988
I agree with this and this was the existing behaviour before the implementation was made to be changed from above

[2019-12-05 17:51] rishabh-997 commented on #1988
On it !!!

[2019-12-05 18:00] iamareebjamal commented on #1988
Not on it. It should stay the same

[2019-12-05 18:05] rishabh-997 commented on #1988
Sir are you agreeing with the current scenario or with my proposed scenario.

[2019-12-05 18:08] iamareebjamal commented on #1988
Your proposed scenario was already done in past and was the default behaviour and I agreed with it. But the requirements were changed to make it like the current scenario. So, I don't agree with the current scenario but it is working as intended

[2019-12-06 14:12] Saransh0905 opened #1990 "App crashes on selecting NAME or TICKET option in CheckIn(Attendees)"
**Describe the bug**
App closes suddenly when selecting option Name or Ticket from the menu items(top right corner) in Attendees window.
**To Reproduce**
1.Create a event.
2. Open the created event.
3. Select to CHECK IN option(Attendees activity will open up)
4. From the top right options Select either Name or Ticket.
Here, the app crashes.

**Expected behavior**

**Logs**

**Screenshots**
![What

[2019-12-06 14:48] Saransh0905 commented on #1990
@liveHarshit
I want to work on this issue but I am a beginner.
Can you guide me?
Thank you

[2019-12-06 15:50] liveHarshit commented on #1990
Provide crashing logs.

[2019-12-06 16:06] Saransh0905 commented on #1990
2019-12-06 21:32:20.292 13132-13187/com.eventyay.organizer E/libc: Access denied finding property "vendor.debug.egl.swapinterval"

    --------- beginning of crash
2019-12-06 21:32:20.296 13132-13132/com.eventyay.organizer E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.eventyay.organizer, PID: 13132
    java.lang.ClassCastException: com.mikepenz.fastadapter.utils.DefaultItemListImpl cann

[2019-12-07 15:39] rishabh-997 commented on #1988
should i close this issue ?

[2019-12-07 15:57] #1988 closed

[2019-12-08 03:36] NishithP2004 opened #1991 "Update PlayStore Build"
**Describe the feature you'd like**

Currently the PlayStore app is just a normal app with a login page and profile section.
**Screenshots**

![Screenshot_2019-12-07-21-06-25-450_com eventyay organizer](https://user-images.githubusercontent.com/34577844/70383794-baa09c00-1999-11ea-9f1b-8893b95a0a65.jpg)
![Screenshot_2019-12-07-21-13-44-999_com eventyay organizer](https://user-images.githubusercont

[2019-12-08 05:01] chamodperera opened #1992 "chatbox"
Insert a chat box so when organizing events we can discuss before stating

[2019-12-08 06:49] iamareebjamal commented on #1992
Not a goal

[2019-12-08 06:49] #1992 closed

[2019-12-08 06:50] iamareebjamal commented on #1991
There is QR code scanner, and we don't want to give option to create events in the app

[2019-12-08 06:50] #1991 closed

[2019-12-08 06:52] iamareebjamal commented on #1991
You have to understand the goals of the app and the ecosystem before raising issues. Just because the app can't create events doesn't mean it's useless and you can't create events from anywhere. Read a bit about open event and README. It'll help in future

[2019-12-08 07:02] NishithP2004 commented on #1991
But there is no QR Code scanner option as well in the Play Store release.
Please refer
![Screenshot_2019-12-07-21-13-44-999_com eventyay organizer](https://user-images.githubusercontent.com/34577844/70385822-d9615b80-19b6-11ea-89bf-50e214fed669.jpg)

[2019-12-08 07:03] NishithP2004 commented on #1991
Will keep in mind in future
Thanks :)

[2019-12-08 09:24] iamareebjamal commented on #1991
There is. You need to have events to use it

[2019-12-08 16:30] ShaterStar opened #1993 "not being able to use app"
**Describe the bug**
When you first download the app. U can't use any of it features. The + icon to create a new event doesn't exist. It only worked after I enabled developer mode in settings.

**To Reproduce**
 unable to do anything

**Expected behavior**
After downloading I should have been able to make a new event or something.

**Smartphone Info:**
|               | |
|---------------|-|
|Devi

[2019-12-08 16:33] ShridharGoel commented on #1993
That is the desired behaviour currently. Event creation feature is only in the developer mode. Events can also be created through the website.

[2019-12-08 16:33] #1993 closed

[2019-12-08 16:46] ShaterStar commented on #1993
Alright. Thanks for informing me.

On Sun, Dec 8, 2019, 20:33 Shridhar Goel <notifications@github.com> wrote:

[2019-12-08 18:16] iamareebjamal commented on #1993
And please look at closed issues before raising new ones. At least 5 people have raised the same issue by now

[2019-12-09 14:12] aryanguls opened #1994 "Displaying Error On Verification of Email"
**Describe the bug**
On opening an account on the Eventyay Attendee App it requests an email verification for the account so opened and to do so a link is sent to the registered email. But on clicking the link it redirects to a web page which prints ERROR on the screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Eventyay App.
2. As you open the app it asks for your email.
3. T

[2019-12-09 14:42] ShridharGoel commented on #1994
You have opened this issue in the Organizer App repo and then mentioned Attendee App in the description while the issue actually belongs to the frontend.

[2019-12-09 14:43] ShridharGoel commented on #1994
Please open the issue on the frontend repo.

[2019-12-09 15:26] #1994 closed

[2019-12-09 15:41] DariusNasta13 opened #1995 "profile bug"
**Describe the bug**
When i want to see my profile the app ask me if i want to log out

**To Reproduce**
The app ask if i want to log out

**Expected behavior**

**Logs**

**Screenshots**

![78546044_497940387483127_737549917421043712_n](https://user-images.githubusercontent.com/58443232/70449643-fd9e6480-1aaa-11ea-93f1-6300ad9b666d.jpg)

**Smartphone Info:**

|               | |
|---------------|

[2019-12-09 15:45] liveHarshit commented on #1995
We're following Eventbrite.

[2019-12-09 15:45] #1995 closed

[2019-12-09 17:52] PicantaData opened #1996 "Alignment of "Time Interval" dropdown ;Addition of 'back' button and colour contrast of instrument screen"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Logs**

**Screenshots**

**Smartphone Info:**

|               | |
|---------------|-|
|Device         ||
|Android Version|    |

**Additional context**

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other:

[2019-12-09 17:55] kumuditha-udayanga opened #1997 "Add a Guideline or a tutorial"
**Description**
* When I launch the app I don't know what to do with this app because there is no small tutorial, small video clip or a description of how to use this app.
* And also according to my experience, some of the core features of this app isn't working for example(Event creation/Ticket Creation)

# Screenshots
*About Us
![About us](https://user-images.githubusercontent.com/27630091/70459

[2019-12-09 17:57] #1997 closed

[2019-12-09 17:58] iamareebjamal commented on #1997
The app is for organizers of open event platform. If you know what it is, you know how to use the app. If you don't, you don't need the app

[2019-12-09 17:59] iamareebjamal commented on #1997
Those features are developer only and enabled when you build the app from source

[2019-12-09 18:05] #1996 closed

[2019-12-09 18:22] PicantaData opened #1998 "Alignment of "Time Interval" dropdown ;Addition of 'back' button and colour contrast of instrument screen"
1. - The drop-down in the time interval in "Generate Config File" is not properly aligned initially.
      The dropdown containing sec, min, hr and day is not properly aligned.
2. - There is no back button anywhere on the 'sensors' screen. When we open the Sensors in
       the instrument(home screen), there is no option to go back to the main menu on the UI.
3. - The color contrast of the home sc

[2019-12-09 18:26] PicantaData commented on #1996
Hey!
It was by mistake that I submitted the issue empty!
I was editing it when you just closed it!

On Mon, Dec 9, 2019 at 11:35 PM Areeb Jamal <notifications@github.com>
wrote:

[2019-12-09 18:36] ShridharGoel commented on #1998
This issue is for the PSLab Android App, open it in that app's repo.

[2019-12-09 18:36] #1998 closed

[2019-12-09 18:39] iamareebjamal commented on #1996
I closed it because it is not the correct repo for your issue. Read before creating issues

[2019-12-09 18:53] jayant218 opened #1999 "unread notification even after there is no new notification"
**Describe the bug**
the notification icon on the home page always shows new notification, even if there is no new notification.
**To Reproduce**
1. Read all notification from the notification page, so that there is no unread notification.
1. Now, go to any other page of the app from the homepage
3. Now again go to the homepage.
4. There you can see an active notification(unread notification).
5.

[2019-12-09 20:27] aRealCyborg opened #2000 "Profile picture does not apper in side bar thing"
I changed my profile picture and it took a few times to actually change it.
But when you open up the side bar that allows you to see the settings, your account and about your org, it does not appear in the pfp spot there.

[2019-12-10 02:46] rishabh-997 commented on #2000
it depends on your internet speed. No such issue arises in my phone.

[2019-12-10 21:10] adityastic commented on #1716
@iamareebjamal should I try it out?

[2019-12-10 21:33] iamareebjamal commented on #1716
Sure

[2019-12-13 15:10] krharsh17 opened #2001 "Bug: App crashes after selecting a local image for new event"
**Describe the bug**
The app crashes after selecting a graphic from the phone storage.

**To Reproduce**
1. Go to New Event
2. Fill event details and reach Step 3
3. Click on the camera icon to select a graphic from phone.
4. As soon as you select an image, the app crashes

**Expected behavior**
The image should be selected and loaded in the specified space.

**Logs**
PID: 23932
    java.lang.Runt

[2019-12-14 18:18] #1716 closed

[2019-12-15 07:12] sofyan1722 opened #2003 "Add feature Add events"
The UI is very good, I like that

but how to add events? there is no menu to add events

[2019-12-15 07:48] #2003 closed

[2019-12-15 07:48] iamareebjamal commented on #2003
Not in the scope of application

[2019-12-16 20:51] ankit2019j commented on #1999
can you please describe this issue more like attach a screenshot or something

[2019-12-16 20:53] ankit2019j commented on #1990
@liveHarshit
can i work on this?

[2019-12-18 10:24] Kalit31 opened #2007 "Multiple CreateEventActivities open on multiple taps"
**Describe the bug**
Multiple CreateEventActivity open up when the add('+') is pressed multiple times simultaneously.
Similar bug is found on tapping the profile icon(found in navigation drawer) multiple times.

**To Reproduce**
1. Go to the App
2. Tap on add Event button or the profile icon multiple times.
3. Now, as you press the backPress button, you land up in CreateEvent Activity or Profile A

[2019-12-18 17:40] 991rajat commented on #1884
Hi, I would like to work on this issue.

[2019-12-18 19:06] theindianappguy commented on #1857
Link is not valid anymore, please update

here is the error I can see :
Application Error
The page was not found in the hosted application

Platform Error
The deployment was not found in the infrastructure layer

The deployment could not be found on ZEIT Now.
The deployment could not be found on the platform.

404: NOT_FOUND
Code: DEPLOYMENT_NOT_FOUND
ID: bom1:d6f2m-1576695882264-b7596717127d

If

[2019-12-18 19:07] theindianappguy commented on #1819
Can i can work on this?

[2019-12-18 20:21] theindianappguy commented on #2001
I have faced same issue, additionally when going to the account from the drawer then clicking on the profile picture shows gallery to select an image when images selected, app crashes later I realize it should ask for permission when the app first launches

Later while testing on Emulator I got this notification Leak Analysis... something and after some time showing Leak Analysis Done when clicked

[2019-12-18 21:06] krharsh17 commented on #2001
@theindianappguy I went through what you observed and it seems that StrictMode again is the culprit here. Even after granting the permissions, the app crashed after selecting an image. These are the logs that I got:
[code]

But I do not understand why StrictMode is working even when developer mode is turned off.

[2019-12-21 19:59] iamareebjamal commented on #2001
Because it's debug build. Let's turn strict mode to log only because it is clearly broken

[2019-12-21 20:00] iamareebjamal commented on #1857
https://api.eventyay.com

[2019-12-21 20:00] #1999 closed

[2019-12-22 08:27] Siva-Siddarth-Reddy opened #2011 "App didnt contain any vedio please update your app"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Logs**

**Screenshots**

**Smartphone Info:**

|               | |
|---------------|-|
|Device         ||
|Android Version|    |

**Additional context**

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other:

[2019-12-22 10:06] adityastic commented on #2011
@iamareebjamal

[2019-12-22 10:52] #2011 closed

[2019-12-22 12:14] izhanali commented on #1831
would like to work on this

[2019-12-26 16:39] #2001 closed

[2019-12-28 14:31] Sid911 commented on #1990
@liveHarshit can I work on it... no developement seem to have been taking place 😇

[2019-12-29 06:02] chourasiaamit commented on #2000
No issue is not solved my internet speed is good but still I can't see my profile image on side bar

[2019-12-31 12:47] SAM389 opened #2017 "Pslab"
The accelerometer is not working properly. when I am not moving then also it shows very high readings.

[2019-12-31 13:17] #2017 closed

[2020-01-02 09:17] iamareebjamal opened #2020 "Reimplement event sales stats"
Since revenue, tickets sold, tickets available have been removed from the API, app sales info is broken and needs to be reimplemented

https://github.com/fossasia/open-event-organizer-android/pull/1315

[2020-01-02 09:18] iamareebjamal commented on #2020
@codedsun Can you take this up please

[2020-01-02 10:09] codedsun commented on #2020
Okay, taking

[2020-01-02 16:00] codedsun commented on #2020
@iamareebjamal - For the revenue I can get in https://open-event-api-dev.herokuapp.com/v1/events/9/order-statistics

Response: ` {"data": {"type": "order-statistics-event", "attributes": {"sales": {"total": 200.0,`

But for tickets- i had to get the tickets via
/v1/events/9/tickets

and suppose if the event has multiple ticket - then fetch these ticket details in a loop with ticket-is

like `/v1/t

[2020-01-02 19:40] iamareebjamal commented on #2020
They should be available there

[2020-01-03 09:28] pallav12 opened #2022 "Republishing past events"
Right now in order to republish past event on new time, the procedure is to first unpublish it(move it to draft), than publish it from there. But while doing so one will lose his past event.
Ideally it should give direct option to create a copy and republish.

**Would you like to work on the issue?**

 Yes

[2020-01-03 11:56] codedsun commented on #2020
@iamareebjamal

The event statics shows this as response. We dont have total quantity of tickets.

[code]

[2020-01-03 14:49] iamareebjamal commented on #2020
Then what is this?

[code]

[2020-01-03 14:58] codedsun commented on #2020
@iamareebjamal  - it's not the total quantity of tickets which can be ordered.

From the codebase it says
`total = db.session.query(func.sum(OrderTicket.quantity.label('sum'))).join(Order.order_tickets).filter(
            OrderTicket.ticket_id == obj_id).scalar()`

Actual ticket capacity is different

![image](https://user-images.githubusercontent.com/20026440/71730202-8ff61600-2e67-11ea-895b-07c

[2020-01-03 15:04] iamareebjamal commented on #2020
Yeah, then add them in event statistics

[2020-01-03 15:08] codedsun commented on #2020
Okay, then will raise the issue on server side. Thanks

On Fri, Jan 3, 2020, 8:34 PM Areeb Jamal <notifications@github.com> wrote:

[2020-01-03 15:09] iamareebjamal commented on #2020
Same issue, no need of creating new one

[2020-01-04 05:44] codedsun commented on #2020
@iamareebjamal  - What should be the structure like when there are multiple tickets?

I should add them under `http://127.0.0.1:5000/v1/tickets/30/order-statistics` but then again the client has to call this API for all the unique ticket available .?

Am I Corrrect?

[2020-01-04 10:11] iamareebjamal commented on #2020
?

[2020-01-04 10:14] codedsun commented on #2020
@iamareebjamal  - The ticket quantity is not present under http://127.0.0.1:5000/v1/tickets/30/order-statistics
 as discuessed here. (https://github.com/fossasia/open-event-organizer-android/issues/2020#issuecomment-570595585)

You asked me to add under this, but how do I do this when there are multiple tickets like (Paid, Free etc) shall I return just the sum of them in this api?

or shall I add

[2020-01-04 10:27] iamareebjamal commented on #2020
I asked to add under general-statistics.

See what's required in app. You're looking at screenshot of frontend and that too of order sales, not ticket count, about which the discussion was going on

[2020-01-04 11:27] codedsun commented on #2020
@iamareebjamal - I mean that
`revenue, tickets sold, tickets available`  this is required in the app as they are removed from the api.
` https://open-event-api-dev.herokuapp.com/v1/users/31/events?page[size]=0`

SS for the app:

![](https://user-images.githubusercontent.com/23634977/44049790-b619ba3a-9f52-11e8-8498-1b65c730d704.png)

Now as I want these - I will have to hit

1. For all the events

[2020-01-04 11:37] iamareebjamal commented on #2020
First you were talking about multiple tickets types and free and paid tickets and whatnot and now you're talking about multiple API calls. Can you please stick to 1 thing in a discussion?

You don't need ?include=tickets for ticket count. Add that info in order statistics and include order-statistics with events

https://open-event-api-dev.herokuapp.com/v1/users/31/events?page[size]=0&include=orde

[2020-01-04 11:56] codedsun commented on #2020
@iamareebjamal  - I am sorry.

I will add the info (ticket_quantity) under `order-statistics`.

I got this.

Now,

my first ques(https://github.com/fossasia/open-event-organizer-android/issues/2020#issuecomment-570773207)  -

` but how do I do this when there are multiple tickets like (Paid, Free etc) shall I return just the sum of them in this api?`

Explain - If i had multiple tickets
Paid -  Ti

[2020-01-04 11:58] iamareebjamal commented on #2020
Why do you need to separate free and paid tickets? Is there a UI in the app where it is needed?

[2020-01-04 12:00] codedsun commented on #2020
I don't need to seperate, I am asking about the case here - When there are multiple tickets in an event then I have to take their quantity count also.

[2020-01-04 12:03] codedsun commented on #2020
I have not mentioned anywhere of seperating-
For an event -
the ticket quantity count should be equal to sum of all the possible tickets ticket quanity (be it paid, dontation, free)

More specific - this is what I am talking about

![image](https://user-images.githubusercontent.com/20026440/71765255-44e80b80-2f18-11ea-87ff-825085f5a5f9.png)

[2020-01-04 13:02] iamareebjamal commented on #2020
Yes

[2020-01-06 08:13] rajat-png opened #2024 "Suggest a feature"
one feature i suggest you to create a option "RATE US"
Better than "RATE US" feature.

[2020-01-07 13:34] aa200400 opened #2025 "Misaligned buttons"
**Describe the bug**

In the "Generate Config File", the buttons for instrument and time interval are misaligned and are partially cut out.

**To Reproduce**

1. Open the tabs to the right
2. Open "Generate Config File" screen
**Expected behavior**

The buttons should not be misaligned and out of place.
**Screenshots**

![Screenshot_20200107-072353](https://user-images.githubusercontent.com/541513

[2020-01-07 13:40] #2025 closed

[2020-01-08 16:33] shaik-sha-4449 opened #2027 "Please upload some vedios in this app for extra information"
**Describe the feature you'd like**

**Screenshots**

**Additional context**

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other:

[2020-01-08 17:05] #2027 closed

[2020-01-09 02:17] siva-siddartha-reddy-5377 opened #2028 "Please upload some vedios in this app for more information"
**Describe the feature you'd like**

**Screenshots**

**Additional context**

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other:

[2020-01-09 02:33] #2028 closed

[2020-01-09 02:33] iamareebjamal commented on #2028
Don't spam the issue boards with invalid issues

[2020-01-09 02:35] siva-siddartha-reddy-5377 commented on #2028
Ok sorry please forgive

On Thu, 9 Jan 2020, 8:03 am Areeb Jamal, <notifications@github.com> wrote:

[2020-01-11 15:48] SKS225 opened #2031 "Include video guides and tutorials for each features"
**Describe the feature you'd like**

**Screenshots**

**Additional context**

**Would you like to work on the issue?**

- [ ] Yes
- [x] No
- Other:

[2020-01-13 10:07] #2031 closed

[2020-01-13 14:46] vs4862876 commented on #2024
Hello.I have spent a lot of time on the App. And fond a minor mistake that App is in single colour that is red.It should be in different colours to attract users.I would love to see an instrument to that can count the number of steps.Descriptions of guide should be more deatailed.It should be user friendly.

[2020-01-15 17:46] aryanguls opened #2034 "Update Open Event Android To Support more Languages"
**Describe the feature you'd like**
Many people may not understand all basic languages and thu smay need the app translated to their native language. But as of now the app does not seem to offer any such option.

**Additional context**
I believe the app should eventually at some time have the ability to support atleast all major foreign languages apart from English.

**Would you like to work on th

[2020-01-16 15:30] #1884 closed

[2020-01-18 08:36] pranavkarthik10 opened #2037 "Add Chinese (Simplified) Language."
**Describe the feature you'd like**

As many of FOSSASIA's software is primarily used in Asia, and thus China, adding the Chinese language as an option for users would greatly benefit many, especially the attendees of events in those countries.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No

[2020-01-18 16:28] #2037 closed

[2020-01-18 17:14] 991rajat commented on #1824
I would like to implement it.

[2020-01-21 08:15] Sid911 opened #2041 "chore: Upgrade Gradle dependencies"
**Describe the chore**
Upgrading Gradle dependencies

**Would you like to work on the issue?**

- [x] Yes
- [ ] No

[2020-01-21 11:04] Shreyanshsaboo opened #2043 "Bug report for PSLab Android app"
1. some of the measuring types of equipment( like Oscilloscope) are horizontal and cannot be worked if the mobile phone is kept vertical.

2.  Some of the measuring types of equipment( like barometer) work but show a message that it is not installed in your phone.

[2020-01-21 11:19] dheerajkotwani commented on #2043
**This Repo is of Open Event Organiser App**
Give the issues of PSLab in https://github.com/fossasia/pslab-android/issues

[2020-01-21 11:37] Sid911 commented on #2024
I think new rating system should be added like Google Maps etc. so that people can get prompted once about rating the application

[2020-01-21 11:41] Sid911 opened #2044 "Adding a rating system"
**Describe the feature you'd like**
Usually applications like Google Maps etc have a dialog which asks the users if they want to review the application. I would be nice to have it as most of the user don't bother to rate the application not because they don't want to but theywould have to go to the play store and open application page view then  review it.

**Screenshots**
Not really required

**A

[2020-01-21 11:42] iamareebjamal commented on #2024
@vs4862876 There is not a single place in the app where the color RED is used. Don't know if red is same around the world, but here, it refers to the part of visible light with lowest frequency and highest wavelength

[2020-01-21 11:42] iamareebjamal commented on #2043
If only people could read

[2020-01-21 11:42] #2043 closed

[2020-01-21 16:03] #2041 closed

[2020-01-22 09:49] #2044 closed

[2020-01-22 10:04] #2024 closed

[2020-01-22 21:01] dheerajkotwani opened #2047 "bug: No check for mobile number length in edit profile"
**Describe the bug**
No check for mobile number length is present in edit profile which makes user to enter mobile number for any length

**To Reproduce**
1. Go to Edit profile
2. Enter mobile number for any length
3. Save it
4. See error

**Expected behavior**
There must be a check for phone number length

**Screenshots**
![Screenshot_2020-01-23-02-23-29-952_com eventyay organizer](https://user-i

[2020-01-22 21:07] dheerajkotwani opened #2048 "bug: EditText for Name in Edit Profile"
**Describe the bug**
In the edit profile fragment while entering name and clicking enter changes the line but name should be entered in single line and it should focus to next edit text

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Edit Profile
2. Enter some name
3. Click Enter
4. See error

**Expected behavior**
Clicking enter should make focus on next edit text

**Screenshots**
![S

[2020-01-24 21:18] dheerajkotwani opened #2050 "bug: Scrolling in Edit profile"
**Describe the bug**
While Scrolling the Edit Profile layout in landscape mode the content hides behind the Done buttoon

**To Reproduce**
1. Go to Edit Profile
2. Change to landscape mode
3. Scroll down to bottom
4. See error

**Expected behavior**
The date should scroll above  the button

**Screenshots**
![bug_edit_profile_scroll](https://user-images.githubusercontent.com/44086235/73104682-fc22e

[2020-01-25 17:35] Bhawna11agg opened #2053 "Only Strong Password must be allowed only for Sign Up and Whitespace must not be allowed in beginning and in the end of password"
**Describe the bug**
While entering a password there must be a check for a strong password and whitespace must not be allowed at the starting and end of the password.

**To Reproduce**
1. Go to Sign Up Page
2. Click on Password
3. Enter 8 Whitespaces and it is accepting
4. See error

**Expected behavior**
Only strong passwords must be allowed to be accepted as a mixture of numbers, special charact

[2020-01-25 17:36] iamareebjamal commented on #2053
Your definition of a strong password is seriously flawed and this is the job of a server

[2020-01-25 17:36] #2053 closed

[2020-01-25 18:02] Bhawna11agg opened #2054 "Change Password Activity should contain Forget Password option"
**Describe the feature you'd like**
As if the user wants to change the password but he did not remember then it will create inconvenience for him.

**Screenshots**
![image](https://user-images.githubusercontent.com/47032273/73125261-7f087280-3fd7-11ea-89de-57c5a60d4adc.png)

**Would you like to work on the issue?**
Yes

[2020-01-25 18:21] Bhawna11agg commented on #2054
Can I work on this?

[2020-01-26 05:55] dheerajkotwani opened #2055 "bug: Date Time Input Text Alignment"
**Describe the bug**
Date and Time Input Text are not aligned properly in Create New Event

**To Reproduce**
1. Go to Create New Event
2. Scroll down to Date and Time
3. Uncheck Use Picker
4. See error

**Expected behavior**
Date Time Edit Text must be aligned properly

**Screenshots**
![Screenshot_2020-01-26-11-18-05-581_com eventyay organizer](https://user-images.githubusercontent.com/44086235/7

[2020-01-26 06:57] ankushmundhra commented on #2055
@dheerajkotwani i want to work on this.

[2020-01-26 18:28] dheerajkotwani commented on #2055
go ahead @ankushmundhra

[2020-01-26 20:13] #2047 closed

[2020-01-27 13:40] ankushmundhra opened #2058 "datetime edit text is too complex to understand."
**Describe the bug**
The datetime edit text in the create event activity shows the date time in a format that is too complex for a common man to understand.

**To Reproduce**
1. Go to Create New Event
2. Scroll down to Date and Time
3. Uncheck Use Picker
4. See the bug

**Expected behavior**
The datetime format should be easy to understand.

**Screenshots**
![Screenshot_20200127_175708_com eventya

[2020-01-27 20:44] dheerajkotwani opened #2059 "bug: previous button disappear while creating event"
**Describe the bug**
While creating any event if we change the orientation to landscape mode in Step 2 or Step 3 then Previous button gets disappeared from the screen

**To Reproduce**
1. Go to Step 2 of Create Event
2. Change orientation to landscape mode
3. Change orientation again to portrait mode
4. See error

**Expected behavior**
The previous button should not get diappeared on orientation c

[2020-01-27 20:51] dheerajkotwani opened #2060 "bug: pressing enter to change line"
**Describe the bug**
On pressing Enter in name while Creating Events or in Organiser Name take to a new line.

**To Reproduce**
1. Go to  Create Event
2. Click on Name of Event
3. Press enter
4. See error

**Expected behavior**
On pressing enter in name it should point to next input field

**Screenshots**
![issue_name](https://user-images.githubusercontent.com/44086235/73212684-beb89100-4174-11ea-

[2020-01-30 14:40] dheerajkotwani commented on #1831
I would like to work on this

[2020-01-30 15:00] 991rajat opened #2064 "feat: add hint to know about different privacy in speaker create"
**Describe the feature you'd like**
**Add hint (As ex. public,private) to know about different privacy in the speaker call create.
It will be helpful to know about different privacy.**

**Screenshots**

![Screenshot_20200130-202347](https://user-images.githubusercontent.com/38184186/73460872-35d16d80-439f-11ea-8042-05512371ff98.png)
**Would you like to work on the issue?**

- [x] Yes

[2020-01-30 15:02] 991rajat commented on #2064
YES

[2020-01-30 15:06] iamareebjamal commented on #2064
Explain

[2020-01-30 15:08] 991rajat commented on #2064
Privacy is public and private. What if people don't know and enter anything randomly.
The hint will tell the options they have.
Like Privacy (ex. public, private)

[2020-01-30 15:29] 991rajat opened #2065 "bug: crash when describe event left empty and back pressed"
**Describe the bug**
App crashes in Update Event Fragment when describing the event text view is left empty and back
the button is pressed.

**To Reproduce**
1. Go to any event.
2. Click Update Event.
3. Briefly describe the event editor left empty.
4. Back Button is pressed.

**Expected behavior**
Crash Must Not Happen if no changes or text view is empty.

**Logs**
FATAL EXCEPTION: main
    Proce

[2020-01-31 04:16] 991rajat commented on #2065
Is anyone facing this issue?

[2020-01-31 04:44] 991rajat opened #2067 "bug: privacy text view hide behind button"
**Describe the bug**
Due to no presence of a margin-bottom privacy text view hide behind the button.
Scrolling won't help here to reach to privacy text view.

**To Reproduce**
1. Go to Speaker Call Create
2. Change Orientation
3. Scroll down
4. See bug

**Expected behavior**
Margin Bottom required for proper scrolling.

**Screenshots**

![Screenshot_20200131-100711](https://user-images.githubuserc

[2020-01-31 05:13] ankushmundhra commented on #2058
@iamareebjamal Should i work on this issue?

[2020-02-02 07:43] 991rajat commented on #2064
@iamareebjamal Do you feel this issue relevant or helpful? Or Should I close it?

[2020-02-02 07:44] iamareebjamal commented on #2064
Make it a dropdown

[2020-02-03 18:32] 991rajat commented on #1854
@iamareebjamal Is this issue relevant. Can I take this one?

[2020-02-07 12:16] dipu989 opened #2072 "Delete icon appearing even after profile picture deleted"
**Describe the bug**
An option to delete the image is always there even after the image has been deleted.

**To Reproduce**

1. Go to your profile and upload a profile picture
2. Delete the picture

**Expected behavior**
There should be no option as such to delete the image after it's been deleted.

**Would you like to work on the issue?**
Open to all

[2020-02-07 17:05] dheerajkotwani commented on #2072
I would like to work on it

[2020-02-10 21:08] rishabh-997 opened #2073 "In App change language feature in settings"
**Describe the feature you'd like**
In the settings page, there must be a spinner through which we can change the language of app from the language list available

**Screenshots**

**Additional context**

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2020-02-10 21:09] rishabh-997 commented on #2073
Should I work on this @iamareebjamal sir ???

[2020-02-11 05:59] rishabh-997 commented on #2073
![Screenshot_20200211-112803_1](https://user-images.githubusercontent.com/45125121/74214027-c07c6b80-4cc1-11ea-9ff4-6013163a5c59.jpg)
Something like this

[2020-02-11 06:08] rishabh-997 opened #2074 "Create dark mode"
**Describe the feature you'd like**
It would be great if there is dark mode feature in app as well
*Additional context**

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2020-02-11 06:10] rishabh-997 commented on #2074
I am planning to use DayNight theme of material theme

[Day Night Theme](https://material.io/develop/android/theming/dark/)

@iamareebjamal sir ???

[2020-02-11 06:41] adityastic commented on #2074
@rishabh-997 it's very difficult to maintain dark mode and translations

[2020-02-11 09:11] iamareebjamal commented on #2074
Not a priority

[2020-02-11 19:49] 991rajat commented on #1092
@iamareebjamal Is this issue still open?

[2020-02-14 09:27] #2022 closed

[2020-02-15 14:38] sanjulamadurapperuma opened #2076 "Deleted profile picture reappears"
**Describe the bug**

A deleted profile picture reappears after clicking the hamburger menu icon and is visible when going into My Account.

**To Reproduce**

1. Go to My Account and add a profile picture.
2. Delete that profile picture.
3. Go back to the home page.
4. Click on the hamburger menu icon and go to my account.

**Expected behavior**

Profile picture should be deleted properly.

**Logs

[2020-02-15 15:15] sanjulamadurapperuma commented on #2055
This issue can be closed now right? Since the fix seems to have been merged already.

[2020-02-15 17:50] #2055 closed

[2020-02-18 04:26] HeinKhantZaw commented on #2076
I wanna take it.

[2020-02-19 13:36] #1854 closed

[2020-04-07 14:15] adiig7 commented on #2054
I want to work on this. Can I?

[2020-05-18 00:30] bipul144 commented on #2050
I like to work in it

[2020-05-18 14:32] dheerajkotwani commented on #2050
The issue already contain a pr.

[2020-05-21 08:38] nileshteji opened #2104 "Not able to Upload Image on Account Activity . Empty Snackbar being displaying."
While testing the Application I was not able to upload a new image  . After some time of Uploading the image, an empty snackbar is Displayed. There can be two bugs  in this thing:

1. If we are able to upload the image to the server , the Image is not being shown on the imageView, and also an empty snackbar is displayed.
2. There can be one more test case If the image is not being uploaded , there

[2020-05-21 09:03] nileshteji opened #2105 "Adding Save Button in the Edit Profile"
**Describe the feature you'd like**
There is no Save button in the Account activity which lets you change the updates of your account. Alert Dialog similar to Edit Profile(Screenshot attached below should be added to the account back press

**Screenshots**

Link for the UI Mockup
[Images](https://drive.google.com/folderview?id=1puj2jYBeum5m29GP3YzENO9grnZHro7g) for the UI Mockup. We should add an

[2020-06-07 20:06] rahullli commented on #2105
I want to work on this issue

[2020-06-20 07:42] jaspreetsidhu3 opened #2119 "GC overhead limit exceeded error"
**Describe the chore**
While Building the application its showing "Build Output showing GC overhead limit exceeded error".
**Working Environment**
Android Studio 4.0

**Would you like to work on the issue?**
Yes I have worked on this issue and its working now

[2020-06-20 08:01] #2119 closed

[2020-06-20 08:55] jaspreetsidhu3 opened #2120 "Update dependencies"
**Describe the feature you'd like**

**Would you like to work on the issue?**
Yes

[2020-06-20 14:10] Prince-kushwaha opened #2121 "On Screen configuration edit data change"
**Describe the bug**
In edit profile when i edit profile data or change data . on  screen configurations change edit data
erased
and in landscrope mode layout not fit

**Screenshots**
![20200620_192939](https://user-images.githubusercontent.com/65972015/85203682-f515c900-b32c-11ea-8447-c3b2538f565c.gif)

**Smartphone Info:**

|Device         ||
|Android Version|    |

**Would you like to work on t

[2020-06-20 14:11] Prince-kushwaha commented on #2121
i am working on this issue

[2020-06-20 14:28] Prince-kushwaha commented on #2121
I am working on this issue

[2020-06-25 04:43] Prince-kushwaha opened #2122 "bug:phone(edit text) hide behind Done button in landscape orientation"
**Describe the bug**
phone  edittext hide behind the "Done" button.
Scrolling won't help here to reach to phone edittext.

**To Reproduce**

![Screenshot_2020-06-25-09-56-06-783_com eventyay organizer](https://user-images.githubusercontent.com/65972015/85653835-2f83bb00-b6cb-11ea-8ddc-bbc2851246f8.jpg)

**Smartphone Info:**

|Device         |  Redmi y3|
|Android Version|   9.0 (Pie) |

**Would you

[2020-06-25 04:44] Prince-kushwaha commented on #2122
I am working on this issue

[2020-06-26 04:31] Prince-kushwaha commented on #2050
what this issue is solved or not

[2020-07-29 08:15] anushruti11 commented on #2007
I wanna work on this issue.Please assign it to me.

[2020-07-29 18:57] anushruti11 commented on #2054
Can I work on this?

[2020-07-30 15:02] saketsingh0078 commented on #2058
i want to work in this issue

[2020-07-30 16:44] iamareebjamal commented on #2058
Not needed

[2020-07-30 16:44] #2058 closed

[2020-08-04 14:06] KartikSoneji commented on #2054
@Bhawna11agg
@adiig7
@anushruti11

Needing the old password to set the new one is a standard security feature.
This **should never** be implemented.
For a more thorough explaination and some unique scenarios, I encourage you to read this post:
https://security.stackexchange.com/questions/162021/what-is-the-purpose-of-confirming-old-password-to-create-a-new-password

@fossasia Can this issue please

[2020-08-04 17:20] KartikSoneji commented on #2058
@iamareebjamal

This seems like a good improvement to me.
"too complex for a common man" is a bit of an exaggeration, but the date can be displated in a nicer format.
Something like:
[code]
Was there a particular reason for the issue to be closed?

[2020-08-04 18:12] iamareebjamal commented on #2058
Yes, we already provide date picker for "common man". The checkbox is for advance users and stores datetime in ISO8601 format. There is neither a reason to show it in `27 Jan 2020  17:56  +5:30 (IST)` format nor a way to parse it as such when there already is a date time picker for others

[2020-08-05 08:47] shubhamofbce commented on #2007
@Kalit31 Any updates on this issue ??

[2020-08-05 08:53] shubhamofbce commented on #2054
@Bhawna11agg How are you going to solve this issue?? If you are planning to remove the Old password field then it is a serious issue.You can't do this but If you can think of some other innovative way to do the same then please share that ??

[2020-08-24 10:33] codesurf commented on #2072
My team of computer science pursuing members would like to work upon resolving this issue.

[2020-08-24 10:39] codesurf commented on #1803
Is this issue still open?

[2020-08-24 16:50] Pranshu-Tripathi commented on #2105
I would like to work on this issue.
@rahullli are you working on still this??

[2020-08-29 20:21] nileshteji commented on #2122
@Prince-kushwaha  Is this issue Completed?

[2020-09-12 22:10] ritmojs commented on #2122
I want to work on this issue.

[2020-09-12 22:11] ritmojs commented on #2120
I want to work on this issue.

[2020-09-13 05:31] liveHarshit commented on #2122
@ritmojs Please go ahead

[2020-09-13 05:44] #2120 closed

[2020-09-13 18:16] liveHarshit commented on #2122
fixed

[2020-09-13 18:16] #2122 closed

[2020-09-15 15:44] rasacharjee commented on #2121
@Prince-kushwaha are you still working on the issue? If not, can I work on the issue.

[2020-09-28 18:34] mariobehling commented on #2074
No need, out of scope in this project. Therefore closing it.

[2020-09-28 18:34] #2074 closed

[2020-09-28 18:34] mariobehling commented on #2064
out of scope. We need to focus on basic feature parity with website for now.

[2020-09-28 18:34] #2064 closed

[2020-10-01 15:59] ritikkanotra commented on #2076
I am going to work on this.

[2020-10-08 15:03] nulllpointerexception commented on #2059
i am working on this

[2020-10-09 07:18] nulllpointerexception commented on #2121
i am working on this

[2020-10-09 10:50] #2059 closed

[2020-10-09 13:03] nulllpointerexception commented on #2060
@liveHarshit  can i work on this ?

[2020-10-09 14:57] Ashutoshgupta22 commented on #2105
can I look into this ?

[2020-10-09 15:58] riturajjain2000 commented on #2105
I am working on it :)

[2020-10-11 02:39] #2060 closed

[2020-10-11 06:43] adiig7 commented on #2105
@riturajjain2000 are you still working on it?

[2020-10-11 06:43] adiig7 commented on #2104
Can I work on this?

[2020-10-11 06:44] adiig7 commented on #2076
Can I work on this?

[2020-10-11 06:45] adiig7 commented on #2065
Can I work on this?

[2020-10-11 06:45] adiig7 commented on #1961
Can I take this up?

[2020-10-11 06:51] ritikkanotra commented on #2076
I am still working on it.
Please wait for 3-4 days. If i would not be able to fix that, then I will inform you here.

[2020-10-11 13:22] adiig7 commented on #2121
@nulllpointerexception are you still wotking?

[2020-10-11 13:24] adiig7 commented on #2067
@mariobehling please assign it to me.

[2020-10-12 14:10] riturajjain2000 commented on #2105
No, as I'm not able to understand the issue fully , you can work on it

[2020-10-13 11:29] liveHarshit commented on #2104
@adiig7 go ahead

[2020-10-13 11:29] liveHarshit commented on #2065
@adiig7 Take one issue at once, raise PR, take another, thanks

[2020-10-13 11:30] adiig7 commented on #2065
Yup okay, thanks.

[2020-10-13 13:20] nulllpointerexception commented on #2121
yes

[2020-10-14 03:43] Prince-kushwaha commented on #2121
is this bug is fixed?

[2020-10-18 13:56] Medhavi-16 commented on #2105
I am interested in working on this issue?

[2020-10-18 13:58] Medhavi-16 commented on #2076
I am interested in working on this issue

[2020-10-18 14:02] ritikkanotra commented on #2076
Yeah, you can. Sorry for late reply. @adiig7 @Medhavi-16

[2020-10-19 18:20] iamareebjamal opened #2176 "Add a dialog notifying that the app is prototype"
Add popup screen: "This mobile app is still in its prototype stage with many features being experimental. We currently recommend using this app only for testing."

The popup should only display once

[2020-10-20 13:48] nileshteji commented on #2176
@iamareebjamal  working on this issue

[2020-10-25 09:00] mishra5047 commented on #2176
Hi @iamareebjamal should i work on this issue?

[2020-10-26 06:00] sandhukaran28 commented on #2176
Hey Sir, I would like to work on this issue

[2020-10-26 15:28] #2121 closed

[2020-10-26 15:37] comradekingu opened #2180 "Changing translation license means simplified chinese translation can't get used"
https://hosted.weblate.org/changes/?component=open-event-organizer-android-app&project=open-event&lang=&action=55&user=

Was previously GPLv3+. Changing it to a "lesser" license can only be done by the author.

Anyway, why not go AGPLv3+ on both server and app, along with translations?

[2020-10-28 05:09] mohitbahadure commented on #2176
I would like to work on this issue

[2020-10-28 10:26] YugN17 commented on #2050
@mariobehling @dheerajkotwani  can i work on this issue???

[2020-10-28 12:15] iamareebjamal commented on #2176
Please don't just comment I want to work on this issue. Send a PR after commenting. 4 people have commented in a week and not a single PR

[2020-10-28 12:20] iamareebjamal commented on #2050
Take one issue at a time

[2020-10-28 12:48] YugN17 commented on #2050
@iamareebjamal yes i am taking this one

[2020-10-29 09:03] Prince-kushwaha commented on #2050
I want to work on this issue

[2020-10-29 09:47] nileshteji commented on #2176
@iamareebjamal The Project is not able to build .I have raised the concern multiple types on Gitter Chanel.

[2020-10-29 12:28] iamareebjamal commented on #2176
https://github.com/fossasia/open-event-organizer-android/runs/1323277639
https://circleci.com/gh/fossasia/open-event-organizer-android/4071?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

It is able to build in both these places. You have to either update the project to latest gradle or downgrade your tooling to older version which is used in the project. First

[2020-10-30 13:26] SunitRoy2703 commented on #2048
I'm working on this

[2020-10-31 06:35] Goheljay commented on #2105
i want to work on this issue. I am interested.

[2020-10-31 14:05] #2176 closed

[2020-11-02 14:37] nileshteji commented on #2065
@adiig7  still working on the issue?

[2020-11-02 18:05] iamareebjamal commented on #2065
@nileshteji No, go ahead

[2020-11-10 04:13] rutvik-panchal opened #2189 "Error: Attempt to invoke virtual method 'boolean java.lang.Boolean.booleanValue()' on a null object reference"
**Describe the bug**
Error on Get Started check email page: Attempt to invoke virtual method 'boolean java.lang.Boolean.booleanValue()' on a null object reference.

**To Reproduce**
Install application and on first login enter the email for login/signup and submit.

**Expected behavior**
The page should be redirected on the login page and ask for email id and password for login.

**Logs**
NA

**Sc

[2020-11-10 08:58] #2189 closed

[2020-11-11 05:38] yash0208 commented on #2105
I Want To Work On The Issue I Might Like Working On This Kind Of Issues.

[2020-11-11 12:40] shreyashcode commented on #2104
@adiig7 are you working on it??

[2020-11-18 07:00] souravshine commented on #2060
Can I work in this

[2020-12-06 06:03] Muskan-2403 commented on #2073
Sir, can i work on this? @iamareebjamal @mariobehling

[2020-12-06 10:57] rishabh-997 commented on #2073
Which language are you intending to add in the app?

[2020-12-06 11:12] Muskan-2403 commented on #2073
Hindi

[2020-12-15 14:56] vennelakoilada362 commented on #2067
I want to work on this issue, please assign it to me
I want to contribute on this issue and guide me though this

[2020-12-17 12:42] indexoutofboundsexceptionn opened #2201 "Action Bar search view is not fully expanding in landscape mode"
**Describe the bug**
Action Bar  search view in the Attendee Activity  is not fully expanding in the Landscape mode.  Search View close icon appears form the middle of the action bar.

**To Reproduce**

1. Click on Any Event
2. Click on 'CHECK IN'
3. Go to Landscape Mode
4. Type something in the Search box
5. See error

**Expected behavior**
The search box should expand getting the full width of t

[2020-12-20 17:16] Shhreyya commented on #2105
**I want to resolve this issue.**

[2020-12-20 17:34] Shhreyya commented on #2054
I want to work on this issue.

[2020-12-20 17:35] Shhreyya commented on #2000
I can work on this issue.

[2020-12-20 17:36] Shhreyya commented on #1831
I want to work on this.

[2020-12-20 17:38] Shhreyya commented on #1734
@ShridharGoel I want to work on this.

[2020-12-20 17:39] Shhreyya commented on #1803
@ShridharGoel can I work on this issue?

[2020-12-20 17:43] Shhreyya commented on #1446
I want to work on this.

[2020-12-27 15:33] deepak-prajapatii commented on #2072
@dipu989 Can I work on this issue?

[2021-01-05 04:25] msubham193 commented on #1961
i can fix it....

[2021-01-05 04:47] msubham193 opened #2204 "App crash when i put email on Get Started page"
When i open the app  put email for signup and click get started and then in toast message it shows error
![IMG_20210105_102417 1](https://user-images.githubusercontent.com/63531369/103608128-9fa7af00-4f40-11eb-92f9-0c0e177f3a61.jpg)

[2021-01-06 08:32] siddhantdrk commented on #2104
@liveHarshit can I work on it ??

[2021-01-12 16:09] varunvjha opened #2207 "Timeout error in the login activity"
**Describe the bug**
As soon as the email address is entered and Get Started is clicked, it almost always shows "timeout" at the bottom of the screen.

**Smartphone Info:**

|               | |
|---------------|-|
|Device         |Nexus 6|
|Android Version |Android 10|

**Would you like to work on the issue?**

- [ ] Yes
- [x] No

[2021-01-15 08:12] prateek-singh-3212 commented on #2204
@msubham193 are you working on this issue?

[2021-01-15 12:35] msubham193 commented on #2204
@prateek-singh-3212  No.....

[2021-01-23 08:17] shubham242k opened #2211 "Jacoco plugin error after upgrading gradle"
**Describe the chore**
After updating my gradle version to 6.5 , I am getting the error message in the build console as follows :
**"Cannot set the value of read-only property ‘executionData’ for task ‘:client:jacocoTestFlavorDebugUnitTestReport’ of type org.gradle.testing.jacoco.tasks.JacocoReport."**

**Would you like to work on the issue?**
Yes

[2021-01-23 15:29] #2211 closed

[2021-01-24 07:39] gargVader opened #2212 "GroovyRuntimeException on build"
**Describe the bug**
Error at the time of build
**To Reproduce**
Steps to reproduce the behavior:
1. Clone project
2. Build project
3. Scroll down to 'build output'
4. See error `Caused by: groovy.lang.GroovyRuntimeException: Cannot set the value of read-only property 'sourceDirectories' for task ':app:testFdroidDebugUnitTestCoverage' of type org.gradle.testing.jacoco.tasks.JacocoReport.`

**Smart

[2021-01-24 16:07] mdzaidalam52 commented on #2207
I want to work on this. Please do assign me this issue.

[2021-01-28 03:13] Prashant830 commented on #2050
Can I solve this problem?

[2021-01-28 03:20] Prashant830 commented on #2048
Can I solve this problem

[2021-01-28 03:23] Prashant830 commented on #2000
Can I solve this issue

[2021-01-28 03:25] Prashant830 commented on #1990
Can I solve this problem

[2021-01-28 03:34] Prashant830 commented on #1860
I'm working on it

[2021-02-02 02:44] msubham193 commented on #2000
can i work on this issue...

[2021-03-02 20:11] shubhamsgit opened #2222 "Convert SpeakersCallPresenter to ViewModel"
**Describe the Issue**

- Convert SpeakersCallPresenter to ViewModel.
- Add unit tests for the SpeakersCallViewModel.

Parent issue: #562

**Would you like to work on the issue?**

- [x] Yes
- [ ] No

[2021-03-02 20:11] amtheshubham commented on #2222
I am working on this issue

[2021-03-05 11:54] mannandeep commented on #2105
Can I work on this issue, or is being worked on by someone right now?

[2021-03-10 06:02] iamvs-2002 commented on #2204
May I try to resolve this issue, please?

[2021-03-10 06:03] iamvs-2002 commented on #2207
@varunvjha Are you talking about Connection timeout?

[2021-03-16 10:22] iamvs-2002 commented on #2204
Alright, I'll begin to work on this issue. Thank you!

[2021-03-18 08:38] iamvs-2002 commented on #2204
Hey! I was going through the code, I have got the solution to avoid this error.
I have solved the email issue, it was just a little error in the models as the getter and setter methods were not defined there.

But now, I am stuck in some other issue which is: DaggerAppComponent not created!
I checked the dependencies, all correct!
I tried to clean and rebuild the project, but still the DaggerAppCo

[2021-03-31 06:18] raghavpartani opened #2232 "I think the email verification is not working"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Logs**

**Screenshots**

**Smartphone Info:**

|               | |
|---------------|-|
|Device         ||
|Android Version|    |

**Additional context**

**Would you like to work on the issue?**

- [ ] Yes
- [x] No
- Other:

[2021-03-31 06:24] raghavpartani opened #2233 "In update profile section there is no validation on phone number"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Logs**

**Screenshots**

**Smartphone Info:**

|               | |
|---------------|-|
|Device         ||
|Android Version|    |

**Additional context**

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2021-05-27 05:47] Prashant830 commented on #2105
I've solved it, can I hit a PR?

[2021-05-27 05:48] Prashant830 commented on #2067
I've solved it, can I hit a PR?

[2021-05-27 19:22] nileshteji commented on #2105
I think no other PR'S have been attached to this issue .You could go ahead

[2021-07-21 17:39] toth2000 commented on #2233
Can I work this issue?

[2021-07-23 12:08] prince02765 commented on #2232
Yes, I would Like to work on this issue.

[2022-06-03 11:12] afkhami7e opened #2260 "app:compileFdroidDebugJavaWithJavac JAXBException"
When run app, i have this problem:

[2022-07-14 11:39] licaon-kter opened #2261 "F-Droid version - non-FOSS dependencies"
FYI https://gitlab.com/fdroid/fdroidserver/-/issues/1004#note_1026488927